.footer {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.footer-logo {
  margin: 0 auto;
  width: 150px;
}

.footer-item {
  color: rgba(255, 255, 255, 0.85);
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
