.navigation {
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-fixed;
  @extend .has-background-rapids-purple-primary;

  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.navigation__brand {
  min-height: 3.25rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  @include media-breakpoint-up(lg) {
    width: auto;
  }
}

.navigation__logo {
  max-height: 2.5rem;
}

.navigation__item,
.navigation__link {
  padding: 0.5rem 0;
  line-height: 1.5;

  @include media-breakpoint-up(lg) {
    padding: 0.5rem 0.75rem;
  }
}

.navigation__item {
  color: white;
  position: relative;

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: stretch;
  }
}

.navigation__link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid white;
  transition: color 0.2s ease-out;

  &:hover {
    color: #b49fd6;
  }

  @include media-breakpoint-up(lg) {
    border-bottom: none;
  }
}

.navigation__item--dropdown {
  padding: 0;
}

.navigation__item--dropdown .navigation__link {
  padding-right: 2.5em;
}

.navigation__item--dropdown .navigation__link::after {
  border: 3px solid white;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
  margin-top: -0.375em;
  right: 1.125em;
}

.navigation__burger {
  line-height: 1;
  margin: 1rem;
  padding: 0;
  color: white;
  font-size: $h4-font-size;
  border: none;
  text-decoration: none;
  box-shadow: none;

  &:hover,
  &:active {
    color: white;
  }

  &::before {
    font-family: 'Font Awesome 6 Free';
    content: "\f0c9";
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.navigation__menu {
  align-items: stretch;
  transition: all 0.35s ease; // 0.35s ease matches other Docsy menu transitions
  height: 0;
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    display: flex;
    height: auto !important;
    overflow: visible;
  }
}

.navigation__dropdown {
  font-size: 0.875rem;
  padding: 0.5rem 1.5rem;

  @include media-breakpoint-up(lg) {
    display: none;
    padding: 0.5rem 0;
  }
}

.navigation__item:hover .navigation__dropdown {
  @include media-breakpoint-up(lg) {
    display: block;
    position: absolute;
    top: 100%;
    background-color: rgb(139, 47, 255);
    box-shadow: 0 4px 4px rgba(10, 10, 10, 0.2);
    border-radius: 0 0 6px 6px;
  }
}

.navigation__dropdown .navigation__item {
  display: block;

  @include media-breakpoint-up(lg) {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-right: 3rem;
    padding-left: 1rem;
    text-wrap: nowrap;
  }
}

.navigation__dropdown .navigation__item:hover {
  @include media-breakpoint-up(lg) {
    color: #b49fd6;
  }
}
