{{- define "main" -}}

<!-- Hero Partial -->
{{ partial "hero.html" (dict
"text" "Learn More"
"btn_text" "Try RAPIDS + NVIDIA AI Enterprise"
"btn_link" "https://www.nvidia.com/en-us/data-center/products/ai-enterprise/"
) }}

<!-- Intro -->
<section class="row section mb-6">
  <div class="col">
    <div class="container">
      <h1 class="text-center mb-5"> Learn about the project, use cases, <br> and engagement with RAPIDS </h1>
      <div class="row">
        <div class="col-md-4 py-3">
          <h2><i class="fa-regular fa-circle-info"></i> About </h2>
          <p>RAPIDS is a collection of open source software libraries and APIs that gives you the ability to execute
            end-to-end
            data science and analytics pipelines entirely on NVIDIA GPUs using familiar PyData APIs. <a
              href="#about">Jump To Section <i class="fa-solid fa-arrow-up-right"></i></a> </p>
        </div>
        <div class="col-md-4 py-3">
          <h2><i class="fa-regular fa-chart-user"></i> Use Cases </h2>
          <p> Learn more about RAPIDS success stories, use cases, applications, research and other topics related to GPU
            accelerated data science. <a href="#use-cases">Jump To Section <i
                class="fa-solid fa-arrow-up-right"></i></a></p>
        </div>
        <div class="col-md-4 py-3">
          <h2><i class="fa-regular fa-message-exclamation"></i> Get Involved </h2>
          <p> Get in contact with RAPIDS, find enhanced support with NVIDIA enterprise services, and reach out to the
            broader developer community. <a href="#get-involved">Jump To Section <i
                class="fa-solid fa-arrow-up-right"></i></a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bottom-slant-container">
  <div class="bottom-slant-down bg-white"></div>
</div>

<!-- About -->
<div id="about"></div>
<section class="row section padding-top-slant padding-bottom-slant">
  <div class="col">
    <div class="container">

      <h1 class="mb-5"> About The Project</h1>
      <div class="row">
        <div class="col-md-4 py-3">
          <h2><i class="fa-light fa-house-laptop"></i> Familiar </h2>
          <p>Utilizing NVIDIA CUDA primitives for low-level compute optimization, RAPIDS exposes GPU parallelism and
            high-bandwidth memory speed through user-friendly interfaces:</p> <br>

          <div class="content fs-7">
            <i class="fa fa-caret-right"></i> Dataframe processing with <a href="https://github.com/rapidsai/cudf"
              target="_blank">cuDF</a> (similar API to pandas) <br>
            <i class="fa fa-caret-right"></i> Machine learning with <a href="https://github.com/rapidsai/cuml"
              target="_blank">cuML</a> (similar API to scikit-learn) <br>
            <i class="fa fa-caret-right"></i> Graph processing with <a href="https://github.com/rapidsai/cugraph"
              target="_blank">cuGraph</a> (similar API to networkX) <br>
            <i class="fa fa-caret-right"></i> Spatial analytics with <a href="https://github.com/rapidsai/cuspatial"
              target="_blank">cuSpatial</a> (similar API to geoPandas) <br>
            <i class="fa fa-caret-right"></i> Image processing with <a href="https://github.com/rapidsai/cucim"
              target="_blank">cuCIM</a> (similar API to scikit-image) <br>
            <i class="fa fa-caret-right"></i> Seamless cross-filtered dashboards with <a
              href="https://github.com/rapidsai/cuxfilter" target="_blank">cuxfilter</a> <br>
            <i class="fa fa-caret-right"></i> Low level compute primitives with <a
              href="https://github.com/rapidsai/raft" target="_blank">RAFT</a> <br>
            <i class="fa fa-caret-right"></i> Apache Spark acceleration with <a
              href="https://nvidia.github.io/spark-rapids/" target="_blank">Spark RAPIDS</a> <br><br>

            and <a href="https://github.com/rapidsai" target="_blank">many more projects</a>...
          </div>
        </div>
        <div class="col-md-4 py-3">
          <h2><i class="fa-light fa-layer-plus"></i> Scalable </h2>
          <p> RAPIDS delivers impressive acceleration from on a single GPU desktop system all the way to MNMG
            (multi-node multi-GPU) configurations on an expansive range of <a
              href="https://www.nvidia.com/en-us/deep-learning-ai/solutions/data-science/" target="_blank">NVIDIA
              hardware</a>. </p> <br>

          <div class="content fs-7">
            <i class="fa fa-caret-right"></i> Impressive single GPU performance out of the box <br>
            <i class="fa fa-caret-right"></i> MNMG with <a href="https://docs.dask.org/en/stable/gpu.html"
              target="_blank"> RAPIDS + Dask</a> and <a href="https://nvidia.github.io/spark-rapids/"
              target="_blank">RAPIDS + Spark</a> <br>
            <i class="fa light fa-caret-right"></i> HPC with <a href="https://docs.rapids.ai/deployment/stable/hpc.html"
              target="_blank">RAPIDS + Slurm</a> <br>
          </div>
        </div>
        <div class="col-md-4 py-3">
          <h2><i class="fa-light fa-message-code"></i> Open Source </h2>
          <p> RAPIDS had its start from the <a href="https://arrow.apache.org/" target="_blank">Apache Arrow</a> and <a
              href="https://developer.nvidia.com/blog/goai-open-gpu-accelerated-data-analytics/"
              target="_blank">GoAi</a> projects based on a columnar, in-memory data structure that delivers efficient
            and fast data interchange with flexibility to support complex data models. </p>
          <br>
          <p> With <a href="https://developer.nvidia.com/rapids" target="_blank">NVIDIA backing</a>, it has maintained a
            focus on open source development (typically Apache 2.0 licensed) and collaboration with a broad community of
            cutting edge data science projects. </p>
        </div>
      </div>

      <div id="accelerators"></div>
      <h1 class="mt-10 mb-5"> PyData Accelerators </h1>

      <div class="row">
        <div class="col-md-6 py-3">
          <h2><i class="fa-light fa-gauge-circle-bolt"></i> cuDF Pandas Accelerator </h2>
          <p>cuDF has a new pandas accelerator mode to speed up pandas workflows with zero code change. This is part of
            an on-going effort to streamline accelerated data science.
            <a href="/cudf-pandas">Learn More on the Launch Page <i class="fa-solid fa-arrow-up-right"></i> </a>
          </p>
        </div>
        <div class="col-md-6 py-3">
          <h2><i class="fa-light fa-igloo"></i> Polars GPU Engine </h2>
          <p>RAPIDS and Polars are collaborating to GPU accelerate Polars DataFrames, enabling workflows to utilize both the GPU and CPU to significantly speed up workloads.
            <a href="/polars-gpu-engine">Learn More on the Launch Page <i class="fa-solid fa-arrow-up-right"></i> </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-3">
          <h2><i class="fa-light fa-circle-nodes"></i> Accelerated machine learning with cuML</h2>
          <p>cuML now accelerates scikit-learn, UMAP, and HDBSCAN with zero code change. Speed up your model training
            and inference process with the flip of a switch.
            <a href="/cuml-accel" target="_blank">Learn More on the Launch Page <i class="fa-solid fa-arrow-up-right"></i> </a>
          </p>
        </div>
        <div class="col-md-6 py-3"> </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-3">
          <h2><i class="fa-light fa-circle-nodes"></i> NetworkX Accelerator</h2>
          <p>The cuGraph backend for NetworkX brings accelerated graph analytics to every NetworkX user. This is another part of an on-going effort to streamline accelerated data science.
            <a href="https://docs.rapids.ai/api/cugraph/stable/nx_cugraph/nx_cugraph/" target="_blank">Learn More on the cuGraph Docs Page <i class="fa-solid fa-arrow-up-right"></i> </a>
          </p>
        </div>
        <div class="col-md-6 py-3"> </div>
      </div>

    </div>
  </div>
</section>

<!-- Use Cases -->
<div id="use-cases"></div>
<div class="top-slant-container">
  <div class="top-slant-up bg-rapids-gray"></div>
</div>

<section class="row section bg-rapids-gray pb-9">
  <div class="col">
    <div class="container">

      <h1 class="mb-4">Enterprise Use Cases</h1>
      <div class="row">
        <div class="col-md-6 py-3">
          <h2><i class="fa-light fa-cart-shopping-fast"></i> Walmart + RAPIDS ML</h2>
          <p> When you are a global-scale company, precision is everything. Learn how Walmart implemented XGBoost to
            increase forecast accuracy and potentially save billions of dollars.
            <a href="https://www.datanami.com/2019/03/22/how-walmart-uses-gpus-for-better-demand-forecasting/"
              target="_blank">Read More <i class="fa-solid fa-arrow-up-right"></i> </a>
          </p>
        </div>
        <div class="col-md-6 py-3">
          <h2><i class="fa-light fa-bee"></i> Bumble + RAPIDS ML</h2>
          <p> Buzzwords is Bumble's open-source GPU-powered topic modelling tool, developed in house and building upon
            the work found in BERTopic and Top2Vec. Buzzwords uses cuML's UMAP and HDBSCAN algorithms.
            <a href="https://medium.com/bumble-tech/multilingual-gpu-powered-topic-modelling-at-scale-dc8bd08609ef"
              target="_blank">Read More <i class="fa-solid fa-arrow-up-right"></i> </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-3">
          <h2><i class="fa-light fa-circle-phone-hangup"></i> AT&T + RAPIDS ETL</h2>
          <p> AT&T was able to do more, faster by moving data science workloads to GPU. Hear about their analysis and
            use of NVIDIA capabilities across different domains and share specific use case examples, their efficiency
            gains, and corresponding impacts.
            <a href="https://www.nvidia.com/en-us/on-demand/session/gtcfall22-a41235/" target="_blank">Hear More <i
                class="fa-solid fa-arrow-up-right"></i> </a>
          </p>
        </div>
        <div class="col-md-6 py-3">
          <h2><i class="fa-brands fa-aws"></i> Amazon + RAPIDS GNN</h2>
          <p> See how RAPIDS is enabling work on the very cutting edge by enabling Graph Neural Networks (GNN) for
            applications including drug discovery, recommender systems, fraud detection, and cybersecurity.
            <a href="https://www.nvidia.com/en-us/on-demand/session/gtcfall22-a41386/" target="_blank">Hear More <i
                class="fa-solid fa-arrow-up-right"></i> </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-3">
          <h2><i class="fa-light fa-bolt"></i> More Industry Use Cases...</h2>
          <p> Find more resources for industry specific ML, AI, and data science uses cases on NVIDIA's industry page.
            <a href="https://www.nvidia.com/en-us/industries/" target="_blank">Read More <i
                class="fa-solid fa-arrow-up-right"></i> </a>
          </p>
        </div>
        <div class="col-md-6 py-3"> </div>
      </div>

      <h1 class="mt-10 mb-4">Data Science Research</h1>
      <div class="row">
        <div class="col-md-6 py-3">
          <h2><i class="fa-light fa-chess-queen"></i> KGMON + RAPIDS</h2>
          <p> Learn about Kaggle Grandmasters of NVIDIA (KGMoN), and see how they use RAPIDS to build winning
            recommender systems, predict degradation rates in RNA molecules, identify melanoma in medical imaging, and
            more.
            <a href="https://www.nvidia.com/en-us/ai-data-science/kaggle-grandmasters/" target="_blank">Read More on the
              KGMON Page<i class="fa-solid fa-arrow-up-right"></i> </a>
          </p>
        </div>
        <div class="col-md-6 py-3">
          <h2><i class="fa-light fa-book-bookmark"></i> Research Papers</h2>
          <p> Using RAPIDS in your data science research and development? Let us know for opportunities to promote it.
            <a href="/branding">See the RAPIDS Citation Guide <i class="fa-solid fa-arrow-up-right"></i> </a> </p>
        </div>
      </div>

    </div>
  </div>
</section>

<div id="get-involved"></div>
<div class="bottom-slant-container">
  <div class="bottom-slant-down bg-rapids-gray"></div>
</div>

<!-- Engagement -->
<section class="row section padding-top-slant padding-bottom-slant">
  <div class="col">
    <div class="container">
      <h1 class="mb-5"> Get Involved </h1>
      <div class="row">
        <div class="col-md-4 py-3">
          <h2><i class="fa-light fa-briefcase"></i> Business </h2>
          <p>Use RAPIDS directly or through NVIDIA AI Enterprise, which provides extensive optimization, certified
            hardware profiles, and direct IT support.
            <a href="https://www.nvidia.com/en-us/data-center/products/ai-enterprise/" target="_blank"> Read more about
              NVIDIA AI Enterprise<i class="fa-solid fa-arrow-up-right"></i> </a>
          </p>
        </div>
        <div class="col-md-4 py-3">
          <h2><i class="fa-light fa-users-line"></i> Community </h2>
          <p> Reach out and engage with the RAPIDS community on the following channels: </p>

          <a href="/slack-invite" target="_blank"><i class="fa-brands fa-slack"></i> Slack Channel <i
              class="fa-solid fa-arrow-up-right"></i> </a> <br>
          <a href="https://stackoverflow.com/tags/rapids" target="_blank"><i class="fa-brands fa-stack-overflow"></i>
            Stack Overflow <i class="fa-solid fa-arrow-up-right"></i> </a> <br>
          <a href="https://twitter.com/rapidsai" target="_blank"><i class="fa-brands fa-twitter"></i> X/Twitter <i
              class="fa-solid fa-arrow-up-right"></i> </a> <br>
          <a href="https://developer.nvidia.com/blog/tag/rapids/" target="_blank"><i class="fa-light fa-square-rss"></i>
            NVIDIA Developer Blogs <i class="fa-solid fa-arrow-up-right"></i> </a> <br>
        </div>
        <div class="col-md-4 py-3">
          <h2><i class="fa-light fa-bullhorn"></i> Evangelism </h2>
          <p> Promote and foster more use of RAPIDS with these Deep Learning Institute (DLI) and Launchpad</a> courses:
          </p>
          <a href="https://courses.nvidia.com/courses/course-v1:DLI+S-DS-01+V1/" target="_blank">Accelerating End-to-End
            Data Science Workflows <i class="fa-solid fa-arrow-up-right"></i> </a> <br>
          <a href="https://courses.nvidia.com/courses/course-v1:DLI+S-DS-01+V1/" target="_blank">Fundamentals of
            Accelerated Data Science <i class="fa-solid fa-arrow-up-right"></i> </a> <br>
          <a href="https://www.nvidia.com/en-us/launchpad/" target="_blank">NVIDIA LaunchPad Data Science Lab <i
              class="fa-solid fa-arrow-up-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
