name: RAPIDS
title: RAPIDS
postsurl: "https://rapidsai.github.io/site-data/posts.json"
slack_invite: "https://join.slack.com/t/rapids-goai/shared_invite/zt-trnsul8g-Sblci8dk6dIoEeGpoFcFOQ"
exclude: ['_drafts', 'README.md', '.gitignore', 'CNAME']
include: ['_redirects']
plugins:
  - jekyll-redirect-from

collections:
  authors:
    output: false
  posts:
    output: false
  redirects:
    output: true
    permalink: /:path/

defaults:
  - scope:
      path: ""
      type: "authors"
    values:
      layout: "author"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"
