<section class="container-logo-flex">
    <div class="logo-flex">
        <a href="https://github.com/chainer" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/Chainer-logo.png %}" alt="chainer"> </a>
    </div>
    <div class="logo-flex">
       <a href="https://github.com/databricks" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/databricks-logo.png %}" alt="databricks"> </a>
    </div>
    <div class="logo-flex">
       <a href="https://github.com/graphistry" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/graphistry.png %}" alt="graphistry"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://github.com/h2oai" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/gpu-ventures-h2o-ai-logo.png %}" alt="h20ai"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://ibm.github.io/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/ibm-logo.png %}" alt="ibm"> </a>
    </div>
    <div class="logo-flex">
       <a href="https://www.iguazio.com/docs/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/iguazio_logo.png %}" alt="iguzaio"> </a>
    </div>
    <div class="logo-flex">
       <a href="https://github.com/INRIA" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/INRIA_CORPO_SANS_SIGNATURE_RVB.png %}" alt="inria"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://github.com/mapr/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/MapR_Color.png %}" alt="mapr"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://github.com/Omnisci" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/omni_sci_logo.png %}" alt="omnisci"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://pytorch.org/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/PyTorch_logo.png %}" alt="pytorch"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://github.com/uber" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/uber_logo_2018.png %}" alt="uber"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://ursalabs.org/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/ursa_logo.png %}" alt="ursa"> </a>
    </div>
</section>
