<section class="container-logo-flex">
    <div class="logo-flex">
        <a href="https://www.anaconda.com/anaconda-community/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/anaconda.png %}" alt="anaconda"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://blazingdb.com/#/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/blazingdb.png %}" alt="blazingdb"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://gunrock.github.io/docs/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/Gunrock_Color.png %}" alt="gunrock"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://developer.nvidia.com/open-source" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/NVLogo_2D_H.png %}" alt="nvidia"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://www.quansight.com/projects" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/quansight.png %}" alt="quantsight"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://scikit-learn.org/stable/index.html" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/scikit-learn_Color.png %}" alt="scikitlearn"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://www.walmartlabs.com/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/walmart_labs.png %}" alt="walmart labs"> </a>
    </div>
</section>
