<section class="container-logo-flex padding-top-{{ include.padding-top }} padding-bottom-{{ include.padding-bottom }}">
    <div class="logo-flex">
        <a href="https://www.anaconda.com/anaconda-community/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/anaconda.png %}" alt="anaconda"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://github.com/capitalone" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/capital_one_logo.png %}" alt="capitalOne"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://github.com/chainer" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/Chainer-logo.png %}" alt="chainer"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://cupy.chainer.org/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/cupy-logo.png %}" alt="cuPY"> </a>
    </div>
    <div class="logo-flex">
       <a href="https://github.com/deepwavedigital" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/deepwave-digital.png %}" alt="deepwave-digital"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://gunrock.github.io/docs/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/Gunrock_Color.png %}" alt="gunrock"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://developer.nvidia.com/open-source" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/NVLogo_2D_H.png %}" alt="nvidia"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://github.com/quansight-labs" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/quansight.png %}" alt="quantsight"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://www.linkedin.com/company/walmartglobaltech/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/Walmart-Global-Tech-Logo.png %}" alt="walmart Global Tech"> </a>
    </div>
</section>
