<section class="container-logo-flex padding-top-{{ include.padding-top }} padding-bottom-{{ include.padding-bottom }}">
    <div class="logo-flex">
        <a href="https://www.anaconda.com/anaconda-community/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/anaconda.png %}" alt="anaconda"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://blazingsql.com/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/blazingsql.png %}" alt="blazingsql"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://github.com/chainer" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/Chainer-logo.png %}" alt="chainer"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://cupy.chainer.org/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/cupy-logo.png %}" alt="cuPY"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://gunrock.github.io/docs/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/Gunrock_Color.png %}" alt="gunrock"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://developer.nvidia.com/open-source" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/NVLogo_2D_H.png %}" alt="nvidia"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://www.quansight.com/projects" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/quansight.png %}" alt="quantsight"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://www.walmartlabs.com/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/walmart_labs.png %}" alt="walmart labs"> </a>
    </div>
</section>
