<section class="{{ include.background }}">
    <div class="container-padding">
        <div class="footer-help-section">
            <div class="footer-help-box">
                <i class="fab fa-medium fa-3x icon"></i>
                <a href="https://blog.blazingdb.com/" target="_blank" class="primary-btn">BlazingSQL Medium</a>
            </div>
            <div class="footer-help-box">
                <i class="fab fa-twitter fa-3x icon"></i>
                <a href="https://twitter.com/blazingsql" target="_blank" class="primary-btn">BlazingSQL Twitter</a>
            </div>
            <div class="footer-help-box">
                <i class="fab fa-facebook-square fa-3x icon"></i>
                <a href="https://www.facebook.com/blazingsql/" target="_blank" class="primary-btn">BlazingSQL Facebook</a>
            </div>
            <div class="footer-help-box">
                <i class="fab fa-youtube fa-3x icon"></i>
                <a href="https://www.youtube.com/channel/UCjxMdJuZ6d-c-X6xiWpN1eg" target="_blank" class="primary-btn">BlazingSQL Youtube</a>
            </div>
        </div>
    </div>
</section>