<section class="{{ include.background }}">
    <div class="container-padding">
        <div class="footer-help-section">
            <div class="footer-help-box">
                <i class="fas fa-users fa-3x icon"></i>
                <a href="https://groups.google.com/forum/#!forum/rapidsai" target="_blank" class="primary-btn">Google Groups</a>
            </div>
            <div class="footer-help-box">
                <i class="fab fa-docker fa-3x icon"></i>
                <a href="https://hub.docker.com/r/rapidsai/rapidsai" target="_blank" class="primary-btn">Docker Hub</a>
            </div>
            <div class="footer-help-box">
                <i class="fab fa-slack fa-3x icon"></i>
                <a href="{{ site.slack_invite }}" target="_blank" class="primary-btn">Slack Channel</a>
            </div>
            <div class="footer-help-box">
                <i class="fab fa-stack-overflow fa-3x icon"></i>
                <a href="https://stackoverflow.com/tags/rapids" target="_blank" class="primary-btn">Stack Overflow</a>
            </div>
        </div>
    </div>
</section>
