<section class="{{ include.background }}">
    <div class="container-padding">
        <div class="footer-help-section">
            <div class="footer-help-box">
                <i class="fab fa-github fa-3x icon"></i>
                <a href="https://github.com/dask" target="_blank" class="primary-btn">Dask Github</a>
            </div>
            <div class="footer-help-box">
                <i class="fab fa-twitter fa-3x icon"></i>
                <a href="https://twitter.com/dask_dev" target="_blank" class="primary-btn">Dask Twitter</a>
            </div>
            <div class="footer-help-box">
                <i class="fas fa-blog fa-3x icon"></i>
                <a href="https://blog.dask.org" target="_blank" class="primary-btn">Dask Working Notes </a>
            </div>
            <div class="footer-help-box">
                <i class="fab fa-stack-overflow fa-3x icon"></i>
                <a href="https://stackoverflow.com/questions/tagged/dask" target="_blank" class="primary-btn">Dask Stack Overflow</a>
            </div>
        </div>
    </div>
</section>