<section class="{{ include.background }}">
    <div class="container-padding">
        <div class="footer-help-section">
            <div class="footer-help-box">
                <i class="fab fa-github fa-3x icon"></i>
                <a href="https://github.com/dmlc/xgboost" target="_blank" class="primary-btn">XGBoost Github</a>
            </div>
            <div class="footer-help-box">
                <i class="fab fa-twitter fa-3x icon"></i>
                <a href="https://twitter.com/xgboostproject" target="_blank" class="primary-btn">XGBoost Twitter</a>
            </div>
            <div class="footer-help-box">
                <i class="fas fa-file-code fa-3x icon"></i>
                <a href="https://xgboost.readthedocs.io/en/latest/#" target="_blank" class="primary-btn">XGBoost Docs</a>
            </div>
            <div class="footer-help-box">
                <i class="fab fa-stack-overflow fa-3x icon"></i>
                <a href="https://stackoverflow.com/questions/tagged/xgboost" target="_blank" class="primary-btn">XGBoost Stack Overflow</a>
            </div>
        </div>
    </div>
</section>