<section class="{{ include.background }}">
    <div class="container-padding">
        <div class="footer-help-section">
            <div class="footer-help-box">
              <i class="fab fa-medium fa-3x icon"></i>
              <a href="https://medium.com/nvidia-merlin" target="_blank" class="primary-btn">Medium</a>
            </div>
            <div class="footer-help-box">
              <i class="fab fa-github fa-3x icon"></i>
              <a href="https://github.com/NVIDIA/NVTabular" target="_blank" class="primary-btn">NVTabular GitHub</a>
            </div>
            <div class="footer-help-box">
              <i class="fab fa-github fa-3x icon"></i>
              <a href="https://github.com/NVIDIA/HugeCTR" target="_blank" class="primary-btn">HugeCTR GitHub</a>
            </div>
        </div>
    </div>
</section>