<section class="{{ include.background }}">
    <div class="container-padding">
        <div class="footer-help-section">
            <div class="footer-help-box">
                <i class="fas fa-users fa-4x icon"></i>
                <a href="https://groups.google.com/forum/#!forum/rapidsai" target="_blank" class="primary-btn">Google Groups</a>
            </div>
            <div class="footer-help-box">
                <i class="fab fa-docker fa-4x icon"></i>
                <a href="https://hub.docker.com/r/rapidsai/rapidsai" target="_blank" class="primary-btn">Docker Hub</a>
            </div>
            <div class="footer-help-box">
                <i class="fab fa-slack fa-4x icon"></i>
                <a href="https://join.slack.com/t/rapids-goai/shared_invite/enQtMjE0Njg5NDQ1MDQxLTViZWFiYTY5MDA4NWY3OWViODg0YWM1MGQ1NzgzNTQwOWI1YjE3NGFlOTVhYjQzYWQ4YjI4NzljYzhiOGZmMGM" target="_blank" class="primary-btn">Slack Channel</a>
            </div>
            <div class="footer-help-box">
                <i class="fab fa-stack-overflow fa-4x icon"></i>
                <a href="https://stackoverflow.com/tags/rapids" target="_blank" class="primary-btn">Stack Overflow</a>
            </div>
        </div>
    </div>
</section>