<section class="{{ include.background }}">
  <div class="container-padding">
      <div class="footer-help-section">
          <div class="footer-help-box">
              <i class="fab fa-github fa-3x icon"></i>
              <a href="https://github.com/rapidsai/cloud-ml-examples/" target="_blank" class="primary-btn">HPO GitHub</a>
          </div>
          <div class="footer-help-box">
              <i class="fab fa-github fa-3x icon"></i>
              <a href="https://github.com/rapidsai/cloud-ml-examples/" target="_blank" class="primary-btn">HPO README</a>
          </div>
          <div class="footer-help-box">
              <i class="fab fa-slack fa-3x icon"></i>
              <a href="https://join.slack.com/t/rapids-goai/shared_invite/zt-qoxnow9v-_mnN7zH7z4y3mx~_YrJW6w" target="_blank" class="primary-btn">HPO Slack</a>
          </div>
          <div class="footer-help-box">
              <i class="fab fa-stack-overflow fa-3x icon"></i>
              <a href="https://stackoverflow.com/tags/rapids" target="_blank" class="primary-btn">HPO Stack Overflow</a>
          </div>
      </div>
  </div>
</section>
