<section class="{{ include.background }}">
  <div class="container-padding">
      <div class="footer-help-section">
          <div class="footer-help-box">
              <i class="fab fa-medium fa-3x icon"></i>
              <a href="https://medium.com/plotly" target="_blank" class="primary-btn">Plotly Medium</a>
          </div>
          <div class="footer-help-box">
              <i class="fab fa-twitter fa-3x icon"></i>
              <a href="https://twitter.com/plotlygraphs" target="_blank" class="primary-btn">Plotly Twitter</a>
          </div>
          <div class="footer-help-box">
              <i class="fab fa-youtube fa-3x icon"></i>
              <a href="https://youtube.com/plotly" target="_blank" class="primary-btn">Plotly YouTube</a>
          </div>
          <div class="footer-help-box">
              <i class="fad fa-comments fa-3x icon"></i>
              <a href="https://community.plotly.com/" target="_blank" class="primary-btn">Plotly Forum Youtube</a>
          </div>
      </div>
  </div>
</section>
