<footer>
    <div class="fixed-content">
        <a href="https://rapids.ai/index.html"><img src="assets/images/footer-logo.svg" alt="rapids"></a>
        <div class="footer-content">
            <div class="footer-nav">
                <ul>
                    <li><a href="documentation.html">GETTING STARTED</a></li>
                    <li><a href="community.html">COMMUNITY</a></li>
                    <li><a href="https://github.com/RAPIDSai" target="_blank">GITHUB</a></li>
                    <li><a href="https://medium.com/rapids-ai" target="_blank">BLOG</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <div class="social-title">Stay Connected</div>
                <a href="mailto:RAPIDSai@googlegroups.com"> <img src="assets/images/mail.svg" alt="email"> </a>
                <a href="https://twitter.com/rapidsai" target="_blank"> <img src="assets/images/Twitter.svg" alt="twitter"> </a>
            </div>
        </div>

        <div class="footer-copy">
            <p>©{{ site.time | date: '%Y' }} RAPIDS</p>
        </div>
    </div>
</footer>
