<footer>
    <a href="{{ site.baseurl }}{% link index.md %}"><img class="footer-logo" src="{{ site.baseurl }}{% link /assets/images/footer-logo.svg %}" alt="rapids"></a>
    <div class="copy-date">© {{ site.time | date: '%Y' }} RAPIDS</div>
    <div class="footer-nav">
        <ul>
            <li><a href="{{ site.baseurl }}{% link about.md %}">ABOUT</a></li>
            <li><a href="{{ site.baseurl }}{% link start.md %}">GET STARTED</a></li>
            <li><a href="https://medium.com/rapids-ai" target="_blank">BLOG</a></li>
            <li><a href="https://docs.rapids.ai/" target="_blank">DOCS</a></li>
            <li><a href="https://github.com/rapidsai" target="_blank">GITHUB</a></li>
            <li>
                <br>
                <a href="{{ site.baseurl }}{% link community.md %}">COMMUNITY</a>
                <br>
                <a href="{{ site.baseurl }}{% link blazingsql.md %}">BLAZINGSQL</a> |
                <a href="{{ site.baseurl }}{% link cloud.md %}">CLOUD</a> |
                <a href="{{ site.baseurl }}{% link dask.md %}">DASK</a> |
                <a href="{{ site.baseurl }}{% link hpc.md %}">HPC</a> |
                <a href="{{ site.baseurl }}{% link hpo.md %}">HPO</a> |
                <a href="{{ site.baseurl }}{% link merlin.md %}">MERLIN</a> |
                <a href="{{ site.baseurl }}{% link plotly.md %}">PLOTLY</a> |
                <a href="{{ site.baseurl }}{% link xgboost.md %}">XGBOOST</a>
                <br> <br>
                <a href="{{ site.baseurl }}{% link citations.md %}">CITATIONS</a> |
                <a href="{{ site.baseurl }}{% link branding.md %}">BRANDING AND GUIDES</a>
            </li>
            <li>
                <br>
                <a class="footer-icon" href="https://twitter.com/rapidsai" target="_blank"><i class="fab fa-twitter fa-2x dark-purple-font"></i></a>
                <a class="footer-icon" href="{{ site.slack_invite }}" target="_blank"><i class="fab fa-slack fa-2x dark-purple-font"></i></a>
                <a class="footer-icon" href="https://stackoverflow.com/tags/rapids" target="_blank"><i class="fab fa-stack-overflow fa-2x dark-purple-font"></i></a>
            </li>
        </ul>
    </div>
</footer>