<section class="container-logo-flex padding-top-{{ include.padding-top }} padding-bottom-{{ include.padding-bottom }}">
    <div class="logo-flex">
        <a href="https://arrow.apache.org/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/apache-arrow_Color.png %}" alt="Apache Arrow"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://blazingsql.com/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/blazingsql.png %}" alt="blazingsql"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://dask.org/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/dask_logo.png %}" alt="Dask"> </a>
    </div>
    <div class="logo-flex">
        <a href="http://gpuopenanalytics.com/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/GoAi_logo.png %}" alt="GoAi"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://nuclio.io" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/nuclio-logo.png %}" alt="nuclio"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://numba.pydata.org/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/numba_logo.png %}" alt="Numba"> </a>
    </div>
    <div class="logo-flex">
        <a href="https://scikit-learn.org/stable/index.html" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/scikit-learn_Color.png %}" alt="scikitlearn"> </a>
    </div>
    <div classs="logo-flex">
        <a href="https://xgboost.ai/" target="_blank"> <img src="{{ site.baseurl }}{% link /assets/images/xgboost_logo.png %}" alt="XGboost"> </a>
    </div>
</section>
