<section class='{{ include.background }} padding-top-{{ include.padding-top }} padding-bottom-{{ include.padding-bottom }}'>
    <div class='container-padding'>
        <div class='selector '>
            <div class='options'>
                <div class='note method padding-bottom-4em'>
                    <div class='option-label'>NOTICES</div>
                    <div class='option-notice'>
                        <span>
                            <i class="fas fa-exclamation-triangle"></i> <b>Python 3.6 & CUDA 10.0</b> support ends with Release v0.14
                        </span>
                    </div>
                    <div class='option-notice'>
                        <span>
                            <i class="fas fa-bullhorn"></i> <b>Python 3.8 and CUDA 11</b> support is targeted for Release v0.15
                        </span>
                    </div>
                </div>
                <div class='preferred'>
                    <div class='option-label'></div>
                    <div class='option-blank'>
                        <span>
                            <i class="fas fa-level-up-alt fa-rotate-180 fa-down-6"></i> <i class="fas fa-check-square text-blue"></i> Preferred <i class="fas fa-level-down-alt fa-down-6"></i>
                        </span>
                    </div>
                    <div class='option-blank'>
                        <span>
                            <i class="fas fa-level-up-alt fa-rotate-180 fa-down-6"></i> <i class="fas fa-flask text-orange"></i> Advanced <i class="fas fa-level-down-alt fa-down-6"></i>
                        </span>
                    </div>
                </div>
                <div class='method padding-bottom-1em'>
                    <div class='option-label'>Method</div>
                    <div id='conda' class='option' title="Conda install">Conda&nbsp;<i class="fas fa-box-open"></i> <span class='context'> <i class="fas fa-check-square text-blue"></i> Preferred Install Method</span></div>
                    <div id='docker' class='option' title="Docker image with example notebooks">Docker + Examples&nbsp;<i class="fab fa-docker"></i><span class='context'> <i class="fas fa-check-square text-blue"></i> Preferred Install Method</span></div>
                    <div id='dev' class='option advanced' title="Docker image with developer tools and from source build environment ">Docker + Dev Env&nbsp;<i class="fab fa-docker"></i> <span class='context'> <i class="fas fa-flask text-orange"></i> Advanced Install Method</span></div>
                    <div id='source' class='option advanced' title="From source build">Source&nbsp;<i class="fas fa-cogs"></i><span class='context'> <i class="fas fa-flask text-orange"></i> Advanced Install Method</span></div>
                </div>
                <div class='release'>
                    <div class='option-label'>Release</div>
                    <div id='stable' class='option'>Stable ({{ site.data.releases.stable-version }})</div>
                    <div id='nightly' class='option'>Nightly ({{ site.data.releases.nightly-version }}a)</div>
                </div>
                <div class='pkg'>
                    <div class='option-label'>Packages</div>
                    <div id='all' class='option'>All Packages</div>
                    <div id='cudf' class='option'>cuDF</div>
                    <div id='cuml' class='option'>cuML</div>
                    <div id='cugraph' class='option'>cuGraph</div>
                    <div id='cusignal' class='option'>cuSignal</div>
                    <div id='cuspatial' class='option'>cuSpatial</div>
                    <div id='cuxfilter' class='option'>cuxfilter</div>
                </div>
                <div class='linux'>
                    <div class='option-label'>Linux</div>
                    <div id='ubuntu1604' class='option'>Ubuntu 16.04&nbsp;<i class="fab fa-ubuntu"></i></div>
                    <div id='ubuntu1804' class='option'>Ubuntu 18.04&nbsp;<i class="fab fa-ubuntu"></i></div>
                    <div id='centos7' class='option'>CentOS 7&nbsp;<i class="fab fa-centos"></i></div>
                    <div id='rhel7' class='option'>RHEL 7&nbsp;<i class="fab fa-redhat"></i></div>
                </div>
                <div class='python'>
                    <div class='option-label'>Python</div>
                    <div id='py36' class='option'>Python 3.6</div>
                    <div id='py37' class='option'>Python 3.7</div>
                    <div id='py38' class='option perm-disabled'>Python 3.8 - Work In Progress</div>
                </div>
                <div class='cuda'>
                    <div class='option-label'>CUDA</div>
                    <div id='cuda100' class='option'>CUDA 10.0</div>
                    <div id='cuda101' class='option'>CUDA 10.1.2</div>
                    <div id='cuda102' class='option'>CUDA 10.2</div>
                    <div id='cuda110' class='option perm-disabled'>CUDA 11.0 - Work In Progress</div>
                </div>
                <div class='preferred'>
                    <div class='option-label'></div>
                    <div class='option-blank'></div>
                    <div class='option-blank'></div>
                    <div class='option-blank'></div>
                    <div class='option-blank'></div>
                </div>
                <div class='note'>
                    <div class='option-label'></div>
                    <div class='option-blank'>
                        <span id='rhel7-conda-note' class='hidden option-note'>
                            <i class="fas fa-exclamation-triangle text-orange"></i> <b>NOTE:</b> RHEL 7 <code>conda</code> support is provided by builds and tests on CentOS 7.<br/>The same <code>conda install</code> commands should work with <code>gcc >=7.3</code> and the correct NVIDIA and CUDA drivers.
                        </span>
                        <span id='rhel7-source-note' class='hidden option-note'>
                            <i class="fas fa-exclamation-triangle text-orange"></i> <b>NOTE:</b> RHEL 7 from source build support is provided by following the build instructions for CentOS 7.<br/>The same methods should work with <code>gcc >=7.3</code> and the correct NVIDIA and CUDA drivers.
                        </span>
                        <span id='linux-conda-note' class='hidden option-note'>
                            <i class="fas fa-info-circle text-blue"></i> <b>NOTE:</b> Ubuntu 16.04/18.04 & CentOS 7 use the same <code>conda install</code> commands.
                        </span>
                        <span id='linux-source-note' class='hidden option-note'>
                            <i class="fas fa-info-circle text-blue"></i> <b>NOTE:</b> Ubuntu 16.04/18.04 & CentOS 7 use the same from source build instructions.
                        </span>
                    </div>
                </div>
            </div>
            <div class='cmd'>
                <div class='cmd-label'>Command</div>
                <div id='command' class='cmd-box'><div class="highlight"><pre class="highlight"><code><span class="gh"># Javascript is needed for this tool to run, please make sure it is enabled</span></code></pre></div></div>
            </div>
        </div>
        <div class="selector-buttons">
            <a id='copy-command' onclick='CopyToClipboard("command-code")' class='primary-btn'>COPY COMMAND <i class="fas fa-clipboard"></i></a>
        </div>
    </div>
</section>
<script type="text/javascript">
/* Adopted from https://pytorch.org/assets/quick-start-module.js */
var pkg = ['cudf', 'cuml', 'cugraph', 'cusignal', 'cuspatial', 'cuxfilter', 'all'];
var method = ['conda', 'docker', 'source', 'dev'];
var release = ['stable', 'nightly'];
var linux = ['ubuntu1604', 'ubuntu1804', 'centos7', 'rhel7'];
var python = ['py36', 'py37', 'py38'];
var cuda = ['cuda100', 'cuda101', 'cuda102', 'cuda110'];
var pkg_opts = $(".pkg > .option");
var method_opts = $(".method > .option");
var release_opts = $(".release > .option");
var linux_opts = $(".linux > .option");
var python_opts = $(".python > .option");
var cuda_opts = $(".cuda > .option");
var details = {
    conda: 'conda-install',
    docker: 'docker-container',
    pip: 'pip-install',
    source: 'build-from-source'
}
// Set initial choices
var selections = {
    pkg: 'all',
    method: 'conda',
    release: 'stable',
    linux: 'ubuntu1604',
    python: 'py36',
    cuda: 'cuda100'
};
pkg_opts.on("click", function() {
    processClick(pkg_opts, this, "pkg");
});
method_opts.on("click", function() {
    processClick(method_opts, this, "method");
});
release_opts.on("click", function() {
    processClick(release_opts, this, "release");
});
linux_opts.on("click", function() {
    processClick(linux_opts, this, "linux");
});
python_opts.on("click", function() {
    processClick(python_opts, this, "python");
});
cuda_opts.on("click", function() {
    processClick(cuda_opts, this, "cuda");
});
// Initialize on start
$(function() {
    processClick();
});

function processClick(options, click, category) {
    // reset all
    $(pkg_opts).removeClass("disabled");
    $(release_opts).removeClass("disabled");
    $(linux_opts).removeClass("disabled");
    $(python_opts).removeClass("disabled");
    $(cuda_opts).removeClass("disabled");
    $(pkg_opts).removeClass("active");
    $(release_opts).removeClass("active");
    $(linux_opts).removeClass("active");
    $(python_opts).removeClass("active");
    $(cuda_opts).removeClass("active");
    var prev_cuda = selections['cuda'];
    var prev_linux = selections['linux'];
    var prev_python = selections['python'];
    var prev_release = selections['release'];
    if (options && click && category) {
        $(options).removeClass("active");
        $(click).addClass("active");
        selections[category] = click.id;
    }

    // Hide linux/rhel notes
    $("#rhel7-conda-note").addClass("hidden");
    $("#rhel7-source-note").addClass("hidden");
    $("#linux-conda-note").addClass("hidden");
    $("#linux-source-note").addClass("hidden");

    if (selections['method'] == 'conda') {
        // Handle conda requests
        if (selections['linux'] == 'rhel7') {
            // Display RHEL note
            $("#rhel7-conda-note").removeClass("hidden");
        } else {
            // Display linux note
            $("#linux-conda-note").removeClass("hidden");
        }
    } else if (selections['method'] == 'docker') {
        // Handle docker requests
        if (selections['linux'] == 'rhel7') {
            selections['linux'] = 'centos7';
        }
        $("#rhel7").addClass("disabled");
        $(pkg_opts).addClass("disabled");
        $("#all").removeClass("disabled");
        $("#all").addClass("active");
        selections['pkg'] = 'all';
    } else if (selections['method'] == 'source') {
        // Handle source requests
        $("#all").addClass("disabled");
        if (selections['pkg'] == 'all') {
            selections['pkg'] = 'cudf';
        }
        if (selections['linux'] == 'rhel7') {
            // Display RHEL note
            $("#rhel7-source-note").removeClass("hidden");
        } else {
            // Display linux note
            $("#linux-source-note").removeClass("hidden");
        }
        $(python_opts).removeClass("active");
        $(cuda_opts).removeClass("active");
        $(python_opts).addClass("disabled");
        $(cuda_opts).addClass("disabled");
    } else if (selections['method'] == 'dev') {
        // Handle dev requests
        if (selections['linux'] == 'rhel7') {
            selections['linux'] = 'centos7';
        }
        $("#rhel7").addClass("disabled");
        $(pkg_opts).addClass("disabled");
        $("#all").removeClass("disabled");
        $("#all").addClass("active");
        selections['pkg'] = 'all';
    }

    // Handle release specific exlcusions
    if (selections['release'] == 'nightly') {
        // Change selections to new defaults and then disable
        if (selections['cuda'] == 'cuda100') {
            selections['cuda'] = 'cuda101';
            $("#cuda100").removeClass("active");
        }
        if (selections['python'] == 'py36') {
            selections['python'] = 'py37';
            $("#py36").removeClass("active");
        }
        $("#cuda100").addClass("disabled");
        $("#py36").addClass("disabled");
    }

    // Handle clicks on disabled CUDA/Python
    if (selections['cuda'] == 'cuda110') {
        $("#cuda110").removeClass("active");
        selections['cuda'] = prev_cuda;
    }
    if (selections['python'] == 'py38') {
        $("#py38").removeClass("active");
        selections['python'] = prev_python;
    }

    $("#" + selections['method']).addClass("active");
    $("#" + selections['pkg']).addClass("active");
    $("#" + selections['linux']).addClass("active");
    $("#" + selections['python']).addClass("active");
    $("#" + selections['cuda']).addClass("active");
    $("#" + selections['release']).addClass("active");
    showCommand();
}

function getSelections() {
    if (selections['method'] == 'source') {
        return "" + selections['release'] + "-" + selections['pkg'] + "-" + selections['method'];
    } else if (selections['method'] == 'conda') {
        return "" + selections['release'] + "-" + selections['pkg'] + "-" + selections['method'] + "-" + selections['python'] + "-" + selections['cuda'];
    } else {
        return "" + selections['release'] + "-" + selections['pkg'] + "-" + selections['method'] + "-" + selections['linux'] + "-" + selections['python'] + "-" + selections['cuda'];
    }
}

function showCommand() {
    var key = getSelections();
    var command = $("." + key).html();
    var anchor = details[selections['method']];
    var txt = ("" + selections['method'] + " details").toUpperCase();
    $("#command").html(command);
    $("#command > div > pre > code ").attr("id", "command-code")
}

function CopyToClipboard(containerid) {
    if (document.selection) { //IE
        var range = document.body.createTextRange();
        range.moveToElementText(document.getElementById(containerid));
        range.select();
        document.execCommand("copy");
    } else if (window.getSelection) { //others
        var range = document.createRange();
        range.selectNode(document.getElementById(containerid));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
        document.execCommand("copy");
    }
}
</script>
<!--
    START - STABLE commands
-->
<!-- dev - ubuntu 16.04 -->
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.2-devel-ubuntu16.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.2-devel-ubuntu16.04-py3.6
```
{: .stable-all-dev-ubuntu1604-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.2-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.2-devel-ubuntu16.04-py3.7
```
{: .stable-all-dev-ubuntu1604-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.0-devel-ubuntu16.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.0-devel-ubuntu16.04-py3.6
```
{: .stable-all-dev-ubuntu1604-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.0-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.0-devel-ubuntu16.04-py3.7
```
{: .stable-all-dev-ubuntu1604-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.1-devel-ubuntu16.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.1-devel-ubuntu16.04-py3.6
```
{: .stable-all-dev-ubuntu1604-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.1-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.1-devel-ubuntu16.04-py3.7
```
{: .stable-all-dev-ubuntu1604-py37-cuda101 .hidden }
<!-- dev - ubuntu 18.04 -->
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.2-devel-ubuntu18.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.2-devel-ubuntu18.04-py3.6
```
{: .stable-all-dev-ubuntu1804-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.2-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.2-devel-ubuntu18.04-py3.7
```
{: .stable-all-dev-ubuntu1804-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.0-devel-ubuntu18.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.0-devel-ubuntu18.04-py3.6
```
{: .stable-all-dev-ubuntu1804-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.0-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.0-devel-ubuntu18.04-py3.7
```
{: .stable-all-dev-ubuntu1804-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.1-devel-ubuntu18.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.1-devel-ubuntu18.04-py3.6
```
{: .stable-all-dev-ubuntu1804-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.1-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.1-devel-ubuntu18.04-py3.7
```
{: .stable-all-dev-ubuntu1804-py37-cuda101 .hidden }
<!-- dev - centos 7 -->
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.2-devel-centos7-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.2-devel-centos7-py3.6
```
{: .stable-all-dev-centos7-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.2-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.2-devel-centos7-py3.7
```
{: .stable-all-dev-centos7-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.0-devel-centos7-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.0-devel-centos7-py3.6
```
{: .stable-all-dev-centos7-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.0-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.0-devel-centos7-py3.7
```
{: .stable-all-dev-centos7-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.1-devel-centos7-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.1-devel-centos7-py3.6
```
{: .stable-all-dev-centos7-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.1-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.1-devel-centos7-py3.7
```
{: .stable-all-dev-centos7-py37-cuda101 .hidden }
<!-- docker - ubuntu 16.04 -->
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-ubuntu16.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-ubuntu16.04
```
{: .stable-all-docker-ubuntu1604-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-ubuntu16.04-py3.7
```
{: .stable-all-docker-ubuntu1604-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.0-runtime-ubuntu16.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.0-runtime-ubuntu16.04
```
{: .stable-all-docker-ubuntu1604-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.0-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.0-runtime-ubuntu16.04-py3.7
```
{: .stable-all-docker-ubuntu1604-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-ubuntu16.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-ubuntu16.04
```
{: .stable-all-docker-ubuntu1604-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-ubuntu16.04-py3.7
```
{: .stable-all-docker-ubuntu1604-py37-cuda101 .hidden }
<!-- docker - ubuntu 18.04 -->
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04
```
{: .stable-all-docker-ubuntu1804-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04-py3.7
```
{: .stable-all-docker-ubuntu1804-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.0-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.0-runtime-ubuntu18.04
```
{: .stable-all-docker-ubuntu1804-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.0-runtime-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.0-runtime-ubuntu18.04-py3.7
```
{: .stable-all-docker-ubuntu1804-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-ubuntu18.04
```
{: .stable-all-docker-ubuntu1804-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-ubuntu18.04-py3.7
```
{: .stable-all-docker-ubuntu1804-py37-cuda101 .hidden }
<!-- docker - centos 7 -->
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-centos7
```
{: .stable-all-docker-centos7-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-centos7-py3.7
```
{: .stable-all-docker-centos7-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.0-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.0-runtime-centos7
```
{: .stable-all-docker-centos7-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.0-runtime-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.0-runtime-centos7-py3.7
```
{: .stable-all-docker-centos7-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-centos7
```
{: .stable-all-docker-centos7-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-centos7-py3.7
```
{: .stable-all-docker-centos7-py37-cuda101 .hidden }
<!-- source -->
<div class="stable-cudf-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cudf/tree/master#buildinstall-from-source" _target="blank">cuDF README</a> for build instructions</pre>
</div>
<div class="stable-cuml-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuml/tree/master#buildinstall-from-source" _target="blank">cuML README</a> for build instructions</pre>
</div>
<div class="stable-cugraph-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cugraph/tree/master#build-from-source-and-contributing" _target="blank">cuGraph README</a> for build instructions</pre>
</div>
<div class="stable-cusignal-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cusignal/tree/master#dependencies" _target="blank">cuSignal README</a> for build instructions</pre>
</div>
<div class="stable-cuspatial-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuspatial/tree/master#clone-build-and-install-cuspatial" _target="blank">cuSpatial README</a> for build instructions</pre>
</div>
<div class="stable-cuxfilter-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuxfilter/tree/master#installation" _target="blank">cuxfilter README</a> for build instructions</pre>
</div>
<!-- conda cuda102 -->
```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.14 python=3.6 cudatoolkit=10.2
```
{: .stable-cudf-conda-py36-cuda102 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.14 python=3.7 cudatoolkit=10.2
```
{: .stable-cudf-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.14 python=3.6 cudatoolkit=10.2
```
{: .stable-cuml-conda-py36-cuda102 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.14 python=3.7 cudatoolkit=10.2
```
{: .stable-cuml-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.14 python=3.6 cudatoolkit=10.2
```
{: .stable-cugraph-conda-py36-cuda102 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.14 python=3.7 cudatoolkit=10.2
```
{: .stable-cugraph-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.14 python=3.6 cudatoolkit=10.2
```
{: .stable-cusignal-conda-py36-cuda102 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.14 python=3.7 cudatoolkit=10.2
```
{: .stable-cusignal-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.14 python=3.6 cudatoolkit=10.2
```
{: .stable-cuspatial-conda-py36-cuda102 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.14 python=3.7 cudatoolkit=10.2
```
{: .stable-cuspatial-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.14 python=3.6 cudatoolkit=10.2
```
{: .stable-cuxfilter-conda-py36-cuda102 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.14 python=3.7 cudatoolkit=10.2
```
{: .stable-cuxfilter-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.14 python=3.6 cudatoolkit=10.2
```
{: .stable-all-conda-py36-cuda102 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.14 python=3.7 cudatoolkit=10.2
```
{: .stable-all-conda-py37-cuda102 .hidden }

<!-- conda cuda100 -->
```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.14 python=3.6 cudatoolkit=10.0
```
{: .stable-cudf-conda-py36-cuda100 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.14 python=3.7 cudatoolkit=10.0
```
{: .stable-cudf-conda-py37-cuda100 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.14 python=3.6 cudatoolkit=10.0
```
{: .stable-cuml-conda-py36-cuda100 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.14 python=3.7 cudatoolkit=10.0
```
{: .stable-cuml-conda-py37-cuda100 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.14 python=3.6 cudatoolkit=10.0
```
{: .stable-cugraph-conda-py36-cuda100 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.14 python=3.7 cudatoolkit=10.0
```
{: .stable-cugraph-conda-py37-cuda100 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.14 python=3.6 cudatoolkit=10.0
```
{: .stable-cusignal-conda-py36-cuda100 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.14 python=3.7 cudatoolkit=10.0
```
{: .stable-cusignal-conda-py37-cuda100 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.14 python=3.6 cudatoolkit=10.0
```
{: .stable-cuspatial-conda-py36-cuda100 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.14 python=3.7 cudatoolkit=10.0
```
{: .stable-cuspatial-conda-py37-cuda100 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.14 python=3.6 cudatoolkit=10.0
```
{: .stable-cuxfilter-conda-py36-cuda100 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.14 python=3.7 cudatoolkit=10.0
```
{: .stable-cuxfilter-conda-py37-cuda100 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults clx=0.14 python=3.6 cudatoolkit=10.0
```
{: .stable-clx-conda-py36-cuda100 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults clx=0.14 python=3.7 cudatoolkit=10.0
```
{: .stable-clx-conda-py37-cuda100 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.14 python=3.6
```
{: .stable-all-conda-py36-cuda100 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.14 python=3.7
```
{: .stable-all-conda-py37-cuda100 .hidden }

<!-- conda cuda101 -->
```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.14 python=3.6 cudatoolkit=10.1
```
{: .stable-cudf-conda-py36-cuda101 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.14 python=3.7 cudatoolkit=10.1
```
{: .stable-cudf-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.14 python=3.6 cudatoolkit=10.1
```
{: .stable-cuml-conda-py36-cuda101 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.14 python=3.7 cudatoolkit=10.1
```
{: .stable-cuml-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.14 python=3.6 cudatoolkit=10.1
```
{: .stable-cugraph-conda-py36-cuda101 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.14 python=3.7 cudatoolkit=10.1
```
{: .stable-cugraph-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.14 python=3.6 cudatoolkit=10.1
```
{: .stable-cusignal-conda-py36-cuda101 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.14 python=3.7 cudatoolkit=10.1
```
{: .stable-cusignal-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.14 python=3.6 cudatoolkit=10.1
```
{: .stable-cuspatial-conda-py36-cuda101 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.14 python=3.7 cudatoolkit=10.1
```
{: .stable-cuspatial-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.14 python=3.6 cudatoolkit=10.1
```
{: .stable-cuxfilter-conda-py36-cuda101 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.14 python=3.7 cudatoolkit=10.1
```
{: .stable-cuxfilter-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults clx=0.14 python=3.6 cudatoolkit=10.1
```
{: .stable-clx-conda-py36-cuda101 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults clx=0.14 python=3.7 cudatoolkit=10.1
```
{: .stable-clx-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.14 python=3.6 cudatoolkit=10.1
```
{: .stable-all-conda-py36-cuda101 .hidden }

```bash
conda install -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.14 python=3.7 cudatoolkit=10.1
```
{: .stable-all-conda-py37-cuda101 .hidden }
<!--
    END - STABLE commands
-->
<!--
    START - NIGHTLY commands
-->
<!-- dev - ubuntu 16.04 -->
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.2-devel-ubuntu16.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.2-devel-ubuntu16.04-py3.6
```
{: .nightly-all-dev-ubuntu1604-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.2-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.2-devel-ubuntu16.04-py3.7
```
{: .nightly-all-dev-ubuntu1604-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.0-devel-ubuntu16.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.0-devel-ubuntu16.04-py3.6
```
{: .nightly-all-dev-ubuntu1604-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.0-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.0-devel-ubuntu16.04-py3.7
```
{: .nightly-all-dev-ubuntu1604-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.1-devel-ubuntu16.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.1-devel-ubuntu16.04-py3.6
```
{: .nightly-all-dev-ubuntu1604-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.1-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.1-devel-ubuntu16.04-py3.7
```
{: .nightly-all-dev-ubuntu1604-py37-cuda101 .hidden }
<!-- dev - ubuntu 18.04 -->
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.2-devel-ubuntu18.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.2-devel-ubuntu18.04-py3.6
```
{: .nightly-all-dev-ubuntu1804-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.2-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.2-devel-ubuntu18.04-py3.7
```
{: .nightly-all-dev-ubuntu1804-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.0-devel-ubuntu18.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.0-devel-ubuntu18.04-py3.6
```
{: .nightly-all-dev-ubuntu1804-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.0-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.0-devel-ubuntu18.04-py3.7
```
{: .nightly-all-dev-ubuntu1804-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.1-devel-ubuntu18.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.1-devel-ubuntu18.04-py3.6
```
{: .nightly-all-dev-ubuntu1804-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.1-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.1-devel-ubuntu18.04-py3.7
```
{: .nightly-all-dev-ubuntu1804-py37-cuda101 .hidden }
<!-- dev - centos 7 -->
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.2-devel-centos7-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.2-devel-centos7-py3.6
```
{: .nightly-all-dev-centos7-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.2-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.2-devel-centos7-py3.7
```
{: .nightly-all-dev-centos7-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.0-devel-centos7-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.0-devel-centos7-py3.6
```
{: .nightly-all-dev-centos7-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.0-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.0-devel-centos7-py3.7
```
{: .nightly-all-dev-centos7-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.1-devel-centos7-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.1-devel-centos7-py3.6
```
{: .nightly-all-dev-centos7-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.15-cuda10.1-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.15-cuda10.1-devel-centos7-py3.7
```
{: .nightly-all-dev-centos7-py37-cuda101 .hidden }
<!-- docker - ubuntu 16.04 -->
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.2-runtime-ubuntu16.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.2-runtime-ubuntu16.04
```
{: .nightly-all-docker-ubuntu1604-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.2-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.2-runtime-ubuntu16.04-py3.7
```
{: .nightly-all-docker-ubuntu1604-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.0-runtime-ubuntu16.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.0-runtime-ubuntu16.04
```
{: .nightly-all-docker-ubuntu1604-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.0-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.0-runtime-ubuntu16.04-py3.7
```
{: .nightly-all-docker-ubuntu1604-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.1-runtime-ubuntu16.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.1-runtime-ubuntu16.04
```
{: .nightly-all-docker-ubuntu1604-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.1-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.1-runtime-ubuntu16.04-py3.7
```
{: .nightly-all-docker-ubuntu1604-py37-cuda101 .hidden }
<!-- docker - ubuntu 18.04 -->
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.2-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.2-runtime-ubuntu18.04
```
{: .nightly-all-docker-ubuntu1804-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.2-runtime-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.2-runtime-ubuntu18.04-py3.7
```
{: .nightly-all-docker-ubuntu1804-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.0-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.0-runtime-ubuntu18.04
```
{: .nightly-all-docker-ubuntu1804-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.0-runtime-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.0-runtime-ubuntu18.04-py3.7
```
{: .nightly-all-docker-ubuntu1804-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.1-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.1-runtime-ubuntu18.04
```
{: .nightly-all-docker-ubuntu1804-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.1-runtime-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.1-runtime-ubuntu18.04-py3.7
```
{: .nightly-all-docker-ubuntu1804-py37-cuda101 .hidden }
<!-- docker - centos 7 -->
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.2-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.2-runtime-centos7
```
{: .nightly-all-docker-centos7-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.2-runtime-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.2-runtime-centos7-py3.7
```
{: .nightly-all-docker-centos7-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.0-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.0-runtime-centos7
```
{: .nightly-all-docker-centos7-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.0-runtime-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.0-runtime-centos7-py3.7
```
{: .nightly-all-docker-centos7-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.1-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.1-runtime-centos7
```
{: .nightly-all-docker-centos7-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.1-runtime-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.1-runtime-centos7-py3.7
```
{: .nightly-all-docker-centos7-py37-cuda101 .hidden }
<!-- source -->
<div class="nightly-cudf-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cudf#buildinstall-from-source" _target="blank">cuDF README</a> for build instructions</pre>
</div>
<div class="nightly-cuml-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuml#buildinstall-from-source" _target="blank">cuML README</a> for build instructions</pre>
</div>
<div class="nightly-cugraph-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cugraph#build-from-source-and-contributing" _target="blank">cuGraph README</a> for build instructions</pre>
</div>
<div class="stable-cusignal-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cusignal#dependencies" _target="blank">cuSignal README</a> for build instructions</pre>
</div>
<div class="nightly-cuspatial-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuspatial#clone-build-and-install-cuspatial" _target="blank">cuSpatial README</a> for build instructions</pre>
</div>
<div class="nightly-cuxfilter-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuxfilter#installation" _target="blank">cuxfilter README</a> for build instructions</pre>
</div>
<!-- conda cuda102 -->
```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cudf=0.15 python=3.6 cudatoolkit=10.2
```
{: .nightly-cudf-conda-py36-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cudf=0.15 python=3.7 cudatoolkit=10.2
```
{: .nightly-cudf-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuml=0.15 python=3.6 cudatoolkit=10.2
```
{: .nightly-cuml-conda-py36-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuml=0.15 python=3.7 cudatoolkit=10.2
```
{: .nightly-cuml-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cugraph=0.15 python=3.6 cudatoolkit=10.2
```
{: .nightly-cugraph-conda-py36-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cugraph=0.15 python=3.7 cudatoolkit=10.2
```
{: .nightly-cugraph-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cusignal=0.15 python=3.6 cudatoolkit=10.2
```
{: .nightly-cusignal-conda-py36-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cusignal=0.15 python=3.7 cudatoolkit=10.2
```
{: .nightly-cusignal-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuspatial=0.15 python=3.6 cudatoolkit=10.2
```
{: .nightly-cuspatial-conda-py36-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuspatial=0.15 python=3.7 cudatoolkit=10.2
```
{: .nightly-cuspatial-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.15 python=3.6 cudatoolkit=10.2
```
{: .nightly-cuxfilter-conda-py36-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.15 python=3.7 cudatoolkit=10.2
```
{: .nightly-cuxfilter-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults rapids=0.15 python=3.6 cudatoolkit=10.2
```
{: .nightly-all-conda-py36-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults rapids=0.15 python=3.7 cudatoolkit=10.2
```
{: .nightly-all-conda-py37-cuda102 .hidden }

<!-- conda cuda100 -->
```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cudf=0.15 python=3.6 cudatoolkit=10.0
```
{: .nightly-cudf-conda-py36-cuda100 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cudf=0.15 python=3.7 cudatoolkit=10.0
```
{: .nightly-cudf-conda-py37-cuda100 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuml=0.15 python=3.6 cudatoolkit=10.0
```
{: .nightly-cuml-conda-py36-cuda100 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuml=0.15 python=3.7 cudatoolkit=10.0
```
{: .nightly-cuml-conda-py37-cuda100 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cugraph=0.15 python=3.6 cudatoolkit=10.0
```
{: .nightly-cugraph-conda-py36-cuda100 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cugraph=0.15 python=3.7 cudatoolkit=10.0
```
{: .nightly-cugraph-conda-py37-cuda100 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cusignal=0.15 python=3.6 cudatoolkit=10.0
```
{: .nightly-cusignal-conda-py36-cuda100 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cusignal=0.15 python=3.7 cudatoolkit=10.0
```
{: .nightly-cusignal-conda-py37-cuda100 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuspatial=0.15 python=3.6 cudatoolkit=10.0
```
{: .nightly-cuspatial-conda-py36-cuda100 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuspatial=0.15 python=3.7 cudatoolkit=10.0
```
{: .nightly-cuspatial-conda-py37-cuda100 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.15 python=3.6 cudatoolkit=10.0
```
{: .nightly-cuxfilter-conda-py36-cuda100 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.15 python=3.7 cudatoolkit=10.0
```
{: .nightly-cuxfilter-conda-py37-cuda100 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults clx=0.15 python=3.6 cudatoolkit=10.0
```
{: .nightly-clx-conda-py36-cuda100 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults clx=0.15 python=3.7 cudatoolkit=10.0
```
{: .nightly-clx-conda-py37-cuda100 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults rapids=0.15 python=3.6
```
{: .nightly-all-conda-py36-cuda100 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults rapids=0.15 python=3.7
```
{: .nightly-all-conda-py37-cuda100 .hidden }

<!-- conda cuda101 -->
```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cudf=0.15 python=3.6 cudatoolkit=10.1
```
{: .nightly-cudf-conda-py36-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cudf=0.15 python=3.7 cudatoolkit=10.1
```
{: .nightly-cudf-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuml=0.15 python=3.6 cudatoolkit=10.1
```
{: .nightly-cuml-conda-py36-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuml=0.15 python=3.7 cudatoolkit=10.1
```
{: .nightly-cuml-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cugraph=0.15 python=3.6 cudatoolkit=10.1
```
{: .nightly-cugraph-conda-py36-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cugraph=0.15 python=3.7 cudatoolkit=10.1
```
{: .nightly-cugraph-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cusignal=0.15 python=3.6 cudatoolkit=10.0
```
{: .nightly-cusignal-conda-py36-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cusignal=0.15 python=3.7 cudatoolkit=10.0
```
{: .nightly-cusignal-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuspatial=0.15 python=3.6 cudatoolkit=10.1
```
{: .nightly-cuspatial-conda-py36-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuspatial=0.15 python=3.7 cudatoolkit=10.1
```
{: .nightly-cuspatial-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.15 python=3.6 cudatoolkit=10.1
```
{: .nightly-cuxfilter-conda-py36-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.15 python=3.7 cudatoolkit=10.1
```
{: .nightly-cuxfilter-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults clx=0.15 python=3.6 cudatoolkit=10.1
```
{: .nightly-clx-conda-py36-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults clx=0.15 python=3.7 cudatoolkit=10.1
```
{: .nightly-clx-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults rapids=0.15 python=3.6 cudatoolkit=10.1
```
{: .nightly-all-conda-py36-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults rapids=0.15 python=3.7 cudatoolkit=10.1
```
{: .nightly-all-conda-py37-cuda101 .hidden }
<!--
    END - NIGHTLY commands
-->
