<section class='{{ include.background }} padding-top-{{ include.padding-top }} padding-bottom-{{ include.padding-bottom }}'>
    <div class='container-padding'>
        <div class='selector '>
            <div class='options'>
                <div class='method'>
                    <div class='option-label'>Method</div>
                    <div id='conda' class='option' title="preferred">Conda&nbsp;&nbsp;<i class="fas fa-box-open"></i></div>
                    <div id='docker' class='option' title="preferred">Docker&nbsp;&nbsp;<i class="fab fa-docker"></i></div>
                    <div id='source' class='option' title="advanced">Source&nbsp;&nbsp;<i class="fas fa-cogs"></i></div>
                </div>
                <div class='release'>
                    <div class='option-label'>Release</div>
                    <div id='stable' class='option'>Stable (0.8)</div>
                    <div id='nightly' class='option'>Nightly (0.9a)</div>
                </div>
                <div class='pkg'>
                    <div class='option-label'>Packages</div>
                    <div id='cudf' class='option'>cuDF</div>
                    <div id='cuml' class='option'>cuML</div>
                    <div id='cugraph' class='option'>cuGraph</div>
                    <div id='all' class='option'>All Packages</div>
                </div>
                <div class='linux'>
                    <div class='option-label'>Linux</div>
                    <div id='ubuntu1604' class='option'>Ubuntu 16.04</div>
                    <div id='ubuntu1804' class='option'>Ubuntu 18.04</div>
                    <div id='centos7' class='option'>CentOS 7</div>
                </div>
                <div class='python'>
                    <div class='option-label'>Python</div>
                    <div id='py36' class='option'>Python 3.6</div>
                    <div id='py37' class='option'>Python 3.7</div>
                </div>
                <div class='cuda'>
                    <div class='option-label'>CUDA</div>
                    <div id='cuda92' class='option'>CUDA 9.2</div>
                    <div id='cuda100' class='option'>CUDA 10.0</div>
                </div>
            </div>
            <div class='cmd'>
                <div class='cmd-label'>Command</div>
                <div id='command' class='cmd-box'><div class="highlight"><pre class="highlight"><code><span class="gh"># Javascript is needed for this tool to run, please make sure it is enabled</span></code></pre></div></div>
            </div>
        </div>
        <div class="selector-buttons">
            <a id='copy-command' onclick='CopyToClipboard("command-code")' class='primary-btn'>COPY COMMAND <i class="fas fa-clipboard"></i></a>
        </div>
    </div>
</section>
<script type="text/javascript">
/* Adopted from https://pytorch.org/assets/quick-start-module.js */
var pkg = ['cudf', 'cuml', 'cugraph', 'all'];
var method = ['conda', 'docker', 'source'];
var release = ['stable', 'nightly'];
var linux = ['ubuntu1604', 'ubuntu1804', 'centos7'];
var python = ['py36', 'py37'];
var cuda = ['cuda92', 'cuda100'];
var pkg_opts = $(".pkg > .option");
var method_opts = $(".method > .option");
var release_opts = $(".release > .option");
var linux_opts = $(".linux > .option");
var python_opts = $(".python > .option");
var cuda_opts = $(".cuda > .option");
var details = {
    conda: 'conda-install',
    docker: 'docker-container',
    pip: 'pip-install',
    source: 'build-from-source'
}
// Set initial choices
var selections = {
    pkg: 'all',
    method: 'conda',
    release: 'stable',
    linux: 'ubuntu1604',
    python: 'py36',
    cuda: 'cuda92'
};
pkg_opts.on("click", function() {
    processClick(pkg_opts, this, "pkg");
});
method_opts.on("click", function() {
    processClick(method_opts, this, "method");
});
release_opts.on("click", function() {
    processClick(release_opts, this, "release");
});
linux_opts.on("click", function() {
    processClick(linux_opts, this, "linux");
});
python_opts.on("click", function() {
    processClick(python_opts, this, "python");
});
cuda_opts.on("click", function() {
    processClick(cuda_opts, this, "cuda");
});
// Initialize on start
$(function() {
    processClick();
});

function processClick(options, click, category) {
    // reset all
    $(pkg_opts).removeClass("disabled");
    $(release_opts).removeClass("disabled");
    $(linux_opts).removeClass("disabled");
    $(python_opts).removeClass("disabled");
    $(cuda_opts).removeClass("disabled");
    $(pkg_opts).removeClass("active");
    $(release_opts).removeClass("active");
    $(linux_opts).removeClass("active");
    $(python_opts).removeClass("active");
    $(cuda_opts).removeClass("active");
    var prev_linux = selections['linux'];
    var prev_release = selections['release'];
    if (options && click && category) {
        $(options).removeClass("active");
        $(click).addClass("active");
        selections[category] = click.id;
    }
    if (selections['method'] == 'docker') {
        // Handle docker requests
        $(pkg_opts).addClass("disabled");
        $("#all").removeClass("disabled");
        $("#all").addClass("active");
        selections['pkg'] = 'all';
    } else if (selections['method'] == 'source') {
        // Handle source requests
        $("#all").addClass("disabled");
        if (selections['pkg'] == 'all') {
            selections['pkg'] = 'cudf';
        }
        $(linux_opts).removeClass("active");
        $(python_opts).removeClass("active");
        $(cuda_opts).removeClass("active");
        $(linux_opts).addClass("disabled");
        $(python_opts).addClass("disabled");
        $(cuda_opts).addClass("disabled");
    } else {
        $("#" + selections['method']).addClass("active");
    }
    $("#" + selections['pkg']).addClass("active");
    $("#" + selections['linux']).addClass("active");
    $("#" + selections['python']).addClass("active");
    $("#" + selections['cuda']).addClass("active");
    $("#" + selections['release']).addClass("active");

    showCommand();
}

function getSelections() {
    if (selections['method'] == 'source') {
        return "" + selections['release'] + "-" + selections['pkg'] + "-" + selections['method'];
    } else {
        return "" + selections['release'] + "-" + selections['pkg'] + "-" + selections['method'] + "-" + selections['linux'] + "-" + selections['python'] + "-" + selections['cuda'];
    }
}

function showCommand() {
    var key = getSelections();
    var command = $("." + key).html();
    var anchor = details[selections['method']];
    var txt = ("" + selections['method'] + " details").toUpperCase();
    $("#command").html(command);
    $("#command > div > pre > code ").attr("id", "command-code")
}

function CopyToClipboard(containerid) {
    if (document.selection) { //IE
        var range = document.body.createTextRange();
        range.moveToElementText(document.getElementById(containerid));
        range.select();
        document.execCommand("copy");
    } else if (window.getSelection) { //others
        var range = document.createRange();
        range.selectNode(document.getElementById(containerid));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
        document.execCommand("copy");
    }
}
</script>
<!--
    STABLE commands
-->
<!-- docker - ubuntu 16.04 -->
```bash
docker pull rapidsai/rapidsai:latest
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:latest
```
{: .stable-all-docker-ubuntu1604-py36-cuda92 .hidden }
```bash
docker pull rapidsai/rapidsai:0.8-cuda9.2-runtime-ubuntu16.04-gcc5-py3.7
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:0.8-cuda9.2-runtime-ubuntu16.04-gcc5-py3.7
```
{: .stable-all-docker-ubuntu1604-py37-cuda92 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.0-runtime-ubuntu16.04
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.0-runtime-ubuntu16.04
```
{: .stable-all-docker-ubuntu1604-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai:0.8-cuda10.0-runtime-ubuntu16.04-gcc5-py3.7
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:0.8-cuda10.0-runtime-ubuntu16.04-gcc5-py3.7
```
{: .stable-all-docker-ubuntu1604-py37-cuda100 .hidden }
<!-- docker - ubuntu 18.04 -->
```bash
docker pull rapidsai/rapidsai:cuda9.2-runtime-ubuntu18.04
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda9.2-runtime-ubuntu18.04
```
{: .stable-all-docker-ubuntu1804-py36-cuda92 .hidden }
```bash
docker pull rapidsai/rapidsai:0.8-cuda9.2-runtime-ubuntu18.04-gcc7-py3.7
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:0.8-cuda9.2-runtime-ubuntu18.04-gcc7-py3.7
```
{: .stable-all-docker-ubuntu1804-py37-cuda92 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.0-runtime-ubuntu18.04
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.0-runtime-ubuntu18.04
```
{: .stable-all-docker-ubuntu1804-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai:0.8-cuda10.0-runtime-ubuntu18.04-gcc7-py3.7
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:0.8-cuda10.0-runtime-ubuntu18.04-gcc7-py3.7
```
{: .stable-all-docker-ubuntu1804-py37-cuda100 .hidden }
<!-- docker - centos 7 -->
```bash
docker pull rapidsai/rapidsai:cuda9.2-runtime-centos7
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda9.2-runtime-centos7
```
{: .stable-all-docker-centos7-py36-cuda92 .hidden }
```bash
docker pull rapidsai/rapidsai:0.8-cuda9.2-runtime-centos7-gcc7-py3.7
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:0.8-cuda9.2-runtime-centos7-gcc7-py3.7
```
{: .stable-all-docker-centos7-py37-cuda92 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.0-runtime-centos7
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.0-runtime-centos7
```
{: .stable-all-docker-centos7-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai:0.8-cuda10.0-runtime-centos7-gcc7-py3.7
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:0.8-cuda10.0-runtime-centos7-gcc7-py3.7
```
{: .stable-all-docker-centos7-py37-cuda100 .hidden }
<!-- source -->
<div class="stable-cudf-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cudf/tree/master#buildinstall-from-source" _target="blank">cuDF README</a> for build instructions</pre>
</div>
<div class="stable-cuml-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuml/tree/master#buildinstall-from-source" _target="blank">cuML README</a> for build instructions</pre>
</div>
<div class="stable-cugraph-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cugraph/tree/master#build-from-source-and-contributing" _target="blank">cuGraph README</a> for build instructions</pre>
</div>
<!-- conda cuda92 -->
```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults \
    cudf=0.8 python=3.6 cudatoolkit=9.2
```
{: .stable-cudf-conda-ubuntu1604-py36-cuda92 .stable-cudf-conda-ubuntu1804-py36-cuda92 .stable-cudf-conda-centos7-py36-cuda92 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults \
    cudf=0.8 python=3.7 cudatoolkit=9.2
```
{: .stable-cudf-conda-ubuntu1604-py37-cuda92 .stable-cudf-conda-ubuntu1804-py37-cuda92 .stable-cudf-conda-centos7-py37-cuda92 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c pytorch -c defaults \
    cuml=0.8 python=3.6 cudatoolkit=9.2
```
{: .stable-cuml-conda-ubuntu1604-py36-cuda92 .stable-cuml-conda-ubuntu1804-py36-cuda92 .stable-cuml-conda-centos7-py36-cuda92 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c pytorch -c defaults \
    cuml=0.8 python=3.7 cudatoolkit=9.2
```
{: .stable-cuml-conda-ubuntu1604-py37-cuda92 .stable-cuml-conda-ubuntu1804-py37-cuda92 .stable-cuml-conda-centos7-py37-cuda92 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults \
    cugraph=0.8 python=3.6 cudatoolkit=9.2
```
{: .stable-cugraph-conda-ubuntu1604-py36-cuda92 .stable-cugraph-conda-ubuntu1804-py36-cuda92 .stable-cugraph-conda-centos7-py36-cuda92 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults \
    cugraph=0.8 python=3.7 cudatoolkit=9.2
```
{: .stable-cugraph-conda-ubuntu1604-py37-cuda92 .stable-cugraph-conda-ubuntu1804-py37-cuda92 .stable-cugraph-conda-centos7-py37-cuda92 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c pytorch -c defaults \
    cudf=0.8 cuml=0.8 cugraph=0.8 python=3.6 cudatoolkit=9.2
```
{: .stable-all-conda-ubuntu1604-py36-cuda92 .stable-all-conda-ubuntu1804-py36-cuda92 .stable-all-conda-centos7-py36-cuda92 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c pytorch -c defaults \
    cudf=0.8 cuml=0.8 cugraph=0.8 python=3.7 cudatoolkit=9.2
```
{: .stable-all-conda-ubuntu1604-py37-cuda92 .stable-all-conda-ubuntu1804-py37-cuda92 .stable-all-conda-centos7-py37-cuda92 .hidden }

<!-- conda cuda100 -->
```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults \
    cudf=0.8 python=3.6 cudatoolkit=10.0
```
{: .stable-cudf-conda-ubuntu1604-py36-cuda100 .stable-cudf-conda-ubuntu1804-py36-cuda100 .stable-cudf-conda-centos7-py36-cuda100 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults \
    cudf=0.8 python=3.7 cudatoolkit=10.0
```
{: .stable-cudf-conda-ubuntu1604-py37-cuda100 .stable-cudf-conda-ubuntu1804-py37-cuda100 .stable-cudf-conda-centos7-py37-cuda100 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c pytorch -c defaults \
    cuml=0.8 python=3.6 cudatoolkit=10.0
```
{: .stable-cuml-conda-ubuntu1604-py36-cuda100 .stable-cuml-conda-ubuntu1804-py36-cuda100 .stable-cuml-conda-centos7-py36-cuda100 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c pytorch -c defaults \
    cuml=0.8 python=3.7 cudatoolkit=10.0
```
{: .stable-cuml-conda-ubuntu1604-py37-cuda100 .stable-cuml-conda-ubuntu1804-py37-cuda100 .stable-cuml-conda-centos7-py37-cuda100 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults \
    cugraph=0.8 python=3.6 cudatoolkit=10.0
```
{: .stable-cugraph-conda-ubuntu1604-py36-cuda100 .stable-cugraph-conda-ubuntu1804-py36-cuda100 .stable-cugraph-conda-centos7-py36-cuda100 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults \
    cugraph=0.8 python=3.7 cudatoolkit=10.0
```
{: .stable-cugraph-conda-ubuntu1604-py37-cuda100 .stable-cugraph-conda-ubuntu1804-py37-cuda100 .stable-cugraph-conda-centos7-py37-cuda100 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c pytorch -c defaults \
    cudf=0.8 cuml=0.8 cugraph=0.8 python=3.6 cudatoolkit=10.0
```
{: .stable-all-conda-ubuntu1604-py36-cuda100 .stable-all-conda-ubuntu1804-py36-cuda100 .stable-all-conda-centos7-py36-cuda100 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c pytorch -c defaults \
    cudf=0.8 cuml=0.8 cugraph=0.8 python=3.7 cudatoolkit=10.0
```
{: .stable-all-conda-ubuntu1604-py37-cuda100 .stable-all-conda-ubuntu1804-py37-cuda100 .stable-all-conda-centos7-py37-cuda100 .hidden }

<!--
    NIGHTLY commands
-->
<!-- docker - ubuntu 16.04 -->
```bash
docker pull rapidsai/rapidsai-nightly:latest
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:latest
```
{: .nightly-all-docker-ubuntu1604-py36-cuda92 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:0.9-cuda9.2-runtime-ubuntu16.04-gcc5-py3.7
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:0.9-cuda9.2-runtime-ubuntu16.04-gcc5-py3.7
```
{: .nightly-all-docker-ubuntu1604-py37-cuda92 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.0-runtime-ubuntu16.04
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.0-runtime-ubuntu16.04
```
{: .nightly-all-docker-ubuntu1604-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:0.9-cuda10.0-runtime-ubuntu16.04-gcc5-py3.7
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:0.9-cuda10.0-runtime-ubuntu16.04-gcc5-py3.7
```
{: .nightly-all-docker-ubuntu1604-py37-cuda100 .hidden }
<!-- docker - ubuntu 18.04 -->
```bash
docker pull rapidsai/rapidsai-nightly:cuda9.2-runtime-ubuntu18.04
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda9.2-runtime-ubuntu18.04
```
{: .nightly-all-docker-ubuntu1804-py36-cuda92 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:0.9-cuda9.2-runtime-ubuntu18.04-gcc7-py3.7
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:0.9-cuda9.2-runtime-ubuntu18.04-gcc7-py3.7
```
{: .nightly-all-docker-ubuntu1804-py37-cuda92 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.0-runtime-ubuntu18.04
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.0-runtime-ubuntu18.04
```
{: .nightly-all-docker-ubuntu1804-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:0.9-cuda10.0-runtime-ubuntu18.04-gcc7-py3.7
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:0.9-cuda10.0-runtime-ubuntu18.04-gcc7-py3.7
```
{: .nightly-all-docker-ubuntu1804-py37-cuda100 .hidden }
<!-- docker - centos 7 -->
```bash
docker pull rapidsai/rapidsai-nightly:cuda9.2-runtime-centos7
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda9.2-runtime-centos7
```
{: .nightly-all-docker-centos7-py36-cuda92 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:0.9-cuda9.2-runtime-centos7-gcc7-py3.7
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:0.9-cuda9.2-runtime-centos7-gcc7-py3.7
```
{: .nightly-all-docker-centos7-py37-cuda92 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.0-runtime-centos7
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.0-runtime-centos7
```
{: .nightly-all-docker-centos7-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:0.9-cuda10.0-runtime-centos7-gcc7-py3.7
docker run --runtime=nvidia --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:0.9-cuda10.0-runtime-centos7-gcc7-py3.7
```
{: .nightly-all-docker-centos7-py37-cuda100 .hidden }
<!-- source -->
<div class="nightly-cudf-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cudf#buildinstall-from-source" _target="blank">cuDF README</a> for build instructions</pre>
</div>
<div class="nightly-cuml-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuml#buildinstall-from-source" _target="blank">cuML README</a> for build instructions</pre>
</div>
<div class="nightly-cugraph-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cugraph#build-from-source-and-contributing" _target="blank">cuGraph README</a> for build instructions</pre>
</div>
<!-- conda cuda92 -->
```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults \
    cudf=0.9 python=3.6 cudatoolkit=9.2
```
{: .nightly-cudf-conda-ubuntu1604-py36-cuda92 .nightly-cudf-conda-ubuntu1804-py36-cuda92 .nightly-cudf-conda-centos7-py36-cuda92 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults \
    cudf=0.9 python=3.7 cudatoolkit=9.2
```
{: .nightly-cudf-conda-ubuntu1604-py37-cuda92 .nightly-cudf-conda-ubuntu1804-py37-cuda92 .nightly-cudf-conda-centos7-py37-cuda92 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c pytorch -c defaults \
    cuml=0.9 python=3.6 cudatoolkit=9.2
```
{: .nightly-cuml-conda-ubuntu1604-py36-cuda92 .nightly-cuml-conda-ubuntu1804-py36-cuda92 .nightly-cuml-conda-centos7-py36-cuda92 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c pytorch -c defaults \
    cuml=0.9 python=3.7 cudatoolkit=9.2
```
{: .nightly-cuml-conda-ubuntu1604-py37-cuda92 .nightly-cuml-conda-ubuntu1804-py37-cuda92 .nightly-cuml-conda-centos7-py37-cuda92 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults \
    cugraph=0.9 python=3.6 cudatoolkit=9.2
```
{: .nightly-cugraph-conda-ubuntu1604-py36-cuda92 .nightly-cugraph-conda-ubuntu1804-py36-cuda92 .nightly-cugraph-conda-centos7-py36-cuda92 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults \
    cugraph=0.9 python=3.7 cudatoolkit=9.2
```
{: .nightly-cugraph-conda-ubuntu1604-py37-cuda92 .nightly-cugraph-conda-ubuntu1804-py37-cuda92 .nightly-cugraph-conda-centos7-py37-cuda92 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c pytorch -c defaults \
    cudf=0.9 cuml=0.9 cugraph=0.9 python=3.6 cudatoolkit=9.2
```
{: .nightly-all-conda-ubuntu1604-py36-cuda92 .nightly-all-conda-ubuntu1804-py36-cuda92 .nightly-all-conda-centos7-py36-cuda92 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c pytorch -c defaults \
    cudf=0.9 cuml=0.9 cugraph=0.9 python=3.7 cudatoolkit=9.2
```
{: .nightly-all-conda-ubuntu1604-py37-cuda92 .nightly-all-conda-ubuntu1804-py37-cuda92 .nightly-all-conda-centos7-py37-cuda92 .hidden }

<!-- conda cuda100 -->
```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults \
    cudf=0.9 python=3.6 cudatoolkit=10.0
```
{: .nightly-cudf-conda-ubuntu1604-py36-cuda100 .nightly-cudf-conda-ubuntu1804-py36-cuda100 .nightly-cudf-conda-centos7-py36-cuda100 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults \
    cudf=0.9 python=3.7 cudatoolkit=10.0
```
{: .nightly-cudf-conda-ubuntu1604-py37-cuda100 .nightly-cudf-conda-ubuntu1804-py37-cuda100 .nightly-cudf-conda-centos7-py37-cuda100 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c pytorch -c defaults \
    cuml=0.9 python=3.6 cudatoolkit=10.0
```
{: .nightly-cuml-conda-ubuntu1604-py36-cuda100 .nightly-cuml-conda-ubuntu1804-py36-cuda100 .nightly-cuml-conda-centos7-py36-cuda100 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c pytorch -c defaults \
    cuml=0.9 python=3.7 cudatoolkit=10.0
```
{: .nightly-cuml-conda-ubuntu1604-py37-cuda100 .nightly-cuml-conda-ubuntu1804-py37-cuda100 .nightly-cuml-conda-centos7-py37-cuda100 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults \
    cugraph=0.9 python=3.6 cudatoolkit=10.0
```
{: .nightly-cugraph-conda-ubuntu1604-py36-cuda100 .nightly-cugraph-conda-ubuntu1804-py36-cuda100 .nightly-cugraph-conda-centos7-py36-cuda100 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults \
    cugraph=0.9 python=3.7 cudatoolkit=10.0
```
{: .nightly-cugraph-conda-ubuntu1604-py37-cuda100 .nightly-cugraph-conda-ubuntu1804-py37-cuda100 .nightly-cugraph-conda-centos7-py37-cuda100 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c pytorch -c defaults \
    cudf=0.9 cuml=0.9 cugraph=0.9 python=3.6 cudatoolkit=10.0
```
{: .nightly-all-conda-ubuntu1604-py36-cuda100 .nightly-all-conda-ubuntu1804-py36-cuda100 .nightly-all-conda-centos7-py36-cuda100 .hidden }

```bash
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c pytorch -c defaults \
    cudf=0.9 cuml=0.9 cugraph=0.9 python=3.7 cudatoolkit=10.0
```
{: .nightly-all-conda-ubuntu1604-py37-cuda100 .nightly-all-conda-ubuntu1804-py37-cuda100 .nightly-all-conda-centos7-py37-cuda100 .hidden }