<section class="pure-g {{ include.background }} padding-top-{{ include.padding-top }} padding-bottom-{{ include.padding-bottom }} ">
    <div id="roadmap" class="container-padding roadmap-bottom-line">
        <!-- loaded from json -->
    </div>
</section>
<script>
$.getJSON("{{ site.roadmaphiurl }}")
    .done(function(json) {

        // legacy (single previous only)
        var legacy = ''
        if (json[json.legacy.ver] === undefined || json[json.legacy.ver].length === 0 ) {
            legacy = '<li><i class="fas fa-ban"></i> Nothing Featured</li>'
        } else {
            legacy = json[json.legacy.ver].map(function(d, i) {

                if (!d.isPrivate && d.isPriority) {
                    var tags = d.tags.map(function(e, j) {
                        return ('<div class="roadmap-tag">'+ e +'</div>')
                    }).join('')
                    return ('<li><i class="fas fa-caret-right"></i> ' + d.name + '<br>' + tags +'</li>')
                }

            }).join('')
        }

        // stable
        var stable = ''
        if (json[json.stable.ver] === undefined || json[json.stable.ver].length === 0) {
            stable = '<li><i class="fas fa-ban"></i> Nothing Featured</li>'
        } else {
            stable = json[json.stable.ver].map(function(d, i) {

                if (!d.isPrivate && d.isPriority) {
                    var tags = d.tags.map(function(e, j) {
                        return ('<div class="roadmap-tag">'+ e +'</div>')
                    }).join('')
                    return ('<li><i class="fas fa-caret-right"></i> ' + d.name + '<br>' + tags +'</li>')
                     }
            }).join('')
        }

        // nightly
        var nightly = ''
        if (json[json.nightly.ver] === undefined || json[json.nightly.ver].length === 0) {
            nightly = '<li><i class="fas fa-ban"></i> Nothing Featured</li>'
        } else {
            nightly = json[json.nightly.ver].map(function(d, i) {

                // if featured 
                if (!d.isPrivate && d.isPriority) {
                    var tags = d.tags.map(function(e, j) {
                        return ('<div class="roadmap-tag">'+ e +'</div>')
                    }).join('')
                    return ('<li><i class="fas fa-caret-right"></i> ' + d.name + '<br>' + tags + '</li>')
                } 
            }).join('')
        }

        $('#roadmap').append('<div class="pure-u-1 pure-u-md-1-3 roadmap-vline"> <div class="roadmap-ver">' + json.legacy.ver + '<div class="roadmap-ver-title"> legacy - ' + json.legacy.release + '</div> </div> <ul class="roadmap-list">' + legacy + '<br> <i class="fas fa-ellipsis-h section-title-full"></i> </ul></div>')
        $('#roadmap').append('<div class="pure-u-1 pure-u-md-1-3 roadmap-vline"> <div class="roadmap-ver">' + json.stable.ver + '<div class="roadmap-ver-title"> stable - ' + json.stable.release + '</div> </div> <ul class="roadmap-list">' + stable + '<br> <i class="fas fa-ellipsis-h section-title-full"></i> </ul></div>')
        $('#roadmap').append('<div class="pure-u-1 pure-u-md-1-3 roadmap-vdash"> <div class="roadmap-ver">' + json.nightly.ver + '<div class="roadmap-ver-title"> nightly - ' + json.nightly.release + '</div> </div> <ul class="roadmap-list">' + nightly + '<br> <i class="fas fa-ellipsis-h section-title-full"></i> </ul></div>')


    })
    .fail(function(jqxhr, textStatus, error) {
        console.log("Roadmap JSON request Failed: ", textStatus, error);
    });
</script>