
<section class="{{ include.background }} padding-top-{{ include.padding-top }} padding-bottom-{{ include.padding-bottom }}">
 	<div class="pure-g">
	    <div class="container-padding">
	        <div class="pure-u-1 pure-u-md-1-3"> {{ include.content-top-left-third | markdownify }} </div>
	        <div class="pure-u-1 pure-u-md-1-3"> {{ include.content-top-middle-third | markdownify }} </div>
	        <div class="pure-u-1 pure-u-md-1-3"> {{ include.content-top-right-third | markdownify }} </div>
	    </div>
	</div>
	<div class="pure-g">
	    <div class="container-padding">
	        <div class="pure-u-1 pure-u-md-1-3"> {{ include.content-bottom-left-third | markdownify }} </div>
	        <div class="pure-u-1 pure-u-md-1-3"> {{ include.content-bottom-middle-third | markdownify }} </div>
	        <div class="pure-u-1 pure-u-md-1-3"> {{ include.content-bottom-right-third | markdownify }} </div>
	    </div>
	</div>
</section>

