<section class="pure-g {{ include.background }} padding-top-{{ include.padding-top }} padding-bottom-{{ include.padding-bottom }} ">
    <div class="container-padding {{ include.banner }}">
        <div class="pure-u-1 pure-u-md-1-2"> {{ include.content-top-left-two| markdownify }} </div>
        <div class="pure-u-1 pure-u-md-1-2"> {{ include.content-top-right-two | markdownify }} </div>
    </div>
    <div class="container-padding {{ include.banner }}">
        <div class="pure-u-1 pure-u-md-1-2"> {{ include.content-bottom-left-two | markdownify }} </div>
        <div class="pure-u-2 pure-u-md-1-2"> {{ include.content-bottom-right-two | markdownify }} </div>
    </div>
</section>