<section>
	{% if include.background == 'section-purple' or include.background == 'section-gray' %}
		<div class="top-bg-slant {{ include.background }}"></div>
	{% endif %}
    <div class="pure-g {{ include.background }}">
        <div class="container-padding">
            <div class="pure-u-1 pure-u-md-1-2"> {{ include.content-top-left-half | markdownify }} </div>
            <div class="pure-u-1 pure-u-md-1-2"> {{ include.content-top-right-half | markdownify }} </div>
        </div>
    </div>
    <div class="pure-g {{ include.background }}">
        <div class="container-padding">
            <div class="pure-u-1 pure-u-md-1-2"> {{ include.content-bottom-left-half | markdownify }} </div>
            <div class="pure-u-1 pure-u-md-1-2"> {{ include.content-bottom-right-half | markdownify }} </div>
         </div>
    </div>
	{% if include.background == 'section-purple' or include.background == 'section-gray'%}
		<div class="bottom-bg-slant {{ include.background }}"></div>
	{% endif %}
</section>