
<section>
	{% if include.background == 'background-purple' or include.background == 'background-gray' %}
		<div class="top-bg-slant {{ include.background }}"></div>
	{% endif %}
 	<div class="pure-g {{ include.background }}">
	    <div class="container-padding">
	        <div class="pure-u-1 pure-u-md-1-3"> {{ include.content-top-left-third | markdownify }} </div>
	        <div class="pure-u-1 pure-u-md-1-3"> {{ include.content-top-middle-third | markdownify }} </div>
	        <div class="pure-u-1 pure-u-md-1-3"> {{ include.content-top-right-third | markdownify }} </div>
	    </div>
	</div>
	<div class="pure-g {{ include.background }}">
	    <div class="container-padding">
	        <div class="pure-u-1 pure-u-md-1-3"> {{ include.content-bottom-left-third | markdownify }} </div>
	        <div class="pure-u-1 pure-u-md-1-3"> {{ include.content-bottom-middle-third | markdownify }} </div>
	        <div class="pure-u-1 pure-u-md-1-3"> {{ include.content-bottom-right-third | markdownify }} </div>
	    </div>
	</div>
	{% if include.background == 'background-purple' or include.background == 'background-gray' %}
		<div class="bottom-bg-slant {{ include.background }}"></div>
	{% endif %}
</section>

