
<!-- docker runtime ubuntu18.04 -->
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.0-runtime-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.0-runtime-ubuntu18.04-py3.7
```
{: .stable-all-runtime-ubuntu1804-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.0-runtime-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.0-runtime-ubuntu18.04-py3.8
```
{: .stable-all-runtime-ubuntu1804-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.2-runtime-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.2-runtime-ubuntu18.04-py3.7
```
{: .stable-all-runtime-ubuntu1804-py37-cuda112 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.2-runtime-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.2-runtime-ubuntu18.04-py3.8
```
{: .stable-all-runtime-ubuntu1804-py38-cuda112 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.4-runtime-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.4-runtime-ubuntu18.04-py3.7
```
{: .stable-all-runtime-ubuntu1804-py37-cuda114 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.4-runtime-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.4-runtime-ubuntu18.04-py3.8
```
{: .stable-all-runtime-ubuntu1804-py38-cuda114 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.5-runtime-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.5-runtime-ubuntu18.04-py3.7
```
{: .stable-all-runtime-ubuntu1804-py37-cuda115 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.5-runtime-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.5-runtime-ubuntu18.04-py3.8
```
{: .stable-all-runtime-ubuntu1804-py38-cuda115 .hidden }

<!-- docker runtime ubuntu20.04 -->
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.0-runtime-ubuntu20.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.0-runtime-ubuntu20.04-py3.7
```
{: .stable-all-runtime-ubuntu2004-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.0-runtime-ubuntu20.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.0-runtime-ubuntu20.04-py3.8
```
{: .stable-all-runtime-ubuntu2004-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.2-runtime-ubuntu20.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.2-runtime-ubuntu20.04-py3.7
```
{: .stable-all-runtime-ubuntu2004-py37-cuda112 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.2-runtime-ubuntu20.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.2-runtime-ubuntu20.04-py3.8
```
{: .stable-all-runtime-ubuntu2004-py38-cuda112 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.4-runtime-ubuntu20.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.4-runtime-ubuntu20.04-py3.7
```
{: .stable-all-runtime-ubuntu2004-py37-cuda114 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.4-runtime-ubuntu20.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.4-runtime-ubuntu20.04-py3.8
```
{: .stable-all-runtime-ubuntu2004-py38-cuda114 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.5-runtime-ubuntu20.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.5-runtime-ubuntu20.04-py3.7
```
{: .stable-all-runtime-ubuntu2004-py37-cuda115 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.5-runtime-ubuntu20.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.5-runtime-ubuntu20.04-py3.8
```
{: .stable-all-runtime-ubuntu2004-py38-cuda115 .hidden }

<!-- docker runtime centos7 -->
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.0-runtime-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.0-runtime-centos7-py3.7
```
{: .stable-all-runtime-centos7-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.0-runtime-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.0-runtime-centos7-py3.8
```
{: .stable-all-runtime-centos7-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.2-runtime-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.2-runtime-centos7-py3.7
```
{: .stable-all-runtime-centos7-py37-cuda112 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.2-runtime-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.2-runtime-centos7-py3.8
```
{: .stable-all-runtime-centos7-py38-cuda112 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.4-runtime-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.4-runtime-centos7-py3.7
```
{: .stable-all-runtime-centos7-py37-cuda114 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.4-runtime-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.4-runtime-centos7-py3.8
```
{: .stable-all-runtime-centos7-py38-cuda114 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.5-runtime-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.5-runtime-centos7-py3.7
```
{: .stable-all-runtime-centos7-py37-cuda115 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.5-runtime-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.5-runtime-centos7-py3.8
```
{: .stable-all-runtime-centos7-py38-cuda115 .hidden }

<!-- docker runtime centos8 -->
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.0-runtime-centos8-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.0-runtime-centos8-py3.7
```
{: .stable-all-runtime-centos8-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.0-runtime-centos8-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.0-runtime-centos8-py3.8
```
{: .stable-all-runtime-centos8-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.2-runtime-centos8-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.2-runtime-centos8-py3.7
```
{: .stable-all-runtime-centos8-py37-cuda112 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.2-runtime-centos8-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.2-runtime-centos8-py3.8
```
{: .stable-all-runtime-centos8-py38-cuda112 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.4-runtime-centos8-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.4-runtime-centos8-py3.7
```
{: .stable-all-runtime-centos8-py37-cuda114 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.4-runtime-centos8-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.4-runtime-centos8-py3.8
```
{: .stable-all-runtime-centos8-py38-cuda114 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.5-runtime-centos8-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.5-runtime-centos8-py3.7
```
{: .stable-all-runtime-centos8-py37-cuda115 .hidden }
```bash
docker pull rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.5-runtime-centos8-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:{{site.data.releases.stable-version}}-cuda11.5-runtime-centos8-py3.8
```
{: .stable-all-runtime-centos8-py38-cuda115 .hidden }

<!-- docker devel ubuntu18.04 -->
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.0-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.0-devel-ubuntu18.04-py3.7
```
{: .stable-all-devel-ubuntu1804-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.0-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.0-devel-ubuntu18.04-py3.8
```
{: .stable-all-devel-ubuntu1804-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.2-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.2-devel-ubuntu18.04-py3.7
```
{: .stable-all-devel-ubuntu1804-py37-cuda112 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.2-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.2-devel-ubuntu18.04-py3.8
```
{: .stable-all-devel-ubuntu1804-py38-cuda112 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.4-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.4-devel-ubuntu18.04-py3.7
```
{: .stable-all-devel-ubuntu1804-py37-cuda114 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.4-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.4-devel-ubuntu18.04-py3.8
```
{: .stable-all-devel-ubuntu1804-py38-cuda114 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.5-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.5-devel-ubuntu18.04-py3.7
```
{: .stable-all-devel-ubuntu1804-py37-cuda115 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.5-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.5-devel-ubuntu18.04-py3.8
```
{: .stable-all-devel-ubuntu1804-py38-cuda115 .hidden }

<!-- docker devel ubuntu20.04 -->
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.0-devel-ubuntu20.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.0-devel-ubuntu20.04-py3.7
```
{: .stable-all-devel-ubuntu2004-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.0-devel-ubuntu20.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.0-devel-ubuntu20.04-py3.8
```
{: .stable-all-devel-ubuntu2004-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.2-devel-ubuntu20.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.2-devel-ubuntu20.04-py3.7
```
{: .stable-all-devel-ubuntu2004-py37-cuda112 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.2-devel-ubuntu20.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.2-devel-ubuntu20.04-py3.8
```
{: .stable-all-devel-ubuntu2004-py38-cuda112 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.4-devel-ubuntu20.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.4-devel-ubuntu20.04-py3.7
```
{: .stable-all-devel-ubuntu2004-py37-cuda114 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.4-devel-ubuntu20.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.4-devel-ubuntu20.04-py3.8
```
{: .stable-all-devel-ubuntu2004-py38-cuda114 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.5-devel-ubuntu20.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.5-devel-ubuntu20.04-py3.7
```
{: .stable-all-devel-ubuntu2004-py37-cuda115 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.5-devel-ubuntu20.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.5-devel-ubuntu20.04-py3.8
```
{: .stable-all-devel-ubuntu2004-py38-cuda115 .hidden }

<!-- docker devel centos7 -->
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.0-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.0-devel-centos7-py3.7
```
{: .stable-all-devel-centos7-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.0-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.0-devel-centos7-py3.8
```
{: .stable-all-devel-centos7-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.2-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.2-devel-centos7-py3.7
```
{: .stable-all-devel-centos7-py37-cuda112 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.2-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.2-devel-centos7-py3.8
```
{: .stable-all-devel-centos7-py38-cuda112 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.4-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.4-devel-centos7-py3.7
```
{: .stable-all-devel-centos7-py37-cuda114 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.4-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.4-devel-centos7-py3.8
```
{: .stable-all-devel-centos7-py38-cuda114 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.5-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.5-devel-centos7-py3.7
```
{: .stable-all-devel-centos7-py37-cuda115 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.5-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.5-devel-centos7-py3.8
```
{: .stable-all-devel-centos7-py38-cuda115 .hidden }

<!-- docker devel centos8 -->
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.0-devel-centos8-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.0-devel-centos8-py3.7
```
{: .stable-all-devel-centos8-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.0-devel-centos8-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.0-devel-centos8-py3.8
```
{: .stable-all-devel-centos8-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.2-devel-centos8-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.2-devel-centos8-py3.7
```
{: .stable-all-devel-centos8-py37-cuda112 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.2-devel-centos8-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.2-devel-centos8-py3.8
```
{: .stable-all-devel-centos8-py38-cuda112 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.4-devel-centos8-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.4-devel-centos8-py3.7
```
{: .stable-all-devel-centos8-py37-cuda114 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.4-devel-centos8-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.4-devel-centos8-py3.8
```
{: .stable-all-devel-centos8-py38-cuda114 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.5-devel-centos8-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.5-devel-centos8-py3.7
```
{: .stable-all-devel-centos8-py37-cuda115 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.5-devel-centos8-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:{{site.data.releases.stable-version}}-cuda11.5-devel-centos8-py3.8
```
{: .stable-all-devel-centos8-py38-cuda115 .hidden }

<!-- source installs -->
<div class='stable-cudf-source hidden'>
    <pre># See <a href='https://github.com/rapidsai/cudf/tree/main#buildinstall-from-source' _target='blank'>cuDF README</a> for stable build instructions</pre>
</div>
<div class='stable-cuml-source hidden'>
    <pre># See <a href='https://github.com/rapidsai/cuml/tree/main#buildinstall-from-source' _target='blank'>cuML README</a> for stable build instructions</pre>
</div>
<div class='stable-cugraph-source hidden'>
    <pre># See <a href='https://github.com/rapidsai/cugraph/tree/main#build-from-source-and-contributing' _target='blank'>cuGraph README</a> for stable build instructions</pre>
</div>
<div class='stable-cusignal-source hidden'>
    <pre># See <a href='https://github.com/rapidsai/cusignal/tree/main#dependencies' _target='blank'>cuSignal README</a> for stable build instructions</pre>
</div>
<div class='stable-cuspatial-source hidden'>
    <pre># See <a href='https://github.com/rapidsai/cuspatial/tree/main#clone-build-and-install-cuspatial' _target='blank'>cuSpatial README</a> for stable build instructions</pre>
</div>
<div class='stable-cuxfilter-source hidden'>
    <pre># See <a href='https://github.com/rapidsai/cuxfilter/tree/main#installation' _target='blank'>cuxfilter README</a> for stable build instructions</pre>
</div>

<!-- conda all 11.0 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    rapids={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.0 dask-sql
```
{: .stable-all-conda-py37-cuda110 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    rapids={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.0 dask-sql
```
{: .stable-all-conda-py38-cuda110 .hidden }

<!-- conda all 11.2 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    rapids={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.2 dask-sql
```
{: .stable-all-conda-py37-cuda112 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    rapids={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.2 dask-sql
```
{: .stable-all-conda-py38-cuda112 .hidden }

<!-- conda all 11.4 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    rapids={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.4 dask-sql
```
{: .stable-all-conda-py37-cuda114 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    rapids={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.4 dask-sql
```
{: .stable-all-conda-py38-cuda114 .hidden }

<!-- conda all 11.5 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    rapids={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.5 dask-sql
```
{: .stable-all-conda-py37-cuda115 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    rapids={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.5 dask-sql
```
{: .stable-all-conda-py38-cuda115 .hidden }

<!-- conda-lib cudf 11.0 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cudf={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.0
```
{: .stable-cudf-conda-py37-cuda110 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cudf={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.0
```
{: .stable-cudf-conda-py38-cuda110 .hidden }

<!-- conda-lib cudf 11.2 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cudf={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.2
```
{: .stable-cudf-conda-py37-cuda112 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cudf={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.2
```
{: .stable-cudf-conda-py38-cuda112 .hidden }

<!-- conda-lib cudf 11.4 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cudf={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.4
```
{: .stable-cudf-conda-py37-cuda114 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cudf={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.4
```
{: .stable-cudf-conda-py38-cuda114 .hidden }

<!-- conda-lib cudf 11.5 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cudf={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.5
```
{: .stable-cudf-conda-py37-cuda115 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cudf={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.5
```
{: .stable-cudf-conda-py38-cuda115 .hidden }

<!-- conda-lib cuml 11.0 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuml={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.0
```
{: .stable-cuml-conda-py37-cuda110 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuml={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.0
```
{: .stable-cuml-conda-py38-cuda110 .hidden }

<!-- conda-lib cuml 11.2 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuml={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.2
```
{: .stable-cuml-conda-py37-cuda112 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuml={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.2
```
{: .stable-cuml-conda-py38-cuda112 .hidden }

<!-- conda-lib cuml 11.4 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuml={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.4
```
{: .stable-cuml-conda-py37-cuda114 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuml={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.4
```
{: .stable-cuml-conda-py38-cuda114 .hidden }

<!-- conda-lib cuml 11.5 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuml={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.5
```
{: .stable-cuml-conda-py37-cuda115 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuml={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.5
```
{: .stable-cuml-conda-py38-cuda115 .hidden }

<!-- conda-lib cugraph 11.0 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cugraph={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.0
```
{: .stable-cugraph-conda-py37-cuda110 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cugraph={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.0
```
{: .stable-cugraph-conda-py38-cuda110 .hidden }

<!-- conda-lib cugraph 11.2 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cugraph={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.2
```
{: .stable-cugraph-conda-py37-cuda112 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cugraph={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.2
```
{: .stable-cugraph-conda-py38-cuda112 .hidden }

<!-- conda-lib cugraph 11.4 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cugraph={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.4
```
{: .stable-cugraph-conda-py37-cuda114 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cugraph={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.4
```
{: .stable-cugraph-conda-py38-cuda114 .hidden }

<!-- conda-lib cugraph 11.5 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cugraph={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.5
```
{: .stable-cugraph-conda-py37-cuda115 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cugraph={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.5
```
{: .stable-cugraph-conda-py38-cuda115 .hidden }

<!-- conda-lib cusignal 11.0 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cusignal={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.0
```
{: .stable-cusignal-conda-py37-cuda110 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cusignal={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.0
```
{: .stable-cusignal-conda-py38-cuda110 .hidden }

<!-- conda-lib cusignal 11.2 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cusignal={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.2
```
{: .stable-cusignal-conda-py37-cuda112 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cusignal={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.2
```
{: .stable-cusignal-conda-py38-cuda112 .hidden }

<!-- conda-lib cusignal 11.4 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cusignal={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.4
```
{: .stable-cusignal-conda-py37-cuda114 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cusignal={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.4
```
{: .stable-cusignal-conda-py38-cuda114 .hidden }

<!-- conda-lib cusignal 11.5 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cusignal={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.5
```
{: .stable-cusignal-conda-py37-cuda115 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cusignal={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.5
```
{: .stable-cusignal-conda-py38-cuda115 .hidden }

<!-- conda-lib cuspatial 11.0 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuspatial={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.0
```
{: .stable-cuspatial-conda-py37-cuda110 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuspatial={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.0
```
{: .stable-cuspatial-conda-py38-cuda110 .hidden }

<!-- conda-lib cuspatial 11.2 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuspatial={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.2
```
{: .stable-cuspatial-conda-py37-cuda112 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuspatial={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.2
```
{: .stable-cuspatial-conda-py38-cuda112 .hidden }

<!-- conda-lib cuspatial 11.4 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuspatial={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.4
```
{: .stable-cuspatial-conda-py37-cuda114 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuspatial={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.4
```
{: .stable-cuspatial-conda-py38-cuda114 .hidden }

<!-- conda-lib cuspatial 11.5 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuspatial={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.5
```
{: .stable-cuspatial-conda-py37-cuda115 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuspatial={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.5
```
{: .stable-cuspatial-conda-py38-cuda115 .hidden }

<!-- conda-lib cuxfilter 11.0 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuxfilter={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.0
```
{: .stable-cuxfilter-conda-py37-cuda110 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuxfilter={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.0
```
{: .stable-cuxfilter-conda-py38-cuda110 .hidden }

<!-- conda-lib cuxfilter 11.2 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuxfilter={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.2
```
{: .stable-cuxfilter-conda-py37-cuda112 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuxfilter={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.2
```
{: .stable-cuxfilter-conda-py38-cuda112 .hidden }

<!-- conda-lib cuxfilter 11.4 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuxfilter={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.4
```
{: .stable-cuxfilter-conda-py37-cuda114 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuxfilter={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.4
```
{: .stable-cuxfilter-conda-py38-cuda114 .hidden }

<!-- conda-lib cuxfilter 11.5 -->
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuxfilter={{site.data.releases.stable-version}} python=3.7 cudatoolkit=11.5
```
{: .stable-cuxfilter-conda-py37-cuda115 .hidden }
```bash
conda create -n rapids-{{site.data.releases.stable-version}} -c rapidsai -c nvidia -c conda-forge \
    cuxfilter={{site.data.releases.stable-version}} python=3.8 cudatoolkit=11.5
```
{: .stable-cuxfilter-conda-py38-cuda115 .hidden }
