<section class="{{ include.background }} padding-top-{{ include.padding-top }} padding-bottom-{{ include.padding-bottom }}">
    <div class="container-padding">
        <div class="selector">
            <div class="options">
                <!--  COMMENTING THIS OUT IN CASE WE NEED TO ADD NOTICE
                      AGAIN IN THE FUTURE
                <div class="note method padding-bottom-4em">
                    <div class="option-label">NOTICES</div>
                    <div class="option-notice">
                        <span>
                            <i class="fas fa-exclamation-triangle text-white"></i> Changes to builds with conda using <a href="https://docs.rapids.ai/notices/rdn0002">gcc 7.5</a>
                        </span>
                    </div>
                    <div class="option-notice">
                        <span>
                            <i class="fas fa-exclamation-triangle text-white"></i> CUDA 10.1/10.2 EOL in RAPIDS <a href="https://docs.rapids.ai/notices/rsn0006">v0.19</a>
                        </span>
                    </div>
                    <div class="option-notice">
                        <span>
                            <i class="fas fa-exclamation-triangle text-white"></i> CUDA 11.2 support in RAPIDS <a href="https://docs.rapids.ai/notices/rsn0007">v0.19</a>
                        </span>
                    </div>
                </div>
                -->
                <div class="preferred">
                    <div class="option-label"></div>
                    <div class="option-blank">
                        <span>
                            <i class="fas fa-level-up-alt fa-rotate-180 fa-down-6"></i> <i class="fas fa-check-square text-blue"></i> Preferred <i class="fas fa-level-down-alt fa-down-6"></i>
                        </span>
                    </div>
                    <div class="option-blank">
                        <span>
                            <i class="fas fa-level-up-alt fa-rotate-180 fa-down-6"></i> <i class="fas fa-flask text-orange"></i> Advanced <i class="fas fa-level-down-alt fa-down-6"></i>
                        </span>
                    </div>
                </div>
                <div class="method padding-bottom-1em">
                    <div class="option-label">Method</div>
                    <div id="conda" class="option" title="Conda install">Conda&nbsp;<i class="fas fa-box-open"></i> <span class="context"> <i class="fas fa-check-square text-blue"></i> Preferred Install Method</span></div>
                    <div id="runtime" class="option" title="Docker image with example notebooks">Docker + Examples&nbsp;<i class="fab fa-docker"></i><span class="context"> <i class="fas fa-check-square text-blue"></i> Preferred Install Method</span></div>
                    <div id="devel" class="option advanced" title="Docker image with developer tools and from source build environment ">Docker + Dev Env&nbsp;<i class="fab fa-docker"></i> <span class="context"> <i class="fas fa-flask text-orange"></i> Advanced Install Method</span></div>
                    <div id="source" class="option advanced" title="From source build">Source&nbsp;<i class="fas fa-cogs"></i><span class="context"> <i class="fas fa-flask text-orange"></i> Advanced Install Method</span></div>
                </div>
                <div class="release">
                    <div class="option-label">Release</div>
                    <div id="stable" class="option">Stable ({{ site.data.releases.stable-version }})</div>
                    <div id="nightly" class="option">Nightly ({{ site.data.releases.nightly-version }}a)</div>
                </div>
                <div class="pkg">
                    <div class="option-label">Packages</div>
                    <div id="all" class="option">All Packages</div>
                    <div id="cudf" class="option">cuDF</div>
                    <div id="cuml" class="option">cuML</div>
                    <div id="cugraph" class="option">cuGraph</div>
                    <div id="cusignal" class="option">cuSignal</div>
                    <div id="cuspatial" class="option">cuSpatial</div>
                    <div id="cuxfilter" class="option">cuxfilter</div>
                </div>
                <div class="linux">
                    <div class="option-label">Linux</div>
                    <div id="ubuntu1804" class="option">Ubuntu 18.04&nbsp;<i class="fab fa-ubuntu"></i></div>
                    <div id="ubuntu2004" class="option">Ubuntu 20.04&nbsp;<i class="fab fa-ubuntu"></i></div>
                    <div id="centos7" class="option">CentOS 7&nbsp;<i class="fab fa-centos"></i></div>
                    <div id="centos8" class="option">CentOS 8&nbsp;<i class="fab fa-centos"></i></div>
                    <div id="rhel7" class="option">RHEL 7&8&nbsp;<i class="fab fa-redhat"></i></div>
                </div>
                <div class="python">
                    <div class="option-label">Python</div>
                    <div id="py38" class="option">Python 3.8</div>
                    <div id="py39" class="option">Python 3.9</div>
                </div>
                <div class="cuda">
                    <div class="option-label">CUDA</div>
                    <div id="cuda110" class="option">CUDA 11.0</div>
                    <div id="cuda112" class="option">CUDA 11.2</div>
                    <div id="cuda114" class="option">CUDA 11.4</div>
                    <div id="cuda115" class="option">CUDA 11.5</div>
                </div>
                <div class="preferred">
                    <div class="option-label"></div>
                    <div class="option-blank"></div>
                    <div class="option-blank"></div>
                    <div class="option-blank"></div>
                    <div class="option-blank"></div>
                </div>
                <div class="note">
                    <div class="option-label"></div>
                    <div class="option-blank">
                        <span id="rhel7-conda-note" class="hidden option-note">
                            <i class="fas fa-exclamation-triangle text-orange"></i> <b>NOTE:</b> RHEL 7 & 8 <code>conda</code> support is provided by builds and tests on CentOS 7 or 8.<br/>The same <code>conda create</code> commands should work with <code>gcc >=7.5</code> and the correct NVIDIA and CUDA drivers.
                        </span>
                        <span id="rhel7-source-note" class="hidden option-note">
                            <i class="fas fa-exclamation-triangle text-orange"></i> <b>NOTE:</b> RHEL 7 & 8 from source build support is provided by following the build instructions for CentOS 7 or 8.<br/>The same methods should work with <code>gcc >=7.5</code> and the correct NVIDIA and CUDA drivers.
                        </span>
                        <span id="linux-conda-note" class="hidden option-note">
                            <i class="fas fa-info-circle text-blue"></i> <b>NOTE:</b> Ubuntu 18.04/20.04 & CentOS 7/8 use the same <code>conda create</code> commands.
                        </span>
                        <span id="linux-source-note" class="hidden option-note">
                            <i class="fas fa-info-circle text-blue"></i> <b>NOTE:</b> Ubuntu 18.04/20.04 & CentOS 7/8 use the same from source build instructions.
                        </span>
                        <span id="base-docker-note" class="hidden option-note">
                            <i class="fas fa-info-circle text-blue"></i> <b>NOTE:</b> For docker images without examples or notebooks replace <code>runtime</code> with <code>base</code> in the commands below.
                        </span>
                    </div>
                </div>
            </div>
            <div class="cmd">
                <div class="cmd-label">Command</div>
                <div id="command" class="cmd-box"><div class="highlight"><pre class="highlight"><code><span class="gh"># Javascript is needed for this tool to run, please make sure it is enabled</span></code></pre></div></div>
            </div>
        </div>
        <div class="selector-buttons">
            <a id="copy-command" onclick="CopyToClipboard('command-code')" class="primary-btn">COPY COMMAND <i class="fas fa-clipboard"></i></a>
            <a id="reset-selector" onclick="resetSelector()" class="primary-btn">RESET SELECTOR <i class="fas fa-undo"></i></a>
        </div>
    </div>
</section>
<script type="text/javascript">

</script>