<section
    class="{{ include.background }} padding-top-{{ include.padding-top }} padding-bottom-{{ include.padding-bottom }}">
    <div class="container-padding" x-data="rapids_selector">
        <div class="selector">
            <div class="options">
                <div class="options-section">
                    <div class="option-label">Arch</div>
                    <template x-for="arch in arches">
                        <div x-on:click="(e) => archClickHandler(e, arch)"
                            x-bind:class="{'active': arch === active_arch}" class="option" x-text="arch"
                            x-text="getArchText(arch)">
                        </div>
                    </template>
                </div>
                <div class="options-section">
                    <div class="option-label">Release</div>
                    <template x-for="release in releases">
                        <div x-on:click="(e) => releaseClickHandler(e, release)"
                            x-bind:class="{'active': release === active_release}" class="option"
                            x-text="getReleaseText(release)">
                        </div>
                    </template>
                </div>
                <div class="options-section">
                    <div class="option-label">CUDA</div>
                    <template x-for="version in cuda_vers">
                        <div x-on:click="(e) => cudaClickHandler(e, version)"
                            x-bind:class="{'active': version === active_cuda_ver, 'disabled': disableUnsupportedCuda(version)}"
                            class="option" x-text="'CUDA ' + version"></div>
                    </template>
                </div>
                <div class="options-section">
                    <div class="option-label">Python</div>
                    <template x-for="version in python_vers">
                        <div x-on:click="(e) => pythonClickHandler(e, version)"
                            x-bind:class="{'active': version === active_python_ver, 'disabled': disableUnsupportedPython(version)}"
                            class="option" x-text="'Python ' + version"></div>
                    </template>
                </div>
                <div class="options-section">
                    <div class="option-label">Method</div>
                    <template x-for="method in methods">
                        <div x-on:click="(e) => methodClickHandler(e, method)"
                            x-bind:class="{'active': method === active_method}" class="option"
                            x-html="getMethodHTML(method)">
                        </div>
                    </template>
                </div>
                <div class="conda-options-container" x-bind="transitionSettings" x-show="active_method === 'Conda'">
                    <div class="options-section">
                        <div class="option-label">Packages</div>
                        <template x-for="package in packages">
                            <div x-on:click="(e) => packagesClickHandler(e, package)"
                                x-bind:class="{'active': active_packages.includes(package)}" class="option"
                                x-html="getPackageHTML(package)">
                            </div>
                        </template>
                    </div>
                    <div class="options-section">
                        <div class="option-label">Additional Packages</div>
                        <template x-for="package in additional_packages">
                            <div x-on:click="(e) => additionalPackagesClickHandler(e, package)"
                                x-bind:class="{'active': active_additional_packages.includes(package)}" class="option"
                                x-text="package"></div>
                        </template>
                    </div>
                </div>
                <div class="docker-options-container" x-bind="transitionSettings" x-show="active_method === 'Docker'">
                    <div class="options-section">
                        <div class="option-label">Image OS</div>
                        <template x-for="version in os_vers">
                            <div x-on:click="(e) => imgOSClickHandler(e, version)"
                                x-bind:class="{'active': version === active_os_ver, 'disabled': disableUnsupportedImgOS(version)}"
                                class="option" x-html="getOSHTML(version)">
                            </div>
                        </template>
                    </div>
                    <div class="options-section">
                        <div class="option-label">Image Type</div>
                        <template x-for="type in img_types">
                            <div x-on:click="(e) => imgTypeClickHandler(e, type)"
                                x-bind:class="{'active': type === active_img_type, 'disabled': disableUnsupportedImgType(type)}"
                                class="option" x-text="getImgTypeText(type)"></div>
                        </template>
                    </div>
                    <div class="options-section">
                        <div class="option-label">Image Options</div>
                        <template x-for="option in img_options">
                            <div x-on:click="(e) => imgOptionClickHandler(e, option)"
                                x-bind:class="{'active': active_img_options.includes(option), 'disabled': disableUnsupportedImgOption(option)}"
                                class="option" x-text="getImgOptionText(option)"></div>
                        </template>
                    </div>
                </div>
                <div class="note" x-show="getNoteHtml()">
                    <div class="option-label"></div>
                    <div class="option-blank">
                        <span class="option-note" x-html="getNoteHtml()"></span>
                    </div>
                </div>
            </div>
            <div class="cmd">
                <div class="cmd-label">Command</div>
                <div class="cmd-box">
                    <pre class="highlight"><code><span x-ref="cmd" x-html="getCmdHtml"></span></code></pre>
                </div>
            </div>
        </div>
        <div class="selector-buttons">
            <a class="primary-btn" x-on:click="copyToClipboard">COPY COMMAND <i class="fas fa-clipboard"></i></a>
        </div>
    </div>
</section>
<script type="text/javascript">

    document.addEventListener('alpine:init', () => {
        Alpine.data('rapids_selector', () => ({
            // default values
            active_python_ver: "3.9",
            active_cuda_ver: "11.5",
            active_os_ver: "Ubuntu 20.04",
            active_method: "Conda",
            active_release: "Stable",
            active_arch: "amd",
            active_img_type: "core",
            active_packages: ["All"],
            active_img_options: [],
            active_additional_packages: [],

            // all possible values
            python_vers: ["3.8", "3.9"],
            cloud_hpo_py_vers: ["3.8"],
            cuda_vers: ["11.0", "11.2", "11.4", "11.5"],
            cloud_hpo_cuda_vers: ["11.0", "11.2"],
            os_vers: ["Ubuntu 18.04", "Ubuntu 20.04", "CentOS 7", "CentOS 8"],
            cloud_hpo_os_vers: ["Ubuntu 18.04", "Ubuntu 20.04"],
            methods: ["Conda", "Docker", "Source"],
            releases: ["Stable", "Nightly"],
            arches: ["amd", "arm"],
            img_types: ["core", "standard", "clx", "Cloud HPO"],
            packages: ["All", "Standard", "cuDF", "cuML", "cuGraph", "cuSpatial", "cuXFilter", "CLX"],
            additional_packages: ["DaskSQL", "JupyterLab", "PyTorch", "Graphistry", "Plotly Dash", "Xarray Spatial", "rtxpy", "Tensor"],
            img_options: ["notebooks", "development"],
            getStableVersion() {
                return "{{ site.data.releases.stable-version }}";
            },
            getNightlyVersion() {
                return "{{ site.data.releases.nightly-version }}";
            },
            getOSHTML(os_ver) {
                var icon_class = "ubuntu"
                if (os_ver.includes("CentOS")) icon_class = "centos";
                return os_ver + "&nbsp;<i class='fab fa-" + icon_class + "'></i>";
            },
            getMethodHTML(method) {
                var icon_class = "box-open fas";
                if (method.includes("Docker")) icon_class = "docker fab";
                if (method.includes("Source")) icon_class = "cogs fas";
                return method + "&nbsp;<i class='fa-" + icon_class + "'></i>";
            },
            getPackageHTML(pkg) {
                var package_group_selections = ["All", "Standard"]

                if (package_group_selections.includes(pkg)) {
                    return pkg + "&nbsp;<i class='fas fa-check-square'></i>";
                }

                return pkg;
            },
            getReleaseText(release) {
                var version = this.getStableVersion();
                if (release.includes("Nightly")) version = this.getNightlyVersion() + "a";
                return release + " " + "(" + version + ")";
            },
            getArchText(arch) {
                var text = "Arch not implemented yet!"
                if (arch === "amd") text = "Workstation";
                if (arch === "arm") text = "ARM SBSA";
                return text;
            },
            highlightCmd(str) {
                return "<span class='nb'>" + str + "</span>"
            },
            highlightFlag(str) {
                return "<span class='nt'>" + str + "</span>"
            },
            highlightPkgOrImg(str) {
                return "<span class='nv'>" + str + "</span>"
            },
            getCondaCmdHtml() {
                var rapids_version = this.active_release === "Stable" ? this.getStableVersion() : this.getNightlyVersion();
                var rapids_channel = this.active_release === "Stable" ? "rapidsai" : "rapidsai-nightly";
                var dask_prefix = this.active_release === "Nightly" ? "dask/label/dev::" : "";
                var python_version = this.active_python_ver;
                var cuda_version = this.active_cuda_ver;
                var pkgs = this.active_packages;
                var py_cuda_pkgs = [this.highlightPkgOrImg("python") + "=" + python_version, this.highlightPkgOrImg("cudatoolkit") + "=" + cuda_version].join(" ");
                var conda_channels = [rapids_channel, "nvidia", "conda-forge"]
                    .map(ch => this.highlightFlag("-c") + " " + ch + " ")
                    .join("");

                if (this.active_packages.length === 1 && ["All", "Standard"].includes(this.active_packages[0])) {
                    pkgs = ["rapids"];
                }

                var pkgs_vers = pkgs.map(pkg => this.highlightPkgOrImg(pkg) + "=" + rapids_version + " ").join("").toLowerCase();
                var all_pkgs = pkgs_vers + py_cuda_pkgs;

                var cmd = this.highlightCmd('conda') + " create " + this.highlightFlag("-n") + " rapids-" + rapids_version + " " + conda_channels + "\\\n" +
                    "    " + all_pkgs + " " + dask_prefix + this.highlightPkgOrImg("dask-sql");
                return cmd;
            },
            getDockerCmdHtml() {
                var hasNotebooks = this.active_img_options.includes("notebooks");
                var isDevel = this.active_img_options.includes("development");
                var isNightly = this.active_release === "Nightly";
                var isArm = this.active_arch === "arm";
                var imgVariant = "";
                if (this.active_img_type === "core") imgVariant = "core";
                if (this.active_img_type === "clx") imgVariant = "clx";
                if (this.active_img_type === "Cloud HPO") imgVariant = "cloud-ml";
                var imgType = "base";
                if (hasNotebooks) imgType = "runtime";
                if (isDevel) imgType = "devel";
                var portOptions = (hasNotebooks ? ["8888:8888", "8787:8787", "8786:8786"] : [])
                    .map(opt => this.highlightFlag("-p") + " " + opt + " ").join("");

                var imgRepo = [
                    "rapidsai/rapidsai",
                    imgVariant,
                    (isDevel ? "dev" : ""),
                    (isNightly ? "nightly" : ""),
                    (isArm ? "arm64" : ""),
                ].filter(Boolean).join("-");

                var imgTag = [
                    (isNightly ? this.getNightlyVersion() : this.getStableVersion()),
                    "cuda" + this.active_cuda_ver,
                    imgType,
                    this.active_os_ver.replace(" ", ""),
                    "py" + this.active_python_ver
                ].join("-");

                var fullImg = (this.highlightPkgOrImg(imgRepo) + ":" + imgTag).toLowerCase();

                var indent = "    ";
                var cmd = this.highlightCmd("docker") + " pull " + fullImg + "\n" +
                    this.highlightCmd("docker") + " run " + this.highlightFlag("--gpus") + " all " + this.highlightFlag("--rm -it") + " \\\n" +
                    (portOptions ? indent + portOptions + "\\\n" : "") +
                    indent + fullImg;
                return cmd;
            },
            getImgTypeText(type) {
                if (type === "core") return "Basic"
                if (type === "standard") return "Basic w/ Dask-SQL"
                if (type === "clx") return "Basic w/ CLX"
                return type;
            },
            getImgOptionText(option) {
                if (option === "notebooks") return "Include Jupyter Notebooks";
                if (option === "development") return "Development Image";
                return option;
            },
            getNoteHtml() {
                var core_pkgs = ["cudf", "cuml", "cugraph", "cuspatial", "cuxfilter"];
                var note_prefix = '<i class="fas fa-info-circle text-blue"></i> <b>NOTE:</b> The selected image contains the following packages:<br>';

                if (this.active_img_type === "standard") {
                    core_pkgs = [...core_pkgs, "dask-sql"];
                }
                if (this.active_img_type === "clx") {
                    core_pkgs = [...core_pkgs, "clx"];
                }
                var pkgs_html = core_pkgs.map(pkg => "<code>" + pkg + "</code>").join(", ");

                if (this.active_method === "Docker") {
                    return note_prefix + pkgs_html;
                }

            },
            getCmdHtml() {
                if (this.active_method === "Docker")
                    return this.getDockerCmdHtml();
                if (this.active_method === "Conda")
                    return this.getCondaCmdHtml();
                return "Not implemented yet!";
            },
            getNewestCudaVer() {
                return this.cuda_vers[this.cuda_vers.length - 1];
            },
            disableUnsupportedCuda(cuda_version) {
                var isDisabled = false;
                if (this.active_img_options.includes("development") && cuda_version !== this.getNewestCudaVer()) {
                    isDisabled = true;
                }

                if (this.active_img_type === "Cloud HPO" && !this.cloud_hpo_cuda_vers.includes(cuda_version)) {
                    isDisabled = true
                }

                return isDisabled;
            },
            disableUnsupportedPython(python_version) {
                var isDisabled = false;
                if (this.active_img_type === "Cloud HPO" && !this.cloud_hpo_py_vers.includes(python_version)) {
                    isDisabled = true
                }
                return isDisabled;
            },
            disableUnsupportedImgOS(os) {
                var isDisabled = false;
                if (this.active_img_type === "Cloud HPO" && !this.cloud_hpo_os_vers.includes(os)) isDisabled = true;
                if (this.active_arch === "arm" && os === "CentOS 7") isDisabled = true;
                return isDisabled;
            },
            disableUnsupportedImgType(type) {
                var isDisabled = false;
                if (this.active_release === "Nightly" && type === "Cloud HPO") isDisabled = true;
                if (this.active_arch === "arm" && type !== "core") isDisabled = true;
                return isDisabled;
            },
            disableUnsupportedImgOption(option) {
                var isDisabled = false;
                if (this.active_img_type === "Cloud HPO") isDisabled = true;
                return isDisabled;
            },
            isDisabled(e) {
                return e.classList.contains("disabled");
            },
            releaseClickHandler(e, release) {
                this.active_release = release;
                if (this.active_release === "Nightly" && this.active_img_type === "Cloud HPO") {
                    this.active_img_type = "core"
                }
            },
            imgTypeClickHandler(e, type) {
                if (this.isDisabled(e.target)) return;
                this.active_img_type = type;
                if (this.active_img_type === "Cloud HPO") {
                    if (!this.cloud_hpo_cuda_vers.includes(this.active_cuda_ver)) {
                        this.active_cuda_ver = this.cloud_hpo_cuda_vers[this.cloud_hpo_cuda_vers.length - 1];
                    }
                    if (!this.cloud_hpo_os_vers.includes(this.active_os_ver)) {
                        this.active_os_ver = this.cloud_hpo_os_vers[this.cloud_hpo_os_vers.length - 1];
                    }
                    if (!this.cloud_hpo_py_vers.includes(this.active_python_ver)) {
                        this.active_python_ver = this.cloud_hpo_py_vers[this.cloud_hpo_py_vers.length - 1];
                    }
                    this.active_img_options = [];
                }
            },
            archClickHandler(e, arch) {
                if (this.isDisabled(e.target)) return;
                if (arch === "arm") this.active_img_type = "core";
                if (arch === "arm" && this.active_os_ver === "CentOS 7") this.active_os_ver = "Ubuntu 20.04";
                this.active_arch = arch;
            },
            cudaClickHandler(e, version) {
                if (this.isDisabled(e.target)) return;
                this.active_cuda_ver = version;
            },
            pythonClickHandler(e, version) {
                if (this.isDisabled(e.target)) return;
                this.active_python_ver = version;
            },
            methodClickHandler(e, method) {
                if (this.isDisabled(e.target)) return;
                if (method !== "Docker") {
                    this.active_img_options = [];
                    this.active_img_type = "core";
                }
                this.active_method = method;
            },
            imgOSClickHandler(e, version) {
                if (this.isDisabled(e.target)) return;
                this.active_os_ver = version;
            },
            imgOptionClickHandler(e, option) {
                if (this.isDisabled(e.target)) return;

                // development images have notebooks
                if (option === "development" && this.active_img_options.length === 0) {
                    this.active_img_options = ["notebooks", "development"];
                    this.active_cuda_ver = this.getNewestCudaVer();
                    return;
                }

                if (option === "notebooks" && this.active_img_options.length === 2) {
                    this.active_img_options = [];
                    return;
                }

                if (this.active_img_options.includes(option)) {
                    this.active_img_options = this.active_img_options.filter(el => el !== option);
                    return;
                }

                this.active_img_options = [...this.active_img_options, option];
                if (this.active_img_options.includes("development")) {
                    this.active_cuda_ver = this.getNewestCudaVer();
                }
            },
            /**
            * Determines which packages are selected. "All" and "Standard" selections can
            * only be selected individually. All other packages can be selected together.
            **/
            packagesClickHandler(e, package) {
                var package_group_selections = ["All", "Standard"]

                if (package_group_selections.includes(package)) {
                    this.active_packages = [package];
                    return;
                }

                for (let i = 0; i < package_group_selections.length; i++) {
                    let pkg = package_group_selections[i];
                    this.active_packages = this.active_packages.filter(el => el !== pkg);
                }

                if (this.active_packages.includes(package)) {
                    if (this.active_packages.length === 1) return;
                    this.active_packages = this.active_packages.filter(el => el !== package);
                    return;
                }
                this.active_packages = [...this.active_packages, package];
            },
            additionalPackagesClickHandler(e, package) {
                if (this.active_additional_packages.includes(package)) {
                    this.active_additional_packages = this.active_additional_packages.filter(el => el !== package);
                    return;
                }
                this.active_additional_packages = [...this.active_additional_packages, package];
            },
            transitionSettings: {
                ['x-transition']() { },
                ['x-transition:enter.duration.150ms']() { },
                ['x-transition:leave.duration.150ms']() { }
            },
            copyToClipboard() {
                var range = document.createRange();
                range.selectNode(this.$refs.cmd);
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(range);
                document.execCommand("copy");
                window.getSelection().removeAllRanges();
            },
        }))
    })
</script>
