<!--
    START - LEGACY commands
-->
<!-- dev - ubuntu 16.04 -->
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.2-devel-ubuntu16.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.2-devel-ubuntu16.04-py3.6
```
{: .legacy-all-dev-ubuntu1604-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.2-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.2-devel-ubuntu16.04-py3.7
```
{: .legacy-all-dev-ubuntu1604-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.0-devel-ubuntu16.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.0-devel-ubuntu16.04-py3.6
```
{: .legacy-all-dev-ubuntu1604-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.0-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.0-devel-ubuntu16.04-py3.7
```
{: .legacy-all-dev-ubuntu1604-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.1-devel-ubuntu16.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.1-devel-ubuntu16.04-py3.6
```
{: .legacy-all-dev-ubuntu1604-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.1-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.1-devel-ubuntu16.04-py3.7
```
{: .legacy-all-dev-ubuntu1604-py37-cuda101 .hidden }
<!-- dev - ubuntu 18.04 -->
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.2-devel-ubuntu18.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.2-devel-ubuntu18.04-py3.6
```
{: .legacy-all-dev-ubuntu1804-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.2-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.2-devel-ubuntu18.04-py3.7
```
{: .legacy-all-dev-ubuntu1804-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.0-devel-ubuntu18.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.0-devel-ubuntu18.04-py3.6
```
{: .legacy-all-dev-ubuntu1804-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.0-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.0-devel-ubuntu18.04-py3.7
```
{: .legacy-all-dev-ubuntu1804-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.1-devel-ubuntu18.04-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.1-devel-ubuntu18.04-py3.6
```
{: .legacy-all-dev-ubuntu1804-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.1-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.1-devel-ubuntu18.04-py3.7
```
{: .legacy-all-dev-ubuntu1804-py37-cuda101 .hidden }
<!-- dev - centos 7 -->
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.2-devel-centos7-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.2-devel-centos7-py3.6
```
{: .legacy-all-dev-centos7-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.2-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.2-devel-centos7-py3.7
```
{: .legacy-all-dev-centos7-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.0-devel-centos7-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.0-devel-centos7-py3.6
```
{: .legacy-all-dev-centos7-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.0-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.0-devel-centos7-py3.7
```
{: .legacy-all-dev-centos7-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.1-devel-centos7-py3.6
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.1-devel-centos7-py3.6
```
{: .legacy-all-dev-centos7-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.14-cuda10.1-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.14-cuda10.1-devel-centos7-py3.7
```
{: .legacy-all-dev-centos7-py37-cuda101 .hidden }
<!-- docker - ubuntu 16.04 -->
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-ubuntu16.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-ubuntu16.04
```
{: .legacy-all-docker-ubuntu1604-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-ubuntu16.04-py3.7
```
{: .legacy-all-docker-ubuntu1604-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.0-runtime-ubuntu16.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.0-runtime-ubuntu16.04
```
{: .legacy-all-docker-ubuntu1604-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.0-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.0-runtime-ubuntu16.04-py3.7
```
{: .legacy-all-docker-ubuntu1604-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-ubuntu16.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-ubuntu16.04
```
{: .legacy-all-docker-ubuntu1604-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-ubuntu16.04-py3.7
```
{: .legacy-all-docker-ubuntu1604-py37-cuda101 .hidden }
<!-- docker - ubuntu 18.04 -->
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04
```
{: .legacy-all-docker-ubuntu1804-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04-py3.7
```
{: .legacy-all-docker-ubuntu1804-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.0-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.0-runtime-ubuntu18.04
```
{: .legacy-all-docker-ubuntu1804-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.0-runtime-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.0-runtime-ubuntu18.04-py3.7
```
{: .legacy-all-docker-ubuntu1804-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-ubuntu18.04
```
{: .legacy-all-docker-ubuntu1804-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-ubuntu18.04-py3.7
```
{: .legacy-all-docker-ubuntu1804-py37-cuda101 .hidden }
<!-- docker - centos 7 -->
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-centos7
```
{: .legacy-all-docker-centos7-py36-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-centos7-py3.7
```
{: .legacy-all-docker-centos7-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.0-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.0-runtime-centos7
```
{: .legacy-all-docker-centos7-py36-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.0-runtime-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.0-runtime-centos7-py3.7
```
{: .legacy-all-docker-centos7-py37-cuda100 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-centos7
```
{: .legacy-all-docker-centos7-py36-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-centos7-py3.7
```
{: .legacy-all-docker-centos7-py37-cuda101 .hidden }
<!-- source -->
<div class="legacy-cudf-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cudf/tree/v0.14.0#buildinstall-from-source" _target="blank">cuDF README</a> for build instructions</pre>
</div>
<div class="legacy-cuml-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuml/tree/v0.14.0#buildinstall-from-source" _target="blank">cuML README</a> for build instructions</pre>
</div>
<div class="legacy-cugraph-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cugraph/tree/v0.14.0#build-from-source-and-contributing" _target="blank">cuGraph README</a> for build instructions</pre>
</div>
<div class="legacy-cusignal-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cusignal/tree/v0.14.0#dependencies" _target="blank">cuSignal README</a> for build instructions</pre>
</div>
<div class="legacy-cuspatial-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuspatial/tree/v0.14.0#clone-build-and-install-cuspatial" _target="blank">cuSpatial README</a> for build instructions</pre>
</div>
<div class="legacy-cuxfilter-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuxfilter/tree/v0.14.0#installation" _target="blank">cuxfilter README</a> for build instructions</pre>
</div>
<!-- conda cuda102 -->
```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.14 python=3.6 cudatoolkit=10.2
```
{: .legacy-cudf-conda-py36-cuda102 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.14 python=3.7 cudatoolkit=10.2
```
{: .legacy-cudf-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.14 python=3.6 cudatoolkit=10.2
```
{: .legacy-cuml-conda-py36-cuda102 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.14 python=3.7 cudatoolkit=10.2
```
{: .legacy-cuml-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.14 python=3.6 cudatoolkit=10.2
```
{: .legacy-cugraph-conda-py36-cuda102 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.14 python=3.7 cudatoolkit=10.2
```
{: .legacy-cugraph-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.14 python=3.6 cudatoolkit=10.2
```
{: .legacy-cusignal-conda-py36-cuda102 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.14 python=3.7 cudatoolkit=10.2
```
{: .legacy-cusignal-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.14 python=3.6 cudatoolkit=10.2
```
{: .legacy-cuspatial-conda-py36-cuda102 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.14 python=3.7 cudatoolkit=10.2
```
{: .legacy-cuspatial-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.14 python=3.6 cudatoolkit=10.2
```
{: .legacy-cuxfilter-conda-py36-cuda102 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.14 python=3.7 cudatoolkit=10.2
```
{: .legacy-cuxfilter-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.14 python=3.6 cudatoolkit=10.2
```
{: .legacy-all-conda-py36-cuda102 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.14 python=3.7 cudatoolkit=10.2
```
{: .legacy-all-conda-py37-cuda102 .hidden }

<!-- conda cuda100 -->
```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.14 python=3.6 cudatoolkit=10.0
```
{: .legacy-cudf-conda-py36-cuda100 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.14 python=3.7 cudatoolkit=10.0
```
{: .legacy-cudf-conda-py37-cuda100 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.14 python=3.6 cudatoolkit=10.0
```
{: .legacy-cuml-conda-py36-cuda100 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.14 python=3.7 cudatoolkit=10.0
```
{: .legacy-cuml-conda-py37-cuda100 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.14 python=3.6 cudatoolkit=10.0
```
{: .legacy-cugraph-conda-py36-cuda100 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.14 python=3.7 cudatoolkit=10.0
```
{: .legacy-cugraph-conda-py37-cuda100 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.14 python=3.6 cudatoolkit=10.0
```
{: .legacy-cusignal-conda-py36-cuda100 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.14 python=3.7 cudatoolkit=10.0
```
{: .legacy-cusignal-conda-py37-cuda100 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.14 python=3.6 cudatoolkit=10.0
```
{: .legacy-cuspatial-conda-py36-cuda100 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.14 python=3.7 cudatoolkit=10.0
```
{: .legacy-cuspatial-conda-py37-cuda100 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.14 python=3.6 cudatoolkit=10.0
```
{: .legacy-cuxfilter-conda-py36-cuda100 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.14 python=3.7 cudatoolkit=10.0
```
{: .legacy-cuxfilter-conda-py37-cuda100 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults clx=0.14 python=3.6 cudatoolkit=10.0
```
{: .legacy-clx-conda-py36-cuda100 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults clx=0.14 python=3.7 cudatoolkit=10.0
```
{: .legacy-clx-conda-py37-cuda100 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.14 python=3.6 cudatoolkit=10.0
```
{: .legacy-all-conda-py36-cuda100 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.14 python=3.7 cudatoolkit=10.0
```
{: .legacy-all-conda-py37-cuda100 .hidden }

<!-- conda cuda101 -->
```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.14 python=3.6 cudatoolkit=10.1
```
{: .legacy-cudf-conda-py36-cuda101 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.14 python=3.7 cudatoolkit=10.1
```
{: .legacy-cudf-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.14 python=3.6 cudatoolkit=10.1
```
{: .legacy-cuml-conda-py36-cuda101 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.14 python=3.7 cudatoolkit=10.1
```
{: .legacy-cuml-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.14 python=3.6 cudatoolkit=10.1
```
{: .legacy-cugraph-conda-py36-cuda101 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.14 python=3.7 cudatoolkit=10.1
```
{: .legacy-cugraph-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.14 python=3.6 cudatoolkit=10.1
```
{: .legacy-cusignal-conda-py36-cuda101 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.14 python=3.7 cudatoolkit=10.1
```
{: .legacy-cusignal-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.14 python=3.6 cudatoolkit=10.1
```
{: .legacy-cuspatial-conda-py36-cuda101 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.14 python=3.7 cudatoolkit=10.1
```
{: .legacy-cuspatial-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.14 python=3.6 cudatoolkit=10.1
```
{: .legacy-cuxfilter-conda-py36-cuda101 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.14 python=3.7 cudatoolkit=10.1
```
{: .legacy-cuxfilter-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults clx=0.14 python=3.6 cudatoolkit=10.1
```
{: .legacy-clx-conda-py36-cuda101 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults clx=0.14 python=3.7 cudatoolkit=10.1
```
{: .legacy-clx-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.14 python=3.6 cudatoolkit=10.1
```
{: .legacy-all-conda-py36-cuda101 .hidden }

```bash
conda create -n rapids -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.14 python=3.7 cudatoolkit=10.1
```
{: .legacy-all-conda-py37-cuda101 .hidden }
<!--
    END - LEGACY commands
-->