<!--
    START - NIGHTLY commands
-->
<!-- dev - ubuntu 16.04 -->
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda10.2-devel-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda10.2-devel-ubuntu16.04-py3.8
```
{: .nightly-all-dev-ubuntu1604-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda10.2-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda10.2-devel-ubuntu16.04-py3.7
```
{: .nightly-all-dev-ubuntu1604-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda11.0-devel-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda11.0-devel-ubuntu16.04-py3.8
```
{: .nightly-all-dev-ubuntu1604-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda11.0-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda11.0-devel-ubuntu16.04-py3.7
```
{: .nightly-all-dev-ubuntu1604-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda10.1-devel-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda10.1-devel-ubuntu16.04-py3.8
```
{: .nightly-all-dev-ubuntu1604-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda10.1-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda10.1-devel-ubuntu16.04-py3.7
```
{: .nightly-all-dev-ubuntu1604-py37-cuda101 .hidden }
<!-- dev - ubuntu 18.04 -->
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda10.2-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda10.2-devel-ubuntu18.04-py3.8
```
{: .nightly-all-dev-ubuntu1804-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda10.2-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda10.2-devel-ubuntu18.04-py3.7
```
{: .nightly-all-dev-ubuntu1804-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda11.0-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda11.0-devel-ubuntu18.04-py3.8
```
{: .nightly-all-dev-ubuntu1804-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda11.0-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda11.0-devel-ubuntu18.04-py3.7
```
{: .nightly-all-dev-ubuntu1804-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda10.1-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda10.1-devel-ubuntu18.04-py3.8
```
{: .nightly-all-dev-ubuntu1804-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda10.1-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda10.1-devel-ubuntu18.04-py3.7
```
{: .nightly-all-dev-ubuntu1804-py37-cuda101 .hidden }
<!-- dev - centos 7 -->
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda10.2-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda10.2-devel-centos7-py3.8
```
{: .nightly-all-dev-centos7-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda10.2-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda10.2-devel-centos7-py3.7
```
{: .nightly-all-dev-centos7-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda11.0-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda11.0-devel-centos7-py3.8
```
{: .nightly-all-dev-centos7-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda11.0-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda11.0-devel-centos7-py3.7
```
{: .nightly-all-dev-centos7-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda10.1-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda10.1-devel-centos7-py3.8
```
{: .nightly-all-dev-centos7-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev-nightly:0.16-cuda10.1-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev-nightly:0.16-cuda10.1-devel-centos7-py3.7
```
{: .nightly-all-dev-centos7-py37-cuda101 .hidden }
<!-- docker - ubuntu 16.04 -->
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.2-runtime-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.2-runtime-ubuntu16.04-py3.8
```
{: .nightly-all-docker-ubuntu1604-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.2-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.2-runtime-ubuntu16.04-py3.7
```
{: .nightly-all-docker-ubuntu1604-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda11.0-runtime-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda11.0-runtime-ubuntu16.04-py3.8
```
{: .nightly-all-docker-ubuntu1604-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda11.0-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda11.0-runtime-ubuntu16.04-py3.7
```
{: .nightly-all-docker-ubuntu1604-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.1-runtime-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.1-runtime-ubuntu16.04-py3.8
```
{: .nightly-all-docker-ubuntu1604-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.1-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.1-runtime-ubuntu16.04-py3.7
```
{: .nightly-all-docker-ubuntu1604-py37-cuda101 .hidden }
<!-- docker - ubuntu 18.04 -->
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.2-runtime-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.2-runtime-ubuntu18.04-py3.8
```
{: .nightly-all-docker-ubuntu1804-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.2-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.2-runtime-ubuntu18.04
```
{: .nightly-all-docker-ubuntu1804-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda11.0-runtime-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda11.0-runtime-ubuntu18.04-py3.8
```
{: .nightly-all-docker-ubuntu1804-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda11.0-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda11.0-runtime-ubuntu18.04
```
{: .nightly-all-docker-ubuntu1804-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.1-runtime-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.1-runtime-ubuntu18.04-py3.8
```
{: .nightly-all-docker-ubuntu1804-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.1-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.1-runtime-ubuntu18.04
```
{: .nightly-all-docker-ubuntu1804-py37-cuda101 .hidden }
<!-- docker - centos 7 -->
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.2-runtime-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.2-runtime-centos7-py3.8
```
{: .nightly-all-docker-centos7-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.2-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.2-runtime-centos7
```
{: .nightly-all-docker-centos7-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda11.0-runtime-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda11.0-runtime-centos7-py3.8
```
{: .nightly-all-docker-centos7-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda11.0-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda11.0-runtime-centos7
```
{: .nightly-all-docker-centos7-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.1-runtime-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.1-runtime-centos7-py3.8
```
{: .nightly-all-docker-centos7-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-nightly:cuda10.1-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-nightly:cuda10.1-runtime-centos7
```
{: .nightly-all-docker-centos7-py37-cuda101 .hidden }
<!-- source -->
<div class="nightly-cudf-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cudf#buildinstall-from-source" _target="blank">cuDF README</a> for build instructions</pre>
</div>
<div class="nightly-cuml-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuml#buildinstall-from-source" _target="blank">cuML README</a> for build instructions</pre>
</div>
<div class="nightly-cugraph-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cugraph#build-from-source-and-contributing" _target="blank">cuGraph README</a> for build instructions</pre>
</div>
<div class="stable-cusignal-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cusignal#dependencies" _target="blank">cuSignal README</a> for build instructions</pre>
</div>
<div class="nightly-cuspatial-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuspatial#clone-build-and-install-cuspatial" _target="blank">cuSpatial README</a> for build instructions</pre>
</div>
<div class="nightly-cuxfilter-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuxfilter#installation" _target="blank">cuxfilter README</a> for build instructions</pre>
</div>
<!-- conda cuda102 -->
```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cudf=0.16 python=3.8 cudatoolkit=10.2
```
{: .nightly-cudf-conda-py38-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cudf=0.16 python=3.7 cudatoolkit=10.2
```
{: .nightly-cudf-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuml=0.16 python=3.8 cudatoolkit=10.2
```
{: .nightly-cuml-conda-py38-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuml=0.16 python=3.7 cudatoolkit=10.2
```
{: .nightly-cuml-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cugraph=0.16 python=3.8 cudatoolkit=10.2
```
{: .nightly-cugraph-conda-py38-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cugraph=0.16 python=3.7 cudatoolkit=10.2
```
{: .nightly-cugraph-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cusignal=0.16 python=3.8 cudatoolkit=10.2
```
{: .nightly-cusignal-conda-py38-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cusignal=0.16 python=3.7 cudatoolkit=10.2
```
{: .nightly-cusignal-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuspatial=0.16 python=3.8 cudatoolkit=10.2
```
{: .nightly-cuspatial-conda-py38-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuspatial=0.16 python=3.7 cudatoolkit=10.2
```
{: .nightly-cuspatial-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.16 python=3.8 cudatoolkit=10.2
```
{: .nightly-cuxfilter-conda-py38-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.16 python=3.7 cudatoolkit=10.2
```
{: .nightly-cuxfilter-conda-py37-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults rapids=0.16 python=3.8 cudatoolkit=10.2
```
{: .nightly-all-conda-py38-cuda102 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults rapids=0.16 python=3.7 cudatoolkit=10.2
```
{: .nightly-all-conda-py37-cuda102 .hidden }

<!-- conda cuda110 -->
```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cudf=0.16 python=3.8 cudatoolkit=11.0
```
{: .nightly-cudf-conda-py38-cuda110 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cudf=0.16 python=3.7 cudatoolkit=11.0
```
{: .nightly-cudf-conda-py37-cuda110 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuml=0.16 python=3.8 cudatoolkit=11.0
```
{: .nightly-cuml-conda-py38-cuda110 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuml=0.16 python=3.7 cudatoolkit=11.0
```
{: .nightly-cuml-conda-py37-cuda110 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cugraph=0.16 python=3.8 cudatoolkit=11.0
```
{: .nightly-cugraph-conda-py38-cuda110 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cugraph=0.16 python=3.7 cudatoolkit=11.0
```
{: .nightly-cugraph-conda-py37-cuda110 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cusignal=0.16 python=3.8 cudatoolkit=11.0
```
{: .nightly-cusignal-conda-py38-cuda110 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cusignal=0.16 python=3.7 cudatoolkit=11.0
```
{: .nightly-cusignal-conda-py37-cuda110 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuspatial=0.16 python=3.8 cudatoolkit=11.0
```
{: .nightly-cuspatial-conda-py38-cuda110 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuspatial=0.16 python=3.7 cudatoolkit=11.0
```
{: .nightly-cuspatial-conda-py37-cuda110 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.16 python=3.8 cudatoolkit=11.0
```
{: .nightly-cuxfilter-conda-py38-cuda110 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.16 python=3.7 cudatoolkit=11.0
```
{: .nightly-cuxfilter-conda-py37-cuda110 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults clx=0.16 python=3.8 cudatoolkit=11.0
```
{: .nightly-clx-conda-py38-cuda110 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults clx=0.16 python=3.7 cudatoolkit=11.0
```
{: .nightly-clx-conda-py37-cuda110 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults rapids=0.16 python=3.8 cudatoolkit=11.0
```
{: .nightly-all-conda-py38-cuda110 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults rapids=0.16 python=3.7 cudatoolkit=11.0
```
{: .nightly-all-conda-py37-cuda110 .hidden }

<!-- conda cuda101 -->
```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cudf=0.16 python=3.8 cudatoolkit=10.1
```
{: .nightly-cudf-conda-py38-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cudf=0.16 python=3.7 cudatoolkit=10.1
```
{: .nightly-cudf-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuml=0.16 python=3.8 cudatoolkit=10.1
```
{: .nightly-cuml-conda-py38-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuml=0.16 python=3.7 cudatoolkit=10.1
```
{: .nightly-cuml-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cugraph=0.16 python=3.8 cudatoolkit=10.1
```
{: .nightly-cugraph-conda-py38-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cugraph=0.16 python=3.7 cudatoolkit=10.1
```
{: .nightly-cugraph-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cusignal=0.16 python=3.8 cudatoolkit=11.0
```
{: .nightly-cusignal-conda-py38-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cusignal=0.16 python=3.7 cudatoolkit=11.0
```
{: .nightly-cusignal-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuspatial=0.16 python=3.8 cudatoolkit=10.1
```
{: .nightly-cuspatial-conda-py38-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuspatial=0.16 python=3.7 cudatoolkit=10.1
```
{: .nightly-cuspatial-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.16 python=3.8 cudatoolkit=10.1
```
{: .nightly-cuxfilter-conda-py38-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.16 python=3.7 cudatoolkit=10.1
```
{: .nightly-cuxfilter-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults clx=0.16 python=3.8 cudatoolkit=10.1
```
{: .nightly-clx-conda-py38-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults clx=0.16 python=3.7 cudatoolkit=10.1
```
{: .nightly-clx-conda-py37-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults rapids=0.16 python=3.8 cudatoolkit=10.1
```
{: .nightly-all-conda-py38-cuda101 .hidden }

```bash
conda install -c rapidsai-nightly -c nvidia -c conda-forge \
    -c defaults rapids=0.16 python=3.7 cudatoolkit=10.1
```
{: .nightly-all-conda-py37-cuda101 .hidden }
<!--
    END - NIGHTLY commands
-->
