<!--
    START - STABLE commands
-->
<!-- blazing-dev - ubuntu 16.04 -->
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda10.2-devel-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda10.2-devel-ubuntu16.04-py3.8
```
{: .stable-blazing-all-dev-ubuntu1604-py38-cuda102 .hidden }
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda10.2-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda10.2-devel-ubuntu16.04-py3.7
```
{: .stable-blazing-all-dev-ubuntu1604-py37-cuda102 .hidden }
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda11.0-devel-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda11.0-devel-ubuntu16.04-py3.8
```
{: .stable-blazing-all-dev-ubuntu1604-py38-cuda110 .hidden }
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda11.0-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda11.0-devel-ubuntu16.04-py3.7
```
{: .stable-blazing-all-dev-ubuntu1604-py37-cuda110 .hidden }
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda10.1-devel-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda10.1-devel-ubuntu16.04-py3.8
```
{: .stable-blazing-all-dev-ubuntu1604-py38-cuda101 .hidden }
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda10.1-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda10.1-devel-ubuntu16.04-py3.7
```
{: .stable-blazing-all-dev-ubuntu1604-py37-cuda101 .hidden }
<!-- blazing-dev - ubuntu 18.04 -->
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda10.2-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda10.2-devel-ubuntu18.04-py3.8
```
{: .stable-blazing-all-dev-ubuntu1804-py38-cuda102 .hidden }
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda10.2-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda10.2-devel-ubuntu18.04-py3.7
```
{: .stable-blazing-all-dev-ubuntu1804-py37-cuda102 .hidden }
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda11.0-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda11.0-devel-ubuntu18.04-py3.8
```
{: .stable-blazing-all-dev-ubuntu1804-py38-cuda110 .hidden }
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda11.0-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda11.0-devel-ubuntu18.04-py3.7
```
{: .stable-blazing-all-dev-ubuntu1804-py37-cuda110 .hidden }
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda10.1-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda10.1-devel-ubuntu18.04-py3.8
```
{: .stable-blazing-all-dev-ubuntu1804-py38-cuda101 .hidden }
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda10.1-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda10.1-devel-ubuntu18.04-py3.7
```
{: .stable-blazing-all-dev-ubuntu1804-py37-cuda101 .hidden }
<!-- blazing-dev - centos 7 -->
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda10.2-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda10.2-devel-centos7-py3.8
```
{: .stable-blazing-all-dev-centos7-py38-cuda102 .hidden }
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda10.2-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda10.2-devel-centos7-py3.7
```
{: .stable-blazing-all-dev-centos7-py37-cuda102 .hidden }
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda11.0-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda11.0-devel-centos7-py3.8
```
{: .stable-blazing-all-dev-centos7-py38-cuda110 .hidden }
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda11.0-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda11.0-devel-centos7-py3.7
```
{: .stable-blazing-all-dev-centos7-py37-cuda110 .hidden }
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda10.1-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda10.1-devel-centos7-py3.8
```
{: .stable-blazing-all-dev-centos7-py38-cuda101 .hidden }
```bash
docker pull rapidsai/blazingsql-dev:0.16-cuda10.1-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/blazingsql-dev:0.16-cuda10.1-devel-centos7-py3.7
```
{: .stable-blazing-all-dev-centos7-py37-cuda101 .hidden }
<!-- dev - ubuntu 16.04 -->
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda10.2-devel-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda10.2-devel-ubuntu16.04-py3.8
```
{: .stable-rapids-all-dev-ubuntu1604-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda10.2-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda10.2-devel-ubuntu16.04-py3.7
```
{: .stable-rapids-all-dev-ubuntu1604-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda11.0-devel-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda11.0-devel-ubuntu16.04-py3.8
```
{: .stable-rapids-all-dev-ubuntu1604-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda11.0-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda11.0-devel-ubuntu16.04-py3.7
```
{: .stable-rapids-all-dev-ubuntu1604-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda10.1-devel-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda10.1-devel-ubuntu16.04-py3.8
```
{: .stable-rapids-all-dev-ubuntu1604-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda10.1-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda10.1-devel-ubuntu16.04-py3.7
```
{: .stable-rapids-all-dev-ubuntu1604-py37-cuda101 .hidden }
<!-- dev - ubuntu 18.04 -->
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda10.2-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda10.2-devel-ubuntu18.04-py3.8
```
{: .stable-rapids-all-dev-ubuntu1804-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda10.2-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda10.2-devel-ubuntu18.04-py3.7
```
{: .stable-rapids-all-dev-ubuntu1804-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda11.0-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda11.0-devel-ubuntu18.04-py3.8
```
{: .stable-rapids-all-dev-ubuntu1804-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda11.0-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda11.0-devel-ubuntu18.04-py3.7
```
{: .stable-rapids-all-dev-ubuntu1804-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda10.1-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda10.1-devel-ubuntu18.04-py3.8
```
{: .stable-rapids-all-dev-ubuntu1804-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda10.1-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda10.1-devel-ubuntu18.04-py3.7
```
{: .stable-rapids-all-dev-ubuntu1804-py37-cuda101 .hidden }
<!-- dev - centos 7 -->
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda10.2-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda10.2-devel-centos7-py3.8
```
{: .stable-rapids-all-dev-centos7-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda10.2-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda10.2-devel-centos7-py3.7
```
{: .stable-rapids-all-dev-centos7-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda11.0-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda11.0-devel-centos7-py3.8
```
{: .stable-rapids-all-dev-centos7-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda11.0-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda11.0-devel-centos7-py3.7
```
{: .stable-rapids-all-dev-centos7-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda10.1-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda10.1-devel-centos7-py3.8
```
{: .stable-rapids-all-dev-centos7-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.16-cuda10.1-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.16-cuda10.1-devel-centos7-py3.7
```
{: .stable-rapids-all-dev-centos7-py37-cuda101 .hidden }
<!-- docker - ubuntu 16.04 -->
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-ubuntu16.04-py3.8
```
{: .stable-rapids-all-docker-ubuntu1604-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-ubuntu16.04-py3.7
```
{: .stable-rapids-all-docker-ubuntu1604-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda11.0-runtime-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda11.0-runtime-ubuntu16.04-py3.8
```
{: .stable-rapids-all-docker-ubuntu1604-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda11.0-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda11.0-runtime-ubuntu16.04-py3.7
```
{: .stable-rapids-all-docker-ubuntu1604-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-ubuntu16.04-py3.8
```
{: .stable-rapids-all-docker-ubuntu1604-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-ubuntu16.04-py3.7
```
{: .stable-rapids-all-docker-ubuntu1604-py37-cuda101 .hidden }
<!-- docker - ubuntu 18.04 -->
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04-py3.8
```
{: .stable-rapids-all-docker-ubuntu1804-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04
```
{: .stable-rapids-all-docker-ubuntu1804-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda11.0-runtime-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda11.0-runtime-ubuntu18.04-py3.8
```
{: .stable-rapids-all-docker-ubuntu1804-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda11.0-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda11.0-runtime-ubuntu18.04
```
{: .stable-rapids-all-docker-ubuntu1804-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-ubuntu18.04-py3.8
```
{: .stable-rapids-all-docker-ubuntu1804-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-ubuntu18.04
```
{: .stable-rapids-all-docker-ubuntu1804-py37-cuda101 .hidden }
<!-- docker - centos 7 -->
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-centos7-py3.8
```
{: .stable-rapids-all-docker-centos7-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-centos7
```
{: .stable-rapids-all-docker-centos7-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda11.0-runtime-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda11.0-runtime-centos7-py3.8
```
{: .stable-rapids-all-docker-centos7-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda11.0-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda11.0-runtime-centos7
```
{: .stable-rapids-all-docker-centos7-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-centos7-py3.8
```
{: .stable-rapids-all-docker-centos7-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-centos7
```
{: .stable-rapids-all-docker-centos7-py37-cuda101 .hidden }
<!-- source -->
<div class="stable-cudf-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cudf/tree/main#buildinstall-from-source" _target="blank">cuDF README</a> for build instructions</pre>
</div>
<div class="stable-cuml-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuml/tree/main#buildinstall-from-source" _target="blank">cuML README</a> for build instructions</pre>
</div>
<div class="stable-cugraph-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cugraph/tree/main#build-from-source-and-contributing" _target="blank">cuGraph README</a> for build instructions</pre>
</div>
<div class="stable-cusignal-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cusignal/tree/main#dependencies" _target="blank">cuSignal README</a> for build instructions</pre>
</div>
<div class="stable-cuspatial-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuspatial/tree/main#clone-build-and-install-cuspatial" _target="blank">cuSpatial README</a> for build instructions</pre>
</div>
<div class="stable-cuxfilter-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuxfilter/tree/main#installation" _target="blank">cuxfilter README</a> for build instructions</pre>
</div>
<!-- conda cuda102 -->
```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.16 python=3.8 cudatoolkit=10.2
```
{: .stable-rapids-cudf-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.16 python=3.7 cudatoolkit=10.2
```
{: .stable-rapids-cudf-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.16 python=3.8 cudatoolkit=10.2
```
{: .stable-rapids-cuml-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.16 python=3.7 cudatoolkit=10.2
```
{: .stable-rapids-cuml-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.16 python=3.8 cudatoolkit=10.2
```
{: .stable-rapids-cugraph-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.16 python=3.7 cudatoolkit=10.2
```
{: .stable-rapids-cugraph-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.16 python=3.8 cudatoolkit=10.2
```
{: .stable-rapids-cusignal-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.16 python=3.7 cudatoolkit=10.2
```
{: .stable-rapids-cusignal-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.16 python=3.8 cudatoolkit=10.2
```
{: .stable-rapids-cuspatial-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.16 python=3.7 cudatoolkit=10.2
```
{: .stable-rapids-cuspatial-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.16 python=3.8 cudatoolkit=10.2
```
{: .stable-rapids-cuxfilter-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.16 python=3.7 cudatoolkit=10.2
```
{: .stable-rapids-cuxfilter-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.16 python=3.8 cudatoolkit=10.2
```
{: .stable-rapids-all-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.16 python=3.7 cudatoolkit=10.2
```
{: .stable-rapids-all-conda-py37-cuda102 .hidden }

<!-- conda cuda110 -->
```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.16 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-cudf-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.16 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-cudf-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.16 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-cuml-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.16 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-cuml-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.16 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-cugraph-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.16 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-cugraph-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.16 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-cusignal-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.16 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-cusignal-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.16 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-cuspatial-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.16 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-cuspatial-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.16 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-cuxfilter-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.16 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-cuxfilter-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults clx=0.16 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-clx-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults clx=0.16 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-clx-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.16 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-all-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.16 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-all-conda-py37-cuda110 .hidden }

<!-- conda cuda101 -->
```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.16 python=3.8 cudatoolkit=10.1
```
{: .stable-rapids-cudf-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.16 python=3.7 cudatoolkit=10.1
```
{: .stable-rapids-cudf-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.16 python=3.8 cudatoolkit=10.1
```
{: .stable-rapids-cuml-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.16 python=3.7 cudatoolkit=10.1
```
{: .stable-rapids-cuml-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.16 python=3.8 cudatoolkit=10.1
```
{: .stable-rapids-cugraph-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.16 python=3.7 cudatoolkit=10.1
```
{: .stable-rapids-cugraph-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.16 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-cusignal-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.16 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-cusignal-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.16 python=3.8 cudatoolkit=10.1
```
{: .stable-rapids-cuspatial-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.16 python=3.7 cudatoolkit=10.1
```
{: .stable-rapids-cuspatial-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.16 python=3.8 cudatoolkit=10.1
```
{: .stable-rapids-cuxfilter-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.16 python=3.7 cudatoolkit=10.1
```
{: .stable-rapids-cuxfilter-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults clx=0.16 python=3.8 cudatoolkit=10.1
```
{: .stable-rapids-clx-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults clx=0.16 python=3.7 cudatoolkit=10.1
```
{: .stable-rapids-clx-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.16 python=3.8 cudatoolkit=10.1
```
{: .stable-rapids-all-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.16 python=3.7 cudatoolkit=10.1
```
{: .stable-rapids-all-conda-py37-cuda101 .hidden }
<!--
    END - STABLE commands
-->
