<!--
    START - STABLE commands
-->
<!-- dev - ubuntu 16.04 -->
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda10.2-devel-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda10.2-devel-ubuntu16.04-py3.8
```
{: .stable-rapids-all-dev-ubuntu1604-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda10.2-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda10.2-devel-ubuntu16.04-py3.7
```
{: .stable-rapids-all-dev-ubuntu1604-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda11.0-devel-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda11.0-devel-ubuntu16.04-py3.8
```
{: .stable-rapids-all-dev-ubuntu1604-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda11.0-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda11.0-devel-ubuntu16.04-py3.7
```
{: .stable-rapids-all-dev-ubuntu1604-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda10.1-devel-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda10.1-devel-ubuntu16.04-py3.8
```
{: .stable-rapids-all-dev-ubuntu1604-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda10.1-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda10.1-devel-ubuntu16.04-py3.7
```
{: .stable-rapids-all-dev-ubuntu1604-py37-cuda101 .hidden }
<!-- dev - ubuntu 18.04 -->
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda10.2-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda10.2-devel-ubuntu18.04-py3.8
```
{: .stable-rapids-all-dev-ubuntu1804-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda10.2-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda10.2-devel-ubuntu18.04-py3.7
```
{: .stable-rapids-all-dev-ubuntu1804-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda11.0-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda11.0-devel-ubuntu18.04-py3.8
```
{: .stable-rapids-all-dev-ubuntu1804-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda11.0-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda11.0-devel-ubuntu18.04-py3.7
```
{: .stable-rapids-all-dev-ubuntu1804-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda10.1-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda10.1-devel-ubuntu18.04-py3.8
```
{: .stable-rapids-all-dev-ubuntu1804-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda10.1-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda10.1-devel-ubuntu18.04-py3.7
```
{: .stable-rapids-all-dev-ubuntu1804-py37-cuda101 .hidden }
<!-- dev - centos 7 -->
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda10.2-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda10.2-devel-centos7-py3.8
```
{: .stable-rapids-all-dev-centos7-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda10.2-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda10.2-devel-centos7-py3.7
```
{: .stable-rapids-all-dev-centos7-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda11.0-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda11.0-devel-centos7-py3.8
```
{: .stable-rapids-all-dev-centos7-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda11.0-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda11.0-devel-centos7-py3.7
```
{: .stable-rapids-all-dev-centos7-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda10.1-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda10.1-devel-centos7-py3.8
```
{: .stable-rapids-all-dev-centos7-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-dev:0.17-cuda10.1-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-dev:0.17-cuda10.1-devel-centos7-py3.7
```
{: .stable-rapids-all-dev-centos7-py37-cuda101 .hidden }
<!-- docker - ubuntu 16.04 -->
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-ubuntu16.04-py3.8
```
{: .stable-rapids-all-docker-ubuntu1604-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-ubuntu16.04-py3.7
```
{: .stable-rapids-all-docker-ubuntu1604-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda11.0-runtime-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda11.0-runtime-ubuntu16.04-py3.8
```
{: .stable-rapids-all-docker-ubuntu1604-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda11.0-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda11.0-runtime-ubuntu16.04-py3.7
```
{: .stable-rapids-all-docker-ubuntu1604-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-ubuntu16.04-py3.8
```
{: .stable-rapids-all-docker-ubuntu1604-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-ubuntu16.04-py3.7
```
{: .stable-rapids-all-docker-ubuntu1604-py37-cuda101 .hidden }
<!-- docker - ubuntu 18.04 -->
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04-py3.8
```
{: .stable-rapids-all-docker-ubuntu1804-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04
```
{: .stable-rapids-all-docker-ubuntu1804-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda11.0-runtime-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda11.0-runtime-ubuntu18.04-py3.8
```
{: .stable-rapids-all-docker-ubuntu1804-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda11.0-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda11.0-runtime-ubuntu18.04
```
{: .stable-rapids-all-docker-ubuntu1804-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-ubuntu18.04-py3.8
```
{: .stable-rapids-all-docker-ubuntu1804-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-ubuntu18.04
```
{: .stable-rapids-all-docker-ubuntu1804-py37-cuda101 .hidden }
<!-- docker - centos 7 -->
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-centos7-py3.8
```
{: .stable-rapids-all-docker-centos7-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.2-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.2-runtime-centos7
```
{: .stable-rapids-all-docker-centos7-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda11.0-runtime-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda11.0-runtime-centos7-py3.8
```
{: .stable-rapids-all-docker-centos7-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda11.0-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda11.0-runtime-centos7
```
{: .stable-rapids-all-docker-centos7-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-centos7-py3.8
```
{: .stable-rapids-all-docker-centos7-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai:cuda10.1-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai:cuda10.1-runtime-centos7
```
{: .stable-rapids-all-docker-centos7-py37-cuda101 .hidden }
<!-- core-dev - ubuntu 16.04 -->
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda10.2-devel-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda10.2-devel-ubuntu16.04-py3.8
```
{: .stable-rapidscore-all-dev-ubuntu1604-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda10.2-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda10.2-devel-ubuntu16.04-py3.7
```
{: .stable-rapidscore-all-dev-ubuntu1604-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda11.0-devel-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda11.0-devel-ubuntu16.04-py3.8
```
{: .stable-rapidscore-all-dev-ubuntu1604-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda11.0-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda11.0-devel-ubuntu16.04-py3.7
```
{: .stable-rapidscore-all-dev-ubuntu1604-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda10.1-devel-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda10.1-devel-ubuntu16.04-py3.8
```
{: .stable-rapidscore-all-dev-ubuntu1604-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda10.1-devel-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda10.1-devel-ubuntu16.04-py3.7
```
{: .stable-rapidscore-all-dev-ubuntu1604-py37-cuda101 .hidden }
<!-- core-dev - ubuntu 18.04 -->
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda10.2-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda10.2-devel-ubuntu18.04-py3.8
```
{: .stable-rapidscore-all-dev-ubuntu1804-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda10.2-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda10.2-devel-ubuntu18.04-py3.7
```
{: .stable-rapidscore-all-dev-ubuntu1804-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda11.0-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda11.0-devel-ubuntu18.04-py3.8
```
{: .stable-rapidscore-all-dev-ubuntu1804-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda11.0-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda11.0-devel-ubuntu18.04-py3.7
```
{: .stable-rapidscore-all-dev-ubuntu1804-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda10.1-devel-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda10.1-devel-ubuntu18.04-py3.8
```
{: .stable-rapidscore-all-dev-ubuntu1804-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda10.1-devel-ubuntu18.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda10.1-devel-ubuntu18.04-py3.7
```
{: .stable-rapidscore-all-dev-ubuntu1804-py37-cuda101 .hidden }
<!-- core-dev - centos 7 -->
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda10.2-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda10.2-devel-centos7-py3.8
```
{: .stable-rapidscore-all-dev-centos7-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda10.2-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda10.2-devel-centos7-py3.7
```
{: .stable-rapidscore-all-dev-centos7-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda11.0-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda11.0-devel-centos7-py3.8
```
{: .stable-rapidscore-all-dev-centos7-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda11.0-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda11.0-devel-centos7-py3.7
```
{: .stable-rapidscore-all-dev-centos7-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda10.1-devel-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda10.1-devel-centos7-py3.8
```
{: .stable-rapidscore-all-dev-centos7-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-core-dev:0.17-cuda10.1-devel-centos7-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core-dev:0.17-cuda10.1-devel-centos7-py3.7
```
{: .stable-rapidscore-all-dev-centos7-py37-cuda101 .hidden }
<!-- core-docker - ubuntu 16.04 -->
```bash
docker pull rapidsai/rapidsai-core:cuda10.2-runtime-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda10.2-runtime-ubuntu16.04-py3.8
```
{: .stable-rapidscore-all-docker-ubuntu1604-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-core:cuda10.2-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda10.2-runtime-ubuntu16.04-py3.7
```
{: .stable-rapidscore-all-docker-ubuntu1604-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-core:cuda11.0-runtime-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda11.0-runtime-ubuntu16.04-py3.8
```
{: .stable-rapidscore-all-docker-ubuntu1604-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core:cuda11.0-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda11.0-runtime-ubuntu16.04-py3.7
```
{: .stable-rapidscore-all-docker-ubuntu1604-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core:cuda10.1-runtime-ubuntu16.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda10.1-runtime-ubuntu16.04-py3.8
```
{: .stable-rapidscore-all-docker-ubuntu1604-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-core:cuda10.1-runtime-ubuntu16.04-py3.7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda10.1-runtime-ubuntu16.04-py3.7
```
{: .stable-rapidscore-all-docker-ubuntu1604-py37-cuda101 .hidden }
<!-- core-docker - ubuntu 18.04 -->
```bash
docker pull rapidsai/rapidsai-core:cuda10.2-runtime-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda10.2-runtime-ubuntu18.04-py3.8
```
{: .stable-rapidscore-all-docker-ubuntu1804-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-core:cuda10.2-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda10.2-runtime-ubuntu18.04
```
{: .stable-rapidscore-all-docker-ubuntu1804-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-core:cuda11.0-runtime-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda11.0-runtime-ubuntu18.04-py3.8
```
{: .stable-rapidscore-all-docker-ubuntu1804-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core:cuda11.0-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda11.0-runtime-ubuntu18.04
```
{: .stable-rapidscore-all-docker-ubuntu1804-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core:cuda10.1-runtime-ubuntu18.04-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda10.1-runtime-ubuntu18.04-py3.8
```
{: .stable-rapidscore-all-docker-ubuntu1804-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-core:cuda10.1-runtime-ubuntu18.04
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda10.1-runtime-ubuntu18.04
```
{: .stable-rapidscore-all-docker-ubuntu1804-py37-cuda101 .hidden }
<!-- core-docker - centos 7 -->
```bash
docker pull rapidsai/rapidsai-core:cuda10.2-runtime-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda10.2-runtime-centos7-py3.8
```
{: .stable-rapidscore-all-docker-centos7-py38-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-core:cuda10.2-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda10.2-runtime-centos7
```
{: .stable-rapidscore-all-docker-centos7-py37-cuda102 .hidden }
```bash
docker pull rapidsai/rapidsai-core:cuda11.0-runtime-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda11.0-runtime-centos7-py3.8
```
{: .stable-rapidscore-all-docker-centos7-py38-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core:cuda11.0-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda11.0-runtime-centos7
```
{: .stable-rapidscore-all-docker-centos7-py37-cuda110 .hidden }
```bash
docker pull rapidsai/rapidsai-core:cuda10.1-runtime-centos7-py3.8
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda10.1-runtime-centos7-py3.8
```
{: .stable-rapidscore-all-docker-centos7-py38-cuda101 .hidden }
```bash
docker pull rapidsai/rapidsai-core:cuda10.1-runtime-centos7
docker run --gpus all --rm -it -p 8888:8888 -p 8787:8787 -p 8786:8786 \
    rapidsai/rapidsai-core:cuda10.1-runtime-centos7
```
{: .stable-rapidscore-all-docker-centos7-py37-cuda101 .hidden }
<!-- source -->
<div class="stable-cudf-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cudf/tree/main#buildinstall-from-source" _target="blank">cuDF Stable README</a> for build instructions</pre>
</div>
<div class="stable-cuml-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuml/tree/main#buildinstall-from-source" _target="blank">cuML Stable README</a> for build instructions</pre>
</div>
<div class="stable-cugraph-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cugraph/tree/main#build-from-source-and-contributing" _target="blank">cuGraph Stable README</a> for build instructions</pre>
</div>
<div class="stable-cusignal-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cusignal/tree/main#dependencies" _target="blank">cuSignal Stable README</a> for build instructions</pre>
</div>
<div class="stable-cuspatial-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuspatial/tree/main#clone-build-and-install-cuspatial" _target="blank">cuSpatial Stable README</a> for build instructions</pre>
</div>
<div class="stable-cuxfilter-source hidden">
    <pre># See <a href="https://github.com/rapidsai/cuxfilter/tree/main#installation" _target="blank">cuxfilter Stable README</a> for build instructions</pre>
</div>
<!-- conda cuda102 -->
```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cudf=0.17 python=3.8 cudatoolkit=10.2
```
{: .stable-rapids-cudf-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cudf=0.17 python=3.7 cudatoolkit=10.2
```
{: .stable-rapids-cudf-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuml=0.17 python=3.8 cudatoolkit=10.2
```
{: .stable-rapids-cuml-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuml=0.17 python=3.7 cudatoolkit=10.2
```
{: .stable-rapids-cuml-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cugraph=0.17 python=3.8 cudatoolkit=10.2
```
{: .stable-rapids-cugraph-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cugraph=0.17 python=3.7 cudatoolkit=10.2
```
{: .stable-rapids-cugraph-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cusignal=0.17 python=3.8 cudatoolkit=10.2
```
{: .stable-rapids-cusignal-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cusignal=0.17 python=3.7 cudatoolkit=10.2
```
{: .stable-rapids-cusignal-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuspatial=0.17 python=3.8 cudatoolkit=10.2
```
{: .stable-rapids-cuspatial-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuspatial=0.17 python=3.7 cudatoolkit=10.2
```
{: .stable-rapids-cuspatial-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuxfilter=0.17 python=3.8 cudatoolkit=10.2
```
{: .stable-rapids-cuxfilter-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuxfilter=0.17 python=3.7 cudatoolkit=10.2
```
{: .stable-rapids-cuxfilter-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids-blazing=0.17 python=3.8 cudatoolkit=10.2
```
{: .stable-rapids-all-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids-blazing=0.17 python=3.7 cudatoolkit=10.2
```
{: .stable-rapids-all-conda-py37-cuda102 .hidden }

<!-- conda cuda110 -->
```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cudf=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-cudf-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cudf=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-cudf-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuml=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-cuml-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuml=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-cuml-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cugraph=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-cugraph-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cugraph=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-cugraph-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cusignal=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-cusignal-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cusignal=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-cusignal-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuspatial=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-cuspatial-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuspatial=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-cuspatial-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuxfilter=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-cuxfilter-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuxfilter=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-cuxfilter-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 clx=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-clx-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 clx=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-clx-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids-blazing=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-all-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids-blazing=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-all-conda-py37-cuda110 .hidden }

<!-- conda cuda101 -->
```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cudf=0.17 python=3.8 cudatoolkit=10.1
```
{: .stable-rapids-cudf-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cudf=0.17 python=3.7 cudatoolkit=10.1
```
{: .stable-rapids-cudf-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuml=0.17 python=3.8 cudatoolkit=10.1
```
{: .stable-rapids-cuml-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuml=0.17 python=3.7 cudatoolkit=10.1
```
{: .stable-rapids-cuml-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cugraph=0.17 python=3.8 cudatoolkit=10.1
```
{: .stable-rapids-cugraph-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cugraph=0.17 python=3.7 cudatoolkit=10.1
```
{: .stable-rapids-cugraph-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cusignal=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapids-cusignal-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cusignal=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapids-cusignal-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuspatial=0.17 python=3.8 cudatoolkit=10.1
```
{: .stable-rapids-cuspatial-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuspatial=0.17 python=3.7 cudatoolkit=10.1
```
{: .stable-rapids-cuspatial-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuxfilter=0.17 python=3.8 cudatoolkit=10.1
```
{: .stable-rapids-cuxfilter-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 cuxfilter=0.17 python=3.7 cudatoolkit=10.1
```
{: .stable-rapids-cuxfilter-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 clx=0.17 python=3.8 cudatoolkit=10.1
```
{: .stable-rapids-clx-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults blazingsql=0.17 clx=0.17 python=3.7 cudatoolkit=10.1
```
{: .stable-rapids-clx-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids-blazing=0.17 python=3.8 cudatoolkit=10.1
```
{: .stable-rapids-all-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids-blazing=0.17 python=3.7 cudatoolkit=10.1
```
{: .stable-rapids-all-conda-py37-cuda101 .hidden }
<!-- conda-core cuda102 -->
```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.17 python=3.8 cudatoolkit=10.2
```
{: .stable-rapidscore-cudf-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.17 python=3.7 cudatoolkit=10.2
```
{: .stable-rapidscore-cudf-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.17 python=3.8 cudatoolkit=10.2
```
{: .stable-rapidscore-cuml-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.17 python=3.7 cudatoolkit=10.2
```
{: .stable-rapidscore-cuml-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.17 python=3.8 cudatoolkit=10.2
```
{: .stable-rapidscore-cugraph-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.17 python=3.7 cudatoolkit=10.2
```
{: .stable-rapidscore-cugraph-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.17 python=3.8 cudatoolkit=10.2
```
{: .stable-rapidscore-cusignal-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.17 python=3.7 cudatoolkit=10.2
```
{: .stable-rapidscore-cusignal-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.17 python=3.8 cudatoolkit=10.2
```
{: .stable-rapidscore-cuspatial-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.17 python=3.7 cudatoolkit=10.2
```
{: .stable-rapidscore-cuspatial-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.17 python=3.8 cudatoolkit=10.2
```
{: .stable-rapidscore-cuxfilter-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.17 python=3.7 cudatoolkit=10.2
```
{: .stable-rapidscore-cuxfilter-conda-py37-cuda102 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.17 python=3.8 cudatoolkit=10.2
```
{: .stable-rapidscore-all-conda-py38-cuda102 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.17 python=3.7 cudatoolkit=10.2
```
{: .stable-rapidscore-all-conda-py37-cuda102 .hidden }

<!-- conda-core cuda110 -->
```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapidscore-cudf-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapidscore-cudf-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapidscore-cuml-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapidscore-cuml-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapidscore-cugraph-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapidscore-cugraph-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapidscore-cusignal-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapidscore-cusignal-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapidscore-cuspatial-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapidscore-cuspatial-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapidscore-cuxfilter-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapidscore-cuxfilter-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults clx=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapidscore-clx-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults clx=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapidscore-clx-conda-py37-cuda110 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapidscore-all-conda-py38-cuda110 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapidscore-all-conda-py37-cuda110 .hidden }

<!-- conda-core cuda101 -->
```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.17 python=3.8 cudatoolkit=10.1
```
{: .stable-rapidscore-cudf-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cudf=0.17 python=3.7 cudatoolkit=10.1
```
{: .stable-rapidscore-cudf-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.17 python=3.8 cudatoolkit=10.1
```
{: .stable-rapidscore-cuml-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuml=0.17 python=3.7 cudatoolkit=10.1
```
{: .stable-rapidscore-cuml-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.17 python=3.8 cudatoolkit=10.1
```
{: .stable-rapidscore-cugraph-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cugraph=0.17 python=3.7 cudatoolkit=10.1
```
{: .stable-rapidscore-cugraph-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.17 python=3.8 cudatoolkit=11.0
```
{: .stable-rapidscore-cusignal-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cusignal=0.17 python=3.7 cudatoolkit=11.0
```
{: .stable-rapidscore-cusignal-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.17 python=3.8 cudatoolkit=10.1
```
{: .stable-rapidscore-cuspatial-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuspatial=0.17 python=3.7 cudatoolkit=10.1
```
{: .stable-rapidscore-cuspatial-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.17 python=3.8 cudatoolkit=10.1
```
{: .stable-rapidscore-cuxfilter-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults cuxfilter=0.17 python=3.7 cudatoolkit=10.1
```
{: .stable-rapidscore-cuxfilter-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults clx=0.17 python=3.8 cudatoolkit=10.1
```
{: .stable-rapidscore-clx-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults clx=0.17 python=3.7 cudatoolkit=10.1
```
{: .stable-rapidscore-clx-conda-py37-cuda101 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.17 python=3.8 cudatoolkit=10.1
```
{: .stable-rapidscore-all-conda-py38-cuda101 .hidden }

```bash
conda create -n rapids-core-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids=0.17 python=3.7 cudatoolkit=10.1
```
{: .stable-rapidscore-all-conda-py37-cuda101 .hidden }
<!--
    END - STABLE commands
-->
