/*
    font-family: 'Open Sans', sans-serif;
*/

body
{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*
{
    margin: 0px;
    box-sizing: border-box;
}

a
{
    color: #36c9dd;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover
{
    color: rgb(164, 93, 255);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

img
{
    max-width: 100%;
    height: auto;
}

header
{
    background: url(../images/header-bg.svg) top center no-repeat;
    padding: 34px 0 0 0;
    min-height: 538px;
    background-position-y: -80px;
}

header.short
{
    background: url(../images/header-bg.svg) top center no-repeat;
    padding: 34px 0 0 0;
    min-height: 304px;
    background-position-y: -334px;
}

body.short
{
    margin-top: 80px;
    padding-top: 40px;
}

.community-page header
{
    background: url(../images/community-header.svg) top center no-repeat;
}

nav ul
{
    display: block;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

nav ul li
{
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    padding: 0px 18px;
    margin: 0px;
}

nav ul li img
{
    height: 22px;
    vertical-align: text-bottom;
}

nav ul li a
{
    text-decoration: none;
    color: #FFF;
}

nav ul li.active a
{
    font-weight: 700;
}

#nav-fixed nav ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.branding
{
    text-align: center;
    padding: 50px 0 0 0;
}

.branding.home
{
    text-align: center;
    padding: 80px 0 0 0;
}

.branding h4
{
    padding: 0px 0px 25px 0px;
    text-align: center;
    color: #ffffff;
}

.branding-short
{
    text-align: left;
    padding: 1em 0 0 1em;
}

.branding-short div h1
{
    display: inline-block;
    padding-left: 0.5em;
    font-size: 40px;
}

.branding-short h4
{
    text-align: left;
    font-size: 26px;
    color: #ffffff;
    padding: 0px 0px 25px 0px;
}

.branding-short img
{
    height: 30px;
}

.documentation-page .branding, .community-page .branding
{
    padding-top: 50px;
}

h2:first-child {
    padding-top: 0;
}

.logo img
{
    max-width: 244px;
}

h2
{
    font-size: 42px;
    color: rgb(116, 0, 255);
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    padding: 30px 0px 10px 0px;
}

h3 {
	font-size: 36px;
	line-height: 42px;
	font-weight: 500;
	color: #a785e7;
	text-align: left;
	display: block;
	padding: 30px 0px 10px 0px;
}

h4
{
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #a785e7;
    text-align: left;
    padding: 20px 0px 10px 0px;
}

h5, .h5
{
    font-size: 24px;
    font-weight: 300;
    line-height: 42px;
    color: #666666;
    padding: 10px 0px 30px 0px;
    text-align: center;
}

section.left-gray
{
    background: url(../images/bottom-gray-strip.svg) bottom center no-repeat;
    background-size: auto 169px;
    padding-bottom: 168px;
}

section.right-gray
{
    background: url(../images/top-gray-strip.svg) bottom center no-repeat;
    background-size: auto 169px;
    padding-bottom: 168px;
}

div.container-gray
{
    background: #f8f8f8;
}

div.container-purple
{
    background: #9943ff;
}

section.left-purple
{
    background: url(../images/bottom-purple-strip.svg) bottom center no-repeat;
    background-size: auto 169px;
    padding-bottom: 168px;
}

.left-purple h2, .left-purple h4, .left-purple h5
{
    color: #FFF;
}

.left-purple li, .left-purple p
{
    color: #d3d3d3;
}

div.tags ul {
    list-style-type: none;
    display: inline-flex;
}

div.tags ul li {
    background: #eee;
    padding: 5px;
    margin-right: 5px;
}

p, ul, ol
{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #888888;
}

p
{
    padding-bottom: 30px;
}

blockquote p {
    text-align: center;
    font-size: 14px;
}

blockquote img {
    text-align: center;
}

a.blue-btn, .primary-btn
{
    background: #36c9dd;
    color: #FFF;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 14px 20px;
    border-radius: 100px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.purple
{
    background: #d216d2;
}

.orange
{
    background: #ffb500;
}

.blue
{
    background: #338aff;
}

.orange-font
{
    color:  #ffb500;
}

.blue-font
{
    color:  #36c9dd;
}

.dark-purple-font
{
    color:  #7400ff;
}

.white-font
{
    color: #ffffff;
}

a.blue-btn:hover, .primary-btn:hover
{
    background: #a785e7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;

}

.fixed-content
{
    display: table;
    width: 100%;
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}

.text-left
{
    text-align: left;
}

.text-center
{
    text-align: center;
}

.text-right
{
    text-align: right;
}

.pad-top-0 {
    padding-top: 0;
}

.pad-top-30 {
    padding-top: 30px;
}

.pad-top-40 {
    padding-top: 40px;
}

.pad-btm-0 {
    padding-bottom: 0;
}

.pad-btm-30 {
    padding-bottom: 30px;
}

.pad-btm-40 {
    padding-bottom: 40px;
}

section.about-rapids h2
{
    padding: 0px 0px 35px 0px;
}

section.about-rapids p,
section.community-main p
{
    font-size: 24px;
    line-height: 42px;
    color: #666666;
    text-align: center;
    font-weight: 300;
    padding: 0px 110px;
}

section.about-rapids p a
{
    color: #36c9dd;
}

section.about-rapids p a:hover
{
    color: rgb(116, 0, 255);
}

.perfomance-box
{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 260px;
}

.perfomance-mtr
{
    position: absolute;
    top: -42px;
    left: 0;
    width: 100%;
    text-align: center;
}

.perfomance-box-inner
{
    padding: 0px 0px 70px 0px;
    box-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.06);
}

.perfomance-box-inner .perfomance-counter
{
    font-size: 72px;
    line-break: 76px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFF;
    padding: 58px 0 0 0;
}

section .perfomance-box-inner p
{
    color: #FFF;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 0px 22px;
    font-weight: 600;
}

.purple-box
{
    background: #d216d2;
}

.blue-box
{
    background: #36c9dd;
}

.yellow-box
{
    background: #ffb500;
}

.rapids-perfomance ul
{
    display: flex;
    text-align: center;
    margin: 0px;
    padding: 107px 0 0 0;
}

.rapids-perfomance ul li
{
    list-style: none;
    padding: 0px 51px 50px;
    flex: 0 0 33%;
}

.rapids-perfomance {
    text-align: center;
}

.rapids-perfomance img {
    max-width: 850px;
    margin: 0 auto;
}

.top-purple-strip
{
    display: block;
    background: url(../images/top-purple-strip.svg) bottom center no-repeat;
    height: 169px;
    position: relative;
    bottom: -2px;
}

.gpu-pipeline-container
{
    background: #9943ff;
}

section.gpu-pipeline
{
    background: url(../images/bottom-purple-strip.svg) bottom center no-repeat;
    background-size: auto 169px;
    padding-bottom: 168px;
}

.gpu-pipeline-container h2
{
    color: #FFF;
}

.Pipeline-Diagram
{
    display: block;
    text-align: center;
    padding: 70px 0px 75px 0px
}

.apache-arrow-inner
{
    display: flex;
    margin: 0px auto 80px;
    max-width: 80%;
    background: rgba(255, 255, 255, 0.15);
    justify-content: center;
    align-items: center;
}

.apache-arrow-inner span
{
    display: inline-block;
    padding: 8px 5px 7px;
    font-weight: 600;
    font-size: 19px;
    line-break: 20px;
    color: #FFF;
}

.gpu-list
{
    display: flex;
    justify-content: space-between;
}

.gpu-list ul
{
    width: 48%;
}

.gpu-list ul li
{
    display: block;
    list-style: none;
    color: #FFF;
    font-size: 36px;
    line-height: 38px;
    font-weight: 400;
}

.gpu-list ul li span
{
    display: block;
    font-size: 16px;
    line-height: 30px;
    padding: 0px 0px 25px 0px;
}

.gpu-list ul li span a
{
    color: #7dc9dd;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.gpu-list ul li span a:hover
{
    color: #a785e7;
}

.top-gray-strip
{
    display: block;
    background: url(../images/top-gray-strip.svg) top center no-repeat;
    height: 169px;
}

.features-main
{
    position: relative;
    /* margin-top: -43px; */
}

.features-content
{
    background: #f8f8f8;
}

/*.features-content h2
{
    padding: 70px 0px 55px 0px;
}*/

.three-cols-row ul,
.features-row ul
{
    display: flex;
    justify-content: center;
    padding: 0px 0px 56px 0px;
}

.three-cols-row ul li,
.features-row ul li
{
    list-style: none;
    text-align: center;
    width: 39%;
    padding: 0px 40px;
}

.three-cols-row ul li h3,
.features-row ul li h3
{
    font-size: 36px;
    line-height: 43px;
    color: #36c9dd;
    display: block;
    font-weight: 400;
    padding: 26px 0px 20px 0px;
    text-align: center;
}

.three-cols-row ul li p,
.features-row ul li p
{
    font-size: 16px;
    line-height: 30px;
    color: #666666;
}

.community-main h2
{
    padding: 0px 0px 35px 0px;
}

section.community-main p
{
    padding-bottom: 40px;
}

.community-content-inner
{
    text-align: center;
}

.contributing-logos
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
}

.contributing-logo
{
    flex: 0 0 25%;
    color: #666666;
    font-size: 24px;
    line-height: 42px;
    font-weight: 300;
    text-align: center;
    padding: 0px 15px 30px 15px;
}

.contributing-partner h3
{
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    color: #a785e7;
    text-align: center;
    display: block;
    padding: 70px 0px 40px 0px;
}

.footer-cta-main
{
    background: #7400ff;
    padding: 106px 0px;
    text-align: center;
}

.footer-cta-main h2
{
    color: #FFF;
    padding: 0px 0px 10px 0px;
}

.footer-cta-main p
{
    color: #FFF;
    font-size: 24px;
    line-height: 42px;
    font-weight: 300;
    padding: 0px 0px 25px 0px;
}

footer
{
    background: url(../images/footer-bg.png) top center no-repeat;
    padding: 100px 0 0 0;
}

.footer-content
{
    display: flex;
    padding: 40px 0 0 0;
}

.footer-nav
{
    padding: 0px 90px 0px 0px;
}


.footer-nav ul li
{
    list-style: none;
    padding: 0px 0px 10px;
}

.footer-nav ul li a
{
    color: #7400ff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.footer-nav ul li a:hover
{
    color: #000;
}

.social-title
{
    display: block;
    font-size: 24px;
    color: #7400ff;
    font-weight: 300;
    padding: 0px 0px 16px 0px;
}

.footer-social a
{
    padding: 0px 30px 0px 0px;
}

.footer-copy
{
    font-size: 12px;
    color: #7400ff;
    display: block;
    padding: 50px 0px 20px 0px;
}

.footer-copy a
{
    color: #7400ff;
    padding: 0px 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.footer-copy a:hover
{
    color: #000;
}

.footer-copy a:first-child
{
    color: #7400ff;
    padding-left: 40px;
}

.footer-copy a:hover
{
    color: #000;
}


.footer-copy span
{
    color: #7400ff;
}

.contributing-partner
{
    padding-bottom: 40px;
}

/*------ Start Community page -------------*/

h1
{
    font-size: 60px;
    font-weight: 600;
    color: #FFF;
}

.community-page h4
{
    padding-top: 2px;
}

section.contact-rapids h2
{
    padding: 0px 0px 10px 0px;
}

.sub-heading
{
    text-align: center;
    max-width: 1050px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 300;
    color: #666;
}

.contact-options-row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0 0 0;
}

.contact-opt-box
{
    text-align: center;
    flex: 0 0 35%;
    padding: 0px 40px;
}

.contact-icon
{
    height: 80px;
}

.contact-opt-box h3
{
    font-size: 36px;
    color: #36c9dd;
    font-weight: 400;
    padding: 15px 0px 10px 0px;
}

section.contact-rapids .contact-opt-box p
{
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
    color: #666666;
    padding: 0px 0px 36px 0px;
}

section.rapids-adopter
{
    background: url(../images/bottom-gray-strip.svg) bottom center no-repeat;
    background-size: auto 169px;
    padding-bottom: 168px;
}

.rapids-adopter-container
{
    background: #f8f8f8;
}

.top-main-gray-strip
{
    display: block;
    background: url(../images/top-main-gray-strip.svg) bottom center no-repeat;
    height: 169px;
    position: relative;
    bottom: -2px;
}

.rapids-adopter h3
{
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    color: #a785e7;
    text-align: center;
    display: block;
    padding: 30px 0px 40px 0px;
}

.rapids-adopter .contributing-logo
{
    flex: 0 0 20%;
}

.no-padding-botton
{
    padding-bottom: 0px !important;
}

/*------ End Community page -------------*/


/*------ Start Documentation page -------------*/

.intro-content h2,
.getting-started-small-warp h2
{
    padding-bottom: 25px;
}

.getting-started-small-warp
{
    max-width: 845px;
    margin: 0 auto;
    display: block;
}

.getting-started-small-warp .intro-text p
{
    font-size: 24px;
    font-weight: 300;
    line-height: 42px;
    color: #666666;
    padding: 0px 0px 30px 0px;
}

.getting-started-small-warp p
{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #888888;
    padding-bottom: 35px;   
}

.programing-box
{
    border: 1px solid #d3d3d3;
    padding: 20px;
    margin: 0px 0px 30px 0px;
}

.programing-box p
{
    font-size: 16px;
    line-break: 24px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}

div.highlighter-rouge
{
    background: #ffffff;
    border: 1px solid #d3d3d3;
    padding: 20px;
    margin: 0px 0px 30px 0px;
}

div.highlighter-rouge div pre
{
    font-size: 18px;
    line-break: 24px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}

.documentation-gray
{
    background: url(../images/bottom-gray-strip.svg) bottom center no-repeat;
    background-size: auto 169px;
    padding-bottom: 168px;
}

.documentation-inner-content
{
    background: #f8f8f8;
    padding-bottom: 40px;
}

.documentation-gray-top
{
    display: block;
    background: url(../images/top-main-gray-strip.svg) bottom center no-repeat;
    height: 169px;
    position: relative;
    bottom: -2px;
}

.getting-started-small-warp h3
{
    font-size: 30px;
    line-height: 46px;
    font-weight: 400;
    color: #a785e7;
    text-align: left;
    display: block;
    padding: 30px 0px 10px 0px;
}

.getting-started-small-warp h3.large
{
    font-size: 36px;
}

.getting-started-small-warp ul
{
    display: block;
    padding: 4px 0px 30px 0px;
}

.getting-started-small-warp ul li
{
    display: block;
    background: url(../images/list-item-icon.svg) 0px 12px no-repeat;
    font-size: 16px;
    line-break: 22px;
    padding: 2px 0px 2px 12px;
    color: #888888;
}

.getting-started-small-warp ul li ul
{
    padding: 4px 0px 0px 30px;
}

.getting-started-small-warp ul li a
{
    color: #36c9dd;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.getting-started-small-warp ul li a:hover
{
    color: rgb(116, 0, 255);
}

.getting-started-small-warp ul li span
{
    background: #e8dff9;
    padding: 0 4px;
}

.getting-started-small-warp ul li pre
{
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
}

.purple-text-box
{
    border: 1px solid #d3d3d3;
    padding: 20px;
    margin: 0px 0px 30px 0px;
}

.purple-text-box p
{
    padding: 0px;
    color: #a785e7;
}

#nav-fixed
{
    position: absolute;
    top: -94px;
    width: 100%;
    padding: 34px 0 30px 0;
    background: #000;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: url(../images/header-bg.svg) top center no-repeat;
    box-shadow: 4px 1px 11px rgba(0, 0, 0, 0.20);
    background-position-y: -80px;
}

#nav-fixed.position-fixed{
    position:fixed;
    padding: 12px 0 12px 0;
    display: block;
     margin-top: 0;
    top:0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*------ End Documentation page -------------*/

.footer-help-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 0;
}

.footer-help-box
{
    padding: 0px 30px;
}

.footer-help-box-image img
{
    min-height: 82px;
    align-items: center;
    justify-content: center;
    max-height: 82px;
}

.footer-help-box p
{
    font-size: 35px;
    display: block;
    font-weight: 400;
    padding: 20px 0px 30px;
}

/* .documentation-page .branding h4
{
    padding-top: 0px;
} */

.documentation-page .intro-text p
{
    text-align: center;
}

.programing-box.white-box
{
    background: #FFF;
}

p.no-padding-bottom
{
    padding-bottom: 0px;
}

.getting-started-small-warp h4
{
    display: block;
    text-align: left;
    font-size: 22px;
    line-height: 26px;
    color: #a785e7;
    padding-bottom: 15px;
}

/* new selector */
div.selector {
    width: 100%;
    display: flex;
}
.selector div.labels {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.selector div.options div {
    display: flex;
    flex-direction: row;
}
.selector div.label {
    background: transparent;
    text-align: left;
    padding: 0.25em;
    margin: 0.25em;
    flex: 1 1;
    color: #d3d3d3;
    font-size: 18px;
    font-weight: 600;
}
.selector div.option {
    background: #e3e3e3;
    text-align: center;
    padding: 0.25em 0 0.25em 0.75em;
    margin: 0.25em;
    flex: 1 1;
    font-size: 18px;
    cursor: pointer;
}
.selector div.cmd {
    cursor: text;
    background: #fff;
    padding: 0.25em 0 0.25em 0.75em;
    margin: 0.25em;
    flex: 1 1;
    font-size: 18px;
}
.selector div.cmd pre {
    line-height: 24px;
    padding: 1em;
    text-align: left;
}
.selector div.active {
    background: #36c9dd;
    font-size: 18px;
    font-weight: 600;
}

.selector div.disabled {
    background: #a785e7;
    cursor: not-allowed;
    font-weight: 400;
}

.selector div.output {
    padding-top: 0.5em;
}

.selector div.preferred .option {
    background: transparent;
    padding: 0.25em 0;
}

.selector div.preferred span {
    width: 100%;
    color: #eee;
    font-weight: 900;
}

#more-details {
    margin-left: 4em;
}

.hidden {
    display: none;
}

.noselect, div.option, .primary-btn, a.blue-btn, .primary-btn {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}


@media only screen and (max-width: 1180px)  {

    .rapids-perfomance ul li
    {
        padding: 0px 25px 50px;
    }

    .apache-arrow-inner
    {
        max-width: 950px;
    }
    
}


@media only screen and (max-width: 1024px)  {

    .contributing-logo, .rapids-adopter .contributing-logo
    {
        flex: 0 0 33%;
    }

    .features-content h2
    {
        padding: 20px 0px 55px 0px;
    }

    .contact-opt-box
    {
        flex: 0 0 50%;
    }

    .footer-help-box p
    {
        font-size: 30px;
    }

}


@media only screen and (max-width: 991px)  {

    section.about-rapids h2 + p
    {
        padding: 0 50px;
        font-size: 22px;
    }

    .rapids-perfomance ul li
    {
        padding: 0px 10px 50px;
    }

    .fixed-content
    {
        padding: 0px 30px;
    }

    section.community-main p
    {
        padding-left: 50px;
        padding-right: 50px;
    }

    h2
    {
        font-size: 38px;
    }

    .footer-help-section
    {
        justify-content: space-between;
    }

    .footer-help-box
    {
        padding: 0px 25px;
    }

    .footer-help-box p
    {
        padding: 10px 0px 10px;
        font-size: 30px;
    }

    .footer-help-section
    {
        flex-wrap: wrap;
    }

    .footer-help-box
    {
        flex: 0 0 50%;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    .footer-cta-main
    {
        padding: 60px 0px;
    }

}


@media only screen and (max-width: 767px)  {

    header
    {
        padding: 34px 20px 0px;
        min-height: 420px;
        background-position: bottom left;
        margin-bottom: 20px;
    }

    section.about-rapids h2
    {
        padding: 0px 0px 20px 0px;
    }

    .branding
    {
        padding: 80px 0 0 0;
    }

    .home-page .branding .logo
    {
        padding-bottom: 20px;
    }

    header h4
    {
        font-size: 22px;
    }

    .gpu-list
    {
        flex-direction: column;
    }
    .gpu-list ul
    {
        width: 100%;
    }

    .rapids-perfomance ul
    {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .rapids-perfomance ul li
    {
        padding: 80px 10px 0px;
    }

    .rapids-perfomance ul li:first-child
    {
        padding-top: 0px;
    }

    .perfomance-box
    {
        max-width: 100%;
    }

    .features-row ul
    {
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .features-row ul li
    {
        max-width: 600px;
        width: 100%;
        padding: 0 0 50px 0;
    }

    .features-row ul li h3 br
    {
        display: none;
    }

    .contributing-logo, .rapids-adopter .contributing-logo
    {
        flex: 0 0 50%;
        padding: 10px 20px;
    }

    .fixed-content
    {
        display: block;
        padding: 0px 20px;
    }

    section.about-rapids h2 + p
    {
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
        padding: 0px;
    }

    .features-row ul li h3
    {
        font-size: 25px;
        line-height: 30px;
        font-weight: 600;
        padding: 10px 0px 12px 0px;
    }

    .features-row ul li p
    {
        font-size: 15px;
        line-height: 24px;
    }

    h2
    {
        font-size: 30px;
        font-weight: 600;
    }

    footer
    {
        padding: 50px 0 0 0;
    }

    .footer-content
    {
        padding: 20px 0 0 0;
    }

    .footer-nav
    {
        padding: 0px 90px 20px 0px;
    }

    .footer-nav ul li a
    {
        line-height: 22px;
    }

    .footer-content
    {
        flex-direction: column;
    }

    .contributing-logos
    {
        padding: 0px;
    }

    .contributing-logo
    {
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 400;
    }

    .footer-cta-main
    {
        padding: 40px 0px;
    }

    .contributing-partner h3, .rapids-adopter h3
    {
        font-size: 24px;
        padding-bottom: 20px;
    }

    .contributing-partner h3
    {
        padding-top: 40px;
    }

    .rapids-adopter h3
    {
        padding-top: 0px;
    }

    section.community-main p
    {
        font-size: 18px;
        padding: 0px 0px 30px 0px;
        line-height: 27px;
    }

    .top-gray-strip
    {
        height: 80px;
    }

    section.gpu-pipeline
    {
        padding-bottom: 99px;
    }

    .features-content h2
    {
        padding: 0px 0px 45px 0px;
    }

    .gpu-pipeline .fixed-content
    {
        margin-top: -30px;
        position: relative;
        z-index: 100;
    }

    h1
    {
        font-size: 38px;
    }

    .contact-opt-box
    {
        flex: 0 0 100%;
        padding: 60px 0 0 0;
    }

    .contact-opt-box:first-child
    {
        padding-top: 0px;
    }

    .contact-opt-box h3
    {
        padding-top: 5px;
    }

    .contact-icon
    {
        height: auto;
    }

    .top-main-gray-strip
    {
        background-size: auto 100%;
        height: 69px;
        margin-top: 30px;
    }

    .community-main h2
    {
        padding: 0px 0px 25px 0px;
    }

    section.rapids-adopter
    {
        padding-bottom: 90px;
        /* margin-bottom: -65px; */
    }

    .documentation-gray-top
    {
        height: 70px;
    }

    .documentation-inner-content
    {
        padding-top: 20px;
    }

    .getting-started-small-warp h3
    {
        font-size: 24px;
        line-height: 28px;
    }

    nav
    {
        margin: 0 -10px 0 -10px;
    }

    nav ul li
    {
        font-size: 12px;
        font-weight: 600;
        display: inline-block;
        padding: 0px 8px;
        margin: 0px;
    }

    #nav-fixed nav ul
    {
        display: block;
    }

    #nav-fixed nav ul li:first-child
    {
        display: block;
    }
    
    #nav-fixed nav ul li:first-child a img
    {
        max-width: 90px;
    }

    #nav-fixed
    {
        top: -110px;
        justify-content:center;
    }

    .footer-help-section
    {
        flex-wrap: wrap;
        padding: 0 0 0 0px;
    }

    .footer-help-box
    {
        padding: 20px 0px;
        flex: 0 0 100%;
    }

    .footer-help-box-image
    {
        min-height: 0px;
    }

    .footer-help-box-image img
    {
        max-height: 60px;
    }

    .footer-help-box p
    {
        padding: 10px 0px 10px;
    }

    .getting-started-small-warp .intro-text p
    {
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
    }

    .top-purple-strip
    {
        bottom: -36px;
    }

    .Pipeline-Diagram
    {
        padding: 40px 0 0 0;
    }

    .gpu-list ul li
    {
        font-size: 22px;
        line-break: 26px;
        font-weight: 600;
    }

    .gpu-list ul li span
    {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 20px;
    }

    .footer-cta-main h2
    {
        font-size: 24px;
    }

    .footer-cta-main p
    {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        padding-bottom: 15px;
    }

    .footer-cta-main .footer-help-box p
    {
        font-size: 22px;
    }

    .community-page header
    {
        background-position: bottom left;
        margin-bottom: 40px;
    }

    .sub-heading
    {
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
    }

    .documentation-gray
    {
        padding-bottom: 88px;
    }

}
