{{ $no_slant := slice "docs" }}
{{ if not (in $no_slant $.Page.Type) }}
<div class="top-slant-container">
    <div class="top-slant-up bg-rapids-purple-secondary"></div>
</div>
{{ end }}

<footer class="row footer bg-rapids-purple-secondary">
    <div class="col">
        <div class="footer-row text-center">
            <img class="footer-logo" src='{{ (resources.Get "images/RAPIDS-logo-white-only.png").RelPermalink }}'>
        </div>
        <div class="footer-row text-center">
            <a class="footer-item" href="/slack-invite" target="_blank"><i class="fa-brands fa-slack"></i> Slack</a>
            <span class="footer-item"> | </span>
            <a class="footer-item" href="https://stackoverflow.com/tags/rapids" target="_blank" ><i class="fa-brands fa-stack-overflow"></i> Stack Overflow</a>
            <span class="footer-item"> | </span>
            <a class="footer-item" href="https://twitter.com/rapidsai" target="_blank" ><i class="fa-brands fa-twitter"></i> X/Twitter</a>
        </div>
        <br>
        <div class="footer-row text-center">
            <a class="footer-item" href="/"><i class="fa-regular fa-house-blank"></i> Home</a>
            <span class="footer-item"> | </span>
            <a class="footer-item" href="/ecosystem"><i class="fa-light fa-chart-network"></i> Ecosystem</a>
            <span class="footer-item"> | </span>
            <a class="footer-item" href="/learn-more"><i class="fa-regular fa-circle-info"></i> Learn More</a>
            <span class="footer-item"> | </span>
            <a class="footer-item" href="/news"><i class="fa-light fa-newspaper"></i> News</a>
            <span class="footer-item"> | </span>
            <a class="footer-item" href="https://docs.rapids.ai/user-guide" target="_blank" ><i class="fa-light fa-hand-point-right"></i> User Guides</a>
            <span class="footer-item"> | </span>
            <a class="footer-item" href="https://docs.rapids.ai/install" target="_blank" ><i class="fa-light fa-download"></i> Install</a>
            <span class="footer-item"> | </span>
            <a class="footer-item" href="https://docs.rapids.ai/" target="_blank" ><i class="fa-light fa-file-code"></i> Docs</a>
            <span class="footer-item"> | </span>
            <a class="footer-item" href="https://github.com/rapidsai" target="_blank" ><i class="fa-brands fa-github"></i> GitHub</a>
        </div>
        <div class="footer-row text-center">
            <a class="footer-item" href="/cudf-pandas"><i class="fa-light fa-gauge-circle-bolt"></i> cuDF pandas</a>
            <span class="footer-item"> | </span>
            <a class="footer-item" href="/cudf-polars"><i class="fa-light fa-gauge-circle-bolt"></i> cuDF Polars</a>
        </div>
        <div class="footer-row text-center">
            <a class="footer-item" href="https://medium.com/rapids-ai" target="_blank"><i class="fa-regular fa-message-quote"></i> RAPIDS Blog</a>
            <span class="footer-item"> | </span>
            <a class="footer-item" href="https://developer.nvidia.com/blog/" target="_blank"><i class="fa-regular fa-message-quote"></i> NVIDIA Dev Blog</a>
            <span class="footer-item"> | </span>
            <a class="footer-item" href="https://docs.rapids.ai/notices" target="_blank"><i class="fa-light fa-triangle-exclamation"></i> Support Notices</a>
        </div>
        <div class="footer-row text-center">
            <a class="footer-item" href="/branding"><i class="fa-regular fa-object-group"></i> Branding and Guides</a>
            <span class="footer-item"> | </span>
            <a class="footer-item" href="https://www.nvidia.com/en-us/about-nvidia/privacy-policy/" target="_blank"><i class="fa-light fa-face-disguise"></i> Privacy</a>
        </div>

        <div class="footer-row text-center text-white"><br>
            <strong>© Copyright NVIDIA Corporation {{ now.Format "2006" }}</strong>
        </div>
    </div>
</footer>
