<div class="navbar is-fixed-top has-shadow has-background-rapids-purple-primary" role="navigation" aria-label="main navigation">
    
    <div x-data="{}">
      <div class="navbar-brand">
          <a class="navbar-item" href="/">
              <img src="/images/RAPIDS-logo.png">
          </a>

            <a class="navbar-burger has-text-white" aria-label="menu" aria-expanded="false"
                x-on:click="document.getElementById('navMenu').classList.toggle('is-active');">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
          </a>

      </div>
    </div>

    <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">

            <div class="navbar-item has-dropdown is-hoverable has-text-white">
                <a class="navbar-link has-text-white" href="/ecosystem">Ecosystem </a>
              
                  <div class="navbar-dropdown">
                    <a href="/ecosystem#overview" class="navbar-item has-text-white">Overview </a>
                    <a href="/ecosystem#hardware" class="navbar-item has-text-white">Hardware </a>
                    <a href="/ecosystem#software" class="navbar-item has-text-white">Software </a>
                    <a href="/ecosystem#developers" class="navbar-item has-text-white">Developers </a>
                  </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable has-text-white">
                <a class="navbar-link has-text-white" href="/learn-more">Learn More </a>
              
                  <div class="navbar-dropdown">
                    <a href="/learn-more#about" class="navbar-item has-text-white">About RAPIDS </a>
                    <a href="/learn-more#use-cases" class="navbar-item has-text-white">Use Cases </a>
                    <a href="/learn-more#get-involved" class="navbar-item has-text-white">Get Involved </a>
                  </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable has-text-white">
                <a class="navbar-link has-text-white" href="/news"> News </a>
              
                  <div class="navbar-dropdown">
                    <a href="/featured" class="navbar-item has-text-white">Featured Content </a>
                    <a href="https://medium.com/rapids-ai" target="_blank" class="navbar-item has-text-white">Blog Posts </a>
                    <a href="https://docs.rapids.ai/notices" target="_blank" class="navbar-item has-text-white">Service Notices </a>
                  </div>
            </div>

            <a class="navbar-item navbar-link is-arrowless has-text-white" href="https://docs.rapids.ai/user-guide" target="_blank">User Guides </a>

            <a class="navbar-item navbar-link is-arrowless has-text-white" href="https://docs.rapids.ai/install" target="_blank">Install </a>

            <a class="navbar-item navbar-link is-arrowless has-text-white" href="https://docs.rapids.ai/" target="_blank">Docs </a>

            <a class="navbar-item navbar-link is-arrowless has-text-white" href="https://github.com/rapidsai" target="_blank">GitHub </a>
        </div>
    </div>

</div>