<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ page.og_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="fb:app_id" content="1679326302390196"/>
    <meta property="og:title" content="{{ page.og_title }}"/>
    <meta property="og:type" content="Website"/>
    <meta property="og:description" content="{{ page.og_description }}"/>
    <meta name="og:site_name" content="RAPIDS"/>
    <meta property="og:image" content="https://rapids.ai/images/og_image.png"/>
    <meta property="og:image:secure_url" content="https://rapids.ai/images/og_image.png"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="400"/>
    <meta property="og:image:height" content="300"/>
    <meta property="og:image:alt" content="RAPIDS Logo"/>

    <meta name="twitter:site" content="https://twitter.com/rapidsai"/>
    <meta name="twitter:card" content="{{ page.og_title }}"/>
    <meta name="twitter:image" content="https://rapids.ai/images/og_image.png"/>
    <meta name="twitter:creator" content="@RAPIDSAI"/>
    <meta name="twitter:title" content="{{ page.og_title }}"/>
    <meta name="twitter:description" content="{{ page.og_description }}"/>

    <title>{{ page.title }}</title>

    <link rel='shortcut icon' type='image/x-icon' href='assets/favicon.ico' />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $(window).scroll(function () {
        if ($(window).scrollTop() > $('#header-2').offset().top && !($('#header-2').hasClass('position-fixed'))) {
          $('#header-2').addClass('position-fixed');
        } else if ($(window).scrollTop() == 0) {
          $('#header-2').removeClass('position-fixed');
        }
      });
    </script>
</head>
<body class="documentation-page">
<div id="header-2" class="">
    <nav>
        <ul>
            <li class="active"><a href="https://rapids.ai/index.html"><img src="assets/images/rapids-logo.svg" alt="" width="110" title=""></a>
            </li>
            <li><a href="documentation.html">GETTING STARTED</a></li>
            <li><a href="community.html">COMMUNITY</a></li>
            <li><a href="https://github.com/RAPIDSai" target="_blank">GITHUB</a></li>
            <li><a href="https://medium.com/rapids-ai" target="_blank">BLOG</a></li>
        </ul>
    </nav>
</div>
<header>
    <nav>
        <ul>
            <li><a href="https://rapids.ai/index.html">HOME</a></li>
            <li><a href="documentation.html">GETTING STARTED</a></li>
            <li><a href="community.html">COMMUNITY</a></li>
            <li><a href="https://github.com/RAPIDSai" target="_blank">GITHUB</a></li>
            <li><a href="https://medium.com/rapids-ai" target="_blank">BLOG</a></li>
        </ul>
    </nav>
    <div class="branding">
        <div class="logo">
            <a href="https://rapids.ai/index.html"> <img src="assets/images/rapids-logo.svg" alt="" title=""></a>
        </div>
        <h1>{{ page.brand_name }}</h1>
        <h4>{{ page.brand_tagline }}</h4>
        <a href="{{ page.brand_link }}" class="blue-btn">{{ page.brand_button }}</a>
    </div>
</header>

{{ content }}

<footer>
    <div class="fixed-content">
        <a href="https://rapids.ai/index.html"><img src="assets/images/footer-logo.svg" alt="rapids"></a>
        <div class="footer-content">
            <div class="footer-nav">
                <ul>
                    <li><a href="documentation.html">GETTING STARTED</a></li>
                    <li><a href="community.html">COMMUNITY</a></li>
                    <li><a href="https://github.com/RAPIDSai" target="_blank">GITHUB</a></li>
                    <li><a href="https://medium.com/rapids-ai" target="_blank">BLOG</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <div class="social-title">Stay Connected</div>
                <a href="mailto:RAPIDSai@googlegroups.com"> <img src="assets/images/facebook.svg" alt="facebook"> </a>
                <a href="https://twitter.com/rapidsai" target="_blank"> <img src="assets/images/Twitter.svg" alt="twitter"> </a>
            </div>
        </div>

        <div class="footer-copy">
            <p>©2018 RAPIDS</p>
        </div>
    </div>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127041178-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127041178-1');
</script>
</body>
</html> 
