<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Software for executing end-to-end data science training pipelines completely in GPUs.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="fb:app_id" content="1679326302390196"/>
    <meta property="og:title" content="RAPIDS: A Data Science & Analytics Pipeline Accelerator"/>
    <meta property="og:type" content="Website"/>
    <meta property="og:description" content="A suite of software libraries for executing end-to-end data science completely on GPUs"/>
    <meta name="og:site_name" content="RAPIDS"/>
    <meta property="og:image" content="https://rapids.ai/images/og_image.png"/>
    <meta property="og:image:secure_url" content="https://rapids.ai/images/og_image.png"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="400"/>
    <meta property="og:image:height" content="300"/>
    <meta property="og:image:alt" content="RAPIDS logo"/>

    <meta name="twitter:site" content="RAPIDS"/>
    <meta name="twitter:card" content="RAPIDS: Open Source GPU-Accelerated Data Science"/>
    <meta name="twitter:image" content="https://rapids.ai/images/og_image.png"/>
    <meta name="twitter:creator" content="@RAPIDSAI"/>
    <meta name="twitter:title" content="RAPIDS: GPU Acceleration for Data Science"/>
    <meta name="twitter:description" content="A new suite of software libraries for executing end-to-end data science training pipelines completely in GPUs. Learn more."/>

    <title>Open GPU Data Science | RAPIDS</title>

    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $(window).scroll(function () {
        if ($(window).scrollTop() > $('#header-2').offset().top && !($('#header-2').hasClass('position-fixed'))) {
          $('#header-2').addClass('position-fixed');
        } else if ($(window).scrollTop() == 0) {
          $('#header-2').removeClass('position-fixed');
        }
      });
    </script>

</head>
<body class="home-page">
<div id="header-2" class="">
    <nav>
        <ul>
            <li><a href="https://rapids.ai/index.html"><img src="images/rapids-logo.svg" alt="RAPIDS" title="RAPIDS" width="110" ></a></li>
            <li><a href="documentation.html">GETTING STARTED</a></li>
            <li><a href="community.html">COMMUNITY</a></li>
            <li><a href="https://github.com/RAPIDSai" target="_blank">GITHUB</a></li>
            <li><a href="https://medium.com/rapids-ai" target="_blank">BLOG</a></li>
        </ul>
    </nav>
</div>

<header>
    <nav>
        <ul>
            <li><a href="https://rapids.ai/index.html">HOME</a></li>
            <li><a href="documentation.html">GETTING STARTED</a></li>
            <li><a href="community.html">COMMUNITY</a></li>
            <li><a href="https://github.com/RAPIDSai" target="_blank">GITHUB</a></li>
            <li><a href="https://medium.com/rapids-ai" target="_blank">BLOG</a></li>
        </ul>
    </nav>
    <div class="branding">
        <div class="logo">
            <h1><a href="https://rapids.ai/index.html"> <img src="images/rapids-logo.svg" alt="RAPIDS" title="RAPIDS"></a></h1>
        </div>
        <h4>Open GPU Data Science</h4>
        <a href="documentation.html" class="blue-btn">GET STARTED</a>
    </div>
</header>

{{ content }}

<footer>
    <div class="fixed-content">
        <a href="https://rapids.ai/index.html"><img src="images/footer-logo.svg" alt="rapids logo"></a>
        <div class="footer-content">
            <div class="footer-nav">
                <ul>
                    <li><a href="documentation.html">GETTING STARTED</a></li>
                    <li><a href="community.html">COMMUNITY</a></li>
                    <li><a href="https://github.com/RAPIDSai" target="_blank">GITHUB</a></li>
                    <li><a href="https://medium.com/rapids-ai" target="_blank">BLOG</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <div class="social-title">Stay Connected</div>
                <a href="mailto:RAPIDSai@googlegroups.com"> <img src="images/facebook.svg" alt="facebook"> </a>
                <a href="https://twitter.com/rapidsai" target="_blank"> <img src="images/Twitter.svg" alt="twitter"> </a>
            </div>
        </div>

        <div class="footer-copy">
            <p>©2018 RAPIDS</p>
        </div>
    </div>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127041178-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127041178-1');
</script>
</body>
</html> 
