---
layout: short
---
{% capture section-post %}
## {{ page.title }}

##### {{ page.date | date_to_string }} - {{ page.author }}

{{ content }}

<p>
  <div class="tags">Tags 
    <ul>
      {% for tag in page.tags %}
        <li>{{ tag }}</li>
      {% endfor %}
    </ul>
  </div>
</p>
{% endcapture %}
{% include sec-white.html content=section-post %}

{% include cta-footer.html
  name="RAPIDS WANTS YOU"
  tagline="Check out our available job openings and join our team!"
  button="VIEW JOBS"
  link="jobs.html"
%}
