{% unless page.thumbnail contains 'http' %}
{% assign social_image = site.baseurl | append: page.thumbnail %} 
{% else %}
{% assign social_image = page.thumbnail %} 
{% endunless %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="fb:app_id" content="1679326302390196"/>
  <meta property="og:title" content="{{ page.title }} | RAPIDS"/>
  <meta property="og:type" content="Website"/>
  <meta property="og:description" content="{{ page.description }}"/>
  <meta name="og:site_name" content="RAPIDS"/>
  <meta property="og:image" content="{{ social_image }}"/>
  <meta property="og:image:secure_url" content="{{ social_image }}"/>
  <meta property="og:image:type" content="image/jpeg"/>
  <meta property="og:image:width" content="400"/>
  <meta property="og:image:height" content="300"/>
  <meta property="og:image:alt" content="RAPIDS Logo"/>

  <meta name="twitter:site" content="https://twitter.com/rapidsai"/>
  <meta name="twitter:card" content="{{ page.title }} | RAPIDS"/>
  <meta name="twitter:image" content="{{ social_image }}"/>
  <meta name="twitter:creator" content="@RAPIDSAI"/>
  <meta name="twitter:title" content="{{ page.title }} | RAPIDS"/>
  <meta name="twitter:description" content="{{ page.description }}"/>

  <title>{{ page.title }} | RAPIDS</title>

  <link rel='shortcut icon' type='image/x-icon' href='{{ site.baseurl }}{% link /assets/favicon.ico %}' />

  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link /assets/css/highlight.css %}">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link /assets/css/custom.css %}">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <script src="https://kit.fontawesome.com/1690513e32.js"></script> 
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  {% include head-adobe-analytics.html %}
</head>
<body>
<header class="header-short">
  <div id="nav-fixed" class="position-fixed">
    {% include nav.html %}
  </div>
  <div class="header-branding">
    <div class="header-logo">
      <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{% link /assets/images/rapids-logo.svg %}" alt="RAPIDS logo"></a>
    </div>
    <h1 class="header-tagline">{{ page.tagline }}</h1>
  </div>

</header>

<section class="posts-container">
  <div class="posts-tag">
      <a href="{{ site.baseurl }}/blog.html" class="post-tag-item"> <i class="fas fa-angle-double-left"></i> back </a>
      {% for tagname in page.tags %}
        <a href="{{ site.baseurl }}/tag/{{ tagname }}" class="post-tag-item">{{ tagname }}</a>
      {% endfor %}
  </div>
  <h1>{{ page.title }}</h1>
  <div class="posts-date"> <i class="far fa-calendar"></i> {{ page.date | date_to_string }} </div>
  <div class="posts-author">
      {% assign authorlist = page.author | split: ", " %}
      {% for person in authorlist %}
        {% assign author = site.authors | where: 'short_name', person | first %}
        {% if author %}
          <i class="fas fa-pen"></i> <a href="{{ site.baseurl }}{{ author.url }}">{{ author.name }}</a> &nbsp;
        {% else %}
          <i class="fas fa-pen"></i> {{ person }} &nbsp;
        {% endif %}
      {% endfor %}
  </div>
  {% include blogs-image.html name=page.title link=page.thumbnail %}
  {{ content }}
</section>

{% include tag-list.html %}

{% include footer.html %}
{% include footer-google-analytics.html %}
{% include footer-adobe-analytics.html %}
</body>
</html> 
