<!-- Announcements -->
<section class="hero-announce-container">
    {{ if isset .Params "text-1" }}
    <a href="{{ .Get "link-1" }}" class="hero-announce">
        <span class="announce-icon"><i class="fa-regular fa-bell"></i></span>
        <button class="button-rapids-purple">
            {{ .Get "text-1" }}
        </button>
    </a>
    {{ end }}
    {{ if isset .Params "text-2" }}
    <a href="{{ .Get "link-2" }}"  class="hero-announce">
        <span class="announce-icon"><i class="fa-regular fa-bell"></i></span>
        <button class="button-rapids-purple"> 
            {{ .Get "text-2" }}
        </button>
    </a>
    {{ end }}
    {{ if isset .Params "text-3" }}
    <a href="{{ .Get "link-3" }}"  class="hero-announce">
        <span class="announce-icon"><i class="fa-regular fa-bell"></i></span>
        <button class="button-rapids-purple"> 
            {{ .Get "text-3" }}
        </button>
    </a>
    {{ end }}
</section>
