<!-- Posts -->
<div>
  <div class="container">
    <h2 class="mt-5"><i class="fa-regular fa-message-quote"></i> Latest Posts </h2>

    {{ range $index, $post := first 6 $.Site.Data.posts.medium }}
    {{ if (modBool $index 3) }}
      {{ $cssModifier := "mt-5" }}
      {{ if (eq $index 0) }}
        {{ $cssModifier = "" }}
      {{end}}
    <div class='row {{ $cssModifier }}'>
    {{end}}
      <div class="col-md-4">
        <a href="{{ .link }}" target="_blank">
          <h3>
            {{ .title }} <i class="fa-solid fa-arrow-up-right"></i>
          </h3>
          <p class="post-text">
            <i class="fa-sharp fa-solid fa-quote-left has-text-rapids-purple-secondary2"></i>
            &nbsp;
            {{ .text}}
            &nbsp;
            <i class="fa-sharp fa-solid fa-quote-right has-text-rapids-purple-secondary2"></i>
            <br>
            <span class="post-action">Post by {{ .poster }}</span>
          </p>
        </a>
      </div>
    {{ if (eq (mod $index 3) 2) }}
    </div>
    {{ end }}
    {{ end }}
  </div>
</div>
