<!-- Mini RSN only 3x -->
<div x-data="{ topResults: {} }" x-init="Papa.parse('https://docs.google.com/spreadsheets/d/e/2PACX-1vSPxywR0IGYZsCpqfdaEHNmx4LA9ADoeasCpScd79IhxlI44KjJUYTX52GCxMWgLwN6nEvUXOLDOj31/pub?output=csv', {
        download: true,
        header: true,
        complete: function(results) {
            topResults = results.data.slice(0,3)
    }})">
    <div class="container">
        <h2><i class="fa-light fa-square-code"></i> Latest Service Notices</h2>

        <div class="columns">
            <template x-for="notices in topResults">
                <div class="column is-one-third">
                    <h3> <span x-text="notices.Index"></span>: <span x-text="notices.Status"></span>  </h3>
                    <h3> <span x-text="notices.Title"></span> </h3>
                    <p> <span x-text="notices.Overview"></span> </p>
                    <a href="/notices/" target="_blank"> Full RSN List <i class="fa-solid fa-arrow-up-right"></i></a>
                </div>
            </template>
        </div>
    </div>

</div>